.card {
	background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 20px;
    transition: border 0.2s ease-in-out 0s;
}
.card .date{
	color:#ccc;
}
.card .head-title{
	margin-bottom:20px !important;
}
.card p{
	color:#777;
}
.card a{
	/*color:#43b02a !important;*/
	color: #f99516 !important;
}
.card img{
    max-width: 100%;
    height: auto;
}
.bootstrap-select{
	border: 1px solid #f99516;
}
.card-right h3{
	color:#444;
}
.card-right a{
	color:#999;
}
.card-right ul li{
	list-style-type:none;
	padding:5px;
	color:#999;
}
.card-right ul{
	padding:0px !important;
}
textarea:focus, input:focus {
	outline: none;
}
.weight {
    color: #777;
    vertical-align: top;
}
.classification-img > img {
    padding: 5px !important;
    width: 5rem !important;
    margin-top:10px;
}
.classification-img-detail > img {
    padding: 5px;
    width: 5rem;
}
.classification-img-detail {
    margin-bottom: 20px;
}
*:focus {
	outline: none;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	background-color: #fafafa;
}

a {
	/* color: #2a2a2a; */
	text-decoration: none;
}

a:hover, a:active, a:focus {
	text-decoration: none;
}

.text-green {
	/*color: #43b02a;*/
	color: #f99516;
}

.text-orange {
	color: #f99516;
}

.text-orange, a:hover {
	color: #f99516;
}

.text-thin {
	font-weight: 300;
}

.text-regular {
	font-weight: 400;
}

.text-semi {
	font-weight: 600;
}

.text-bold {
	font-weight: 700;
}

.text-md {
	font-size: 14px;
}

.text-lg {
	font-size: 27px;
}

.pad-0 {
	padding: 0;
}

.padL-0 {
	padding-left: 0;
}

.padR-0 {
	padding-right: 0;
}

.padT-0 {
	padding-top: 0;
}

.padL20 {
	padding-left: 20px;
}

.padR20 {
	padding-right: 20px;
}

.pad10 {
	padding: 10px;
}

.pad20 {
	padding: 20px;
}

.marTop-0 {
	margin-top: 0;
}

.marBot-0 {
	margin-bottom: 0;
}

.marLeft10 {
	margin-left: 10px;
}

.marTop20 {
	margin-top: 20px;
}

.marBot10 {
	margin-bottom: 10px;
}

.marBot20 {
	margin-bottom: 20px;
}

.mar0 {
	margin: 0;
}

.btn {
	border: 0;
}

.btn-corner0 {
	border-radius: 0;
}

.btn-corner4 {
	border-radius: 4px;
}

.btn-md {
	padding: 10px 16px;
	line-height: 1.3333333;
	border-radius: 4px;
}

.btn-green {
	/*
	background-color: #43b02a;
	border: 2px solid #43b02a;
	*/
	background-color: #f99516;
	border: 2px solid #f99516;
	color: #fff;
}

.btn-green:hover, .btn-green:focus {
	/*
	background-color: #59c042;
	border: 2px solid #59c042;
	*/
	background-color: #f9b866;
	border: 2px solid #f9b866;
	color: #fff;
}

.btn-grey {
	background: #ebebeb;
	border: 1px solid #cccccc;
}

.btn-outline {
	background-color: #fff;
	/*border: 2px solid #43b02a;*/
	border: 2px solid #f99516;
	color: #2a2a2a;
}

.btn-outline:hover, .btn-outline:focus {
	/*
	background-color: #43b02a;
	border: 2px solid #43b02a;
	*/
	background-color: #f99516;
	border: 2px solid #f99516;
	color: #fff;
}

.btn-icon {
	line-height: 30px;
	padding: 5px 50px 3px 50px;
}

/*------------------------- ICON -------------------------*/
.icon-cart {
	background: url(../img/shopping-cart.png) no-repeat left;
	margin-right: 10px;
	width: 24px;
	height: 26px;
	display: block;
	float: left;
	margin-top: -2px;
}

.icon-shopcart {
	background: url(../img/cart.png) no-repeat left;
	margin-right: 10px;
	width: 24px;
	height: 24px;
	float: left;
}

.icon-account {
	background: url(../img/user.png) no-repeat left;
	margin-right: 10px;
	width: 24px;
	height: 24px;
	float: left;
}

.icon-list {
	background: url(../img/list.png) no-repeat left;
	width: 24px;
	height: 15px;
	display: table-cell;
	margin-top: -2px;
}

.icon-wishlist {
	background: url(../img/wishlist.png) no-repeat left;
	margin-right: 10px;
	width: 24px;
	height: 24px;
	float: left;
}

.icon-vegan{
	background: url(../img/icon-vegan.png) no-repeat left;
	width: 20px;
	height: 20px;
	float: left;
}

.icon-lacto{
	background: url(../img/icon-lacto.png) no-repeat left;
	width: 20px;
	height: 20px;
	float: left;
}

.icon-vegetarian{
	background: url(../img/icon-vegetarian.png) no-repeat left;
	width: 20px;
	height: 20px;
	float: left;
}

.icon-ovo{
	background: url(../img/icon-ovo.png) no-repeat left;
	width: 20px;
	height: 20px;
	float: left;
}

.thumbnail {
	border-radius: 0;
	position: relative;
}

.thumb-sm {
	padding: 6px;
}

.thumb-md {
	padding: 15px;
}

.navbar-default .navbar-toggle {
	border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{
	background-color: transparent;
}

.table-borderless tbody tr td, .table-borderless tbody tr th,
	.table-borderless thead tr th, .table-borderless thead tr td,
	.table-borderless tfoot tr th, .table-borderless tfoot tr td {
	border: none;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background: transparent;
}
/*---------------------------------------------
Topbar
----------------------------------------------*/
.topbar {
	background-color: #e9e9e9;
	font-size: 12px;
}

.topbar .navbar-nav>li>a {
	padding: 0 10px;
}

.topbar ul {
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.topbar .dropdown-menu {
	border: 1px solid #e0e2e3;
}

.topbar .navbar-nav .open .dropdown-menu {
	position: absolute;
	background: #fff;
	float: left;
	right: 0;
	left: inherit;
	width: 100%;
	/*-webkit-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.32); -moz-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.32); box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.32);*/
	border: 1px solid #e0e2e3;
}

.topbar .navbar-right>li>a {
	line-height: 24px;
}

.topbar .line:before {
	content: '';
	height: 50%;
	width: 1px;
	position: absolute;
	right: 0;
	top: 6px;
	background-color: #000000;
}
/*.topbar .navbar-nav > li{float: left;}*/
.topbar .navbar-nav>li>a {
	/*color: #43b02a;*/
	color: #f99516;
	display: inline-block;
}

.topbar .navbar-nav>li>a:hover, .topbar .navbar-nav>li>a:focus {
	background: transparent;
}

.topbar hr {
	margin: 5px 10px;
}

.topbar .drop-account {
	min-width: 200px;
	margin-top: 20px !important;
}

.topbar .drop-cart {
	min-width: 460px;
	margin-top: 20px !important;
}

.topbar .drop-account h4 {
	color: #636363;
}

.topbar .drop-account li {
	font-size: 15px;
}

.topbar .drop-account li a {
	line-height: 28px;
	color: #636363;
}

.topbar .drop-account li a:hover {
	background-color: transparent;
	/*color: #43b02a;*/
	color: #f99516;
	
}

.topbar .drop-account .current {
	/*color: #43b02a;*/
	color: #f99516;
}

.topbar .list-item {
	margin-bottom: 30px;
}

.topbar .desc-item {
	padding-left: 10px;
}

.topbar .search-item {
	padding-left: 10px;
}

.topbar .price-tags {
	font-size: 19px;
}

.topbar .search-price-tags {
	font-size: 19px;
}

.topbar .drop-cart .drop-item select {
	padding: 4px 10px;
}

.topbar .drop-cart .drop-item .quantity_box {
	margin-top: 10px;
	margin-bottom: 20px;
}

.topbar a.remove-item:hover {
	/*color: #43b02a;*/
	color: #f99516;
}

.topbar .thumb-item {
	width: 120px;
	float: left;
}

.topbar .search-image {
	width: 100px;
	float: left;
}

.topbar .desc-item {
	width: 180px;
	float: left;
}

.topbar .search-item {
	width: 250px;
	float: left;
}

.topbar .quantity-item {
	width: 100px;
	float: right;
}

.topbar .order-calc {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.topbar .order-total .btn {
	font-size: 19px;
}

.topbar .order-notice {
	margin-left: 20px;
}

.progressBarContainer {
	height: 5px;
	background: #e0e2e3;
	overflow: hidden;
	width: 260px;
	float: left;
	margin: 6px 10px;
}

.progressBarValue {
	height: 1.66em;
	float: left;
	/*background: #43b02a;*/
	background: #f99516;
}

.value-00 {
	width: 0;
}

.value-10 {
	width: 10%;
}

.value-20 {
	width: 20%;
}

.value-30 {
	width: 30%;
}

.value-40 {
	width: 40%;
}

.value-50 {
	width: 50%;
}

.value-60 {
	width: 60%;
}

.value-70 {
	width: 70%;
}

.value-80 {
	width: 80%;
}

.value-90 {
	width: 90%;
}

.value-100 {
	width: 100%;
}

.topbar .drop-account:after, .topbar .drop-account:before {
	left: 80%;
}

.topbar .drop-cart:after, .topbar .drop-cart:before {
	left: 92%;
}

.topbar .dropdown-menu:after, .topbar .dropdown-menu:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.topbar .dropdown-menu:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}

.topbar .dropdown-menu:before {
	border-color: rgba(224, 226, 227, 0);
	border-bottom-color: #e0e2e3;
	border-width: 11px;
	margin-left: -11px;
}

.topbar .navbar-left .navbar-nav>li>a {
	color: #2a2a2a;
}

.topbar .navbar-left .navbar-nav>li>a:hover {
	/*color: #43b02a;*/
	color: #f99516;
}

.custom-select {
	display: -moz-inline-stack;
	display: inline-block;
	min-width: 54px;
	height: 30px;
	border-radius: 0;
	border: 1px solid #dcdcdc;
	font-size: 14px;
	line-height: 1.42857143;
	position: relative;
}

.custom-select:before {
	position: absolute;
	right: 10px;
	top: 8px;
	font-size: 13px;
	pointer-events: none;
}

.np-ico-caret:before {
	content: "\f0d7";
	font-family: FontAwesome !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

select {
	width: 100%;
	font-size: 14px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background: 0 0;
}

select:focus {
	outline: 0;
}
/*---------------------------------------------
Header
----------------------------------------------*/
.navbar-brand {
	float: none;
	height: inherit;
	background-color: #fff;
}

.page-header {
	padding-bottom: 0px;
	margin: 0;
	border-bottom: 0;
	position: relative;
}

.page-header .title-caption {
	position: absolute;
	text-align: center;
	width: 100%;
	top: 25%;
	line-height: 36px;
	font-size: 25px;
}

.page-header {
	height: 252px;
	background: #e9e9e9 url(../img/head-lg.png) no-repeat;
	background-size: cover;
	background-position: center;
}
/*---------------------------------------------
Navigation
----------------------------------------------*/
.navbar {
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
}

.navbar-default {
	/*background-color: #43b02a;*/
	background-color: #f99516;
	border-color: transparent;
	-webkit-box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.19);
	box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.19);
	z-index: 50;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
	{
	color: #f9eb26;
	background-color: transparent;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
	color: #f9eb26;
	background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus,
	.navbar-default .navbar-nav>.open>a:hover {
	color: #f9eb26;
	background-color: transparent;
}

.navbar-default .navbar-nav>.open::after {
	position: absolute;
	bottom: 0;
	display: inline-block;
	border-right: 6px solid transparent;
	border-bottom: 6px solid white;
	border-left: 6px solid transparent;
	content: '';
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 100%;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 0;
	border-radius: 0;
	box-shadow: none;
}

.dropdown-large {
	position: static !important;
}

.dropdown-menu-large>li>ul {
	padding: 0;
	margin: 0;
}

.dropdown-menu-large>li>ul>li {
	list-style: none;
}

.dropdown-menu-large > li > ul > li.active a{
	/*color: #43b02a;*/
	color: #f99516;
	text-decoration:underline;
}

.dropdown-menu-large>li>ul>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-family: "Microsoft JhengHei";
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 12px;
	white-space: normal;
	line-height: 24px;
	color: #383838;
}

.dropdown-menu-large>li ul>li>a:hover, .dropdown-menu-large>li ul>li>a:focus
	{
	text-decoration: underline;
	color: #383838;
}

.dropdown-menu-large .disabled>a, .dropdown-menu-large .disabled>a:hover,
	.dropdown-menu-large .disabled>a:focus {
	color: #999999;
}

.dropdown-menu-large .disabled>a:hover, .dropdown-menu-large .disabled>a:focus
	{
	text-decoration: none;
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled= false);
	cursor: not-allowed;
}

.dropdown-menu-large .dropdown-header {
	color: #428bca;
	font-size: 18px;
}
/*------------------------------------------------
Site Content
-------------------------------------------------*/
.site-content {
	margin-top: 20px;
	margin-bottom: 50px;
}

.featured {
	padding: 30px 0 40px 0;
}

.featured ul {
	list-style-type: none;
	text-align: center;
	margin-bottom: 0;
}

.featured li {
	display: inline-block;
}

.featured h5 {
	/*color: #43b02a;*/
	color: #f99516;
	font-size: 16px;
}

.head-title {
	/*color: #43b02a;*/
	color: #f99516;
	margin-bottom: 30px;
}

.section-account .entry-title {
	margin-top: 0;
}

.section-account .account-profile .thumb-small {
	margin-bottom: 30px;
}

.section-account .account-setting {
	padding-bottom: 0;
}

.section-account .account-setting .entry-title {
	color: #636363;
}

.section-account .account-setting hr {
	margin-bottom: 0;
}

.section-account .account-setting ul {
	font-size: 16px;
}

.section-account .account-setting li {
	border-bottom: 1px solid #e0e2e3;
	padding: 10px 0;
}

.section-account .account-setting li:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}

.section-account .account-setting li a {
	color: #636363;
}

.section-account .account-setting li a:hover {
	/*color: #43b02a;*/
	color: #f99516;
}

.section-account .desc {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}

.section-account ul {
	list-style-type: none;
	padding-left: 0;
}

.section-account li {
	line-height: 30px;
}

.section-account .table {
	font-size: 14px;
}

.section-directory .pad20 {
	padding-left: 0;
	padding-right: 0;
}

.section-directory .nav-tabs {
	text-align: center;
	margin-bottom: 15px;
}

.section-directory .nav-tabs>li {
	border: 0;
	float: none;
	display: inline-block;
	height: 45px;
}

.section-directory .nav-tabs>li>a {
	font-weight: 600;
	font-size: 16px;
	border-radius: 0;
	margin-right: 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	background-color: transparent;
}

.section-directory .nav-tabs>li>a:hover {
	color: #2a2a2a;
	border-radius: 0;
	/*border-bottom: 3px solid #43b02a;*/
	border-bottom: 3px solid #f99516;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	background-color: transparent;
}

.section-directory .nav-tabs>li.active>a, .section-directory .nav-tabs>li.active>a:hover,
	.section-directory .nav-tabs>li.active>a:focus {
	color: #2a2a2a;
	border-radius: 0;
	/*border-bottom: 3px solid #43b02a;*/
	border-bottom: 3px solid #f99516;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	background-color: transparent;
}

.section-directory .tab-content ul, .section-directory .panel-body ul {
	list-style-type: none;
}

.section-directory .tab-content li, .section-directory .panel-body li {
	line-height: 24px;
	font-size: 12px;
	font-family: "Microsoft JhengHei";
}

.section-directory .tab-content li a:hover, .section-directory .tab-content li a:active,
	.section-directory .tab-content li a:focus {
	/*color: #43b02a;*/
	color: #f99516;
}

.section-directory .panel {
	border-radius: :0;
	box-shadow: none;
	border-left: 0;
	border-right: 0;
	border-top: 0;
}

.section-directory .panel:last-child {
	border-bottom: 0;
}

.section-directory .panel-group {
	margin-bottom: 5px;
}

.section-directory .panel-group .panel {
	border-radius: 0;
}

.section-directory .panel-default>.panel-heading {
	background-color: transparent;
}

.section-directory .panel-body ul {
	padding-left: 0;
}

.section-directory .panel-collapse {
	/*border-top: 3px solid #43b02a;*/
	border-top: 3px solid #f99516;
}

.section-directory .entry-title {
	font-size: 40px;
	color: #555555;
}
.product img{
	max-height:200px;
	max-width:240px;
	width:auto;
}
.product .img-wrapper{
	height:200px;
	text-align:center;
}
.product .entry-title a {
	/*color: #43b02a;*/
	color: #f99516;
}
.product .entry-title a:hover {
	/*color: #59c042;*/
	color: #f9b866;
	text-decoration: none;
}
.recipe .entry-title a {
	/*color: #43b02a;*/
	color: #f99516;
}
.recipe .entry-title a:hover {
	/*color: #59c042;*/
	color: #f9b866;
	text-decoration: none;
}
.directory .entry-title a {
	/*color: #43b02a;*/
	color: #f99516;
}
.directory .entry-title a:hover {
	/*color: #59c042;*/
	color: #f9b866;
	text-decoration: none;
}
.product .entry-title span {
	font-family: "Microsoft JhengHei";
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.section-product .single #slider-thumbs ul {
	list-style-type: none;
	padding-left: 0;
}

.section-product .single .thumb-box .thumbnail {
	min-height: inherit;
}
.section-product .single .thumb-box .thumbnail .carousel-inner .item.active img {
    max-height: 300px;
}
.section-product .single .entry-title {
	margin-bottom: 30px;
	min-height: inherit;
}

.section-product .single .desc {
	margin-top: 15%;
}

.section-product .single .entry-footer {
	margin: 40px 0;
}
.entry-footer.btn-green.text-center.clearfix > input {
    border: medium none;
    color: #000;
    display: inline-block;
    height: 30px;
    text-align: center;
    width: 40px;
    margin-left:-20px;
}
.thumbnail .entry-footer .btn {
    color: #fff;
}
.entry-footer.btn-green.text-center.clearfix {
    border-radius: 5px;
    padding: 4px;
}
.section-product .single .entry-footer h3 {
	margin: 0;
}

.section-product .single .entry-footer ul {
	list-style-type: none;
	padding-left: 0;
}

.section-product .single .entry-footer li {
	float: left;
	margin-right: 15px;
}

.section-product .single .entry-footer select {
	padding: 7px 10px 7px 0;
	border-color: #e1e1e1;
	margin-left: 10px;
}

.section-product .single .custom-select {
	height: 36px;
}

.section-product .single .custom-select:before {
	top: 10px;
}

.section-cart {
	font-family: 'Lato', sans-serif;
	color: #636363;
}

.divTable {
	width: 100%;
}

.divTableHeading {
	background-color: #f1f1f1;
}

.divTableCell {
	padding: 3px 10px;
}

.divTableCell, .divTableHead {
	vertical-align: middle;
}

.divTableBody .divTableCell {
	margin-bottom: 20px;
	margin-top: 20px;
}

.section-cart .table-cart .table>thead>tr>th {
	border-bottom: 0;
	padding: 10px;
}

.section-cart .table-cart .table>tbody>tr>td {
	border: 0; /* border-bottom: 1px solid #e0e2e3;*/
	padding-top: 20px;
	padding-bottom: 20px;
}

.section-cart .media-left {
	width: 80px;
	float: left;
}

.section-cart label {
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-size: 17px;
	margin-top: 5px;
}

.section-cart input {
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	font-weight: 400;
}

.section-cart .text-label70 {
	width: 70px;
}

.section-cart .text-label90 {
	width: 90px;
}

.section-cart .text-label150 {
	width: 150px;
}
.section-cart .text-label200 {
	width: 200px;
}
.section-cart .form-control {
	border-color: #d7d7d7;
	border-radius: 0;
	box-shadow: none;
}

.section-cart textarea {
	resize: none;
}

.section-cart .custom-select {
	width: 220px;
	height: 34px;
	font-family: 'Lato', sans-serif;
	line-height: 30px;
	padding-left: 10px;
}

.section-cart .custom-select:before {
	top: 10px;
	color: #bfbfbf;
}

.section-cart select {
	font-weight: 400px;
	font-size: 17px;
	color: #636363;
}

.section-cart h5 {
	margin-top: 5px;
	margin-bottom: 0;
}

.entry-tags a {
	background: #acacac;
	padding: 10px 15px;
	color: #fff;
	border-radius: 4px;
	margin: 5px;
	display: inline-block;
}

.entry-tags a:hover {
	/*background: #43b02a;*/
	background: #f99516;
}

.entry-title {
	/*color: #43b02a;*/
	color: #f99516;
	min-height: 50px;
	margin-bottom: 0;
	margin-top:10px;
}

.price-tags {
	/*color: #43b02a;*/
	color: #f99516;
}

.badges {
	z-index: 50;
	color: #fff;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	position: absolute;
	background-color: #f38782;
	left: 0;
	top: -15px;
	line-height: 50px;
}

.featured-category figure {
	position: relative;
}

.featured-category figure img {
	width: 100%;
	opacity: 0.3;
}
figcaption{
	border-radius:3px;
}
.featured-category figcaption {
	background-color: rgba(0, 0, 0, 0.1);
	position: absolute;
	width: 100%;
	height: 100%;
}

.featured-category figcaption h3 {
	color: #222;
	position: absolute;
	bottom: 31%;
	text-align: center;
	width: 100%;
}


.recipe .entry-title a:hover {
	/*color: #43b02a;*/
	color: #f99516;
}

.recipe .entry-footer {
	color: #747474;
}

.rating {
	margin-bottom: 15px;
}

.fa-full {
	color: #ffba00;
}

.fa-empty {
	color: #e6e6e6;
}

.well {
	box-shadow: none;
	display: block;
	border-radius: 0;
	background: #fff;
	margin-top: 30px;
	margin-bottom: 20px;
	min-height: inherit;
	padding-bottom: 50px;
}

.well .entry-title {
	margin-top: 0;
	margin-bottom: 30px;
}

.well .entry-title a {
	color: #555;
}

.well .entry-meta a {
	color: #e02024;
}

.well p {
	font-size: 16px;
	line-height: 30px;
}

/*------------------------------------------------
Site footer
-------------------------------------------------*/
.site-footer {
	background-color: #2a2a2a;
	color: #fff;
	padding-top: 30px;
}

.site-footer h6 {
	font-size: 13px;
	margin-bottom: 20px;
}

.site-footer hr {
	border-color: #474747
}

.navFoot ul {
	list-style-type: none;
	padding-left: 0;
}

.navFoot li {
	line-height: 24px;
}

.navFoot li a {
	color: #fff;
}

.navFoot li a:hover {
	text-decoration: none;
	color: #f9eb26;
}

.method {
	border-left: 1px solid #474747;
	border-right: 1px solid #474747;
	padding: 0 15px;
}

.method h6 {
	padding-left: 15%;
}

.social ul {
	list-style-type: none;
	padding-left: 0;
}

.social li {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 15px;
}

.social .fa-facebook {
	background: url(../img/facebook.png) no-repeat;
	display: block;
	width: 16px;
	height: 35px;
	margin: 5px auto 0 auto;
}

.social .fa-facebook:hover {
	background: url(../img/facebook-hover.png) no-repeat;
}

.social .fa-twitter {
	background: url(../img/twitter.png) no-repeat;
	display: block;
	width: 34px;
	height: 28px;
	margin: 10px auto 0 auto;
}

.social .fa-twitter:hover {
	background: url(../img/twitter-hover.png) no-repeat;
}

.social .fa-pinterest {
	background: url(../img/pinterest.png) no-repeat;
	display: block;
	width: 23px;
	height: 30px;
	margin: 10px auto 0 auto;
}

.social .fa-pinterest:hover {
	background: url(../img/pinterest-hover.png) no-repeat;
}

.social .fa-facebook:before, .social .fa-twitter:before, .social .fa-pinterest:before
	{
	content: '';
}

.copyright {
	padding-bottom: 20px;
}
/*-------------------------------------------
Modal Box
--------------------------------------------*/
.modal {
	background-color: rgba(255, 255, 255, 0.5);
}

.modal-content {
	border-radius: 0;
}

.modal-content .btn {
	border-radius: 0;
}

.modal-header {
	margin: 0 15px;
}

.modal-title {
	color: #959595;
	font-size: 26px;
}

.modal-body {
	padding-left: 30px;
	padding-right: 30px;
}

.modal-body .form-control {
	border-radius: 0;
	border: 1px solid #dcdcdc;
}

.modal-content a {
	/*color: #42b029;*/
	color: #f99516;
}

.modal-content a:hover {
	text-decoration: none;
}

.modal-link {
	margin-top: 10px;
}

.modal-footer {
	text-align: center;
	border-top: 0;
	padding-top: 0;
	padding-left: 30px;
	padding-right: 30px;
}

.checkbox label, .radio label {
	padding-left: 0px;
}

.custom-checkbox {
	display: -moz-inline-stack;
	box-shadow: inset 0 1px 5px rgba(0, 0, 0, .1);
	text-align: center
}

.custom-checkbox {
	display: inline-block;
	background: #fff;
	height: 18px;
	width: 18px;
	border: 1px solid #c6c6c6;
	margin-right: 5px;
}

.custom-checkbox:before {
	content: "\f00c";
	font-family: FontAwesome !important;
	font-style: normal !important;
	font-weight: 400 !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: rgba(28, 157, 170, 0);
	font-size: 14px;
}

input[type=checkbox] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background: 0 0;
	display: none;
}

input[type=checkbox]:checked+.custom-checkbox:before {
	/*color: #43b02a;*/
	color: #f99516;
}

.cd-popup {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-popup.is-visible {
	opacity: 1;
	visibility: visible;
	transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-popup-container {
	transform: translateY(-40px);
	transition-property: transform;
	transition-duration: 0.3s;
}

.is-visible .cd-popup-container {
	transform: translateY(0);
}

.cd-popup {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.9);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	-moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
	transition: opacity 0.3s 0s, visibility 0s 0.3s;
	z-index: 100;
}

.cd-popup.is-visible {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
	-moz-transition: opacity 0.3s 0s, visibility 0s 0s;
	transition: opacity 0.3s 0s, visibility 0s 0s;
	z-index: 100;
}

.cd-popup-container {
	position: relative;
	width: 90%;
	max-width: 400px;
	margin: 4em auto;
	background: #FFF;
	text-align: center;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	-webkit-transform: translateY(-40px);
	-moz-transform: translateY(-40px);
	-ms-transform: translateY(-40px);
	-o-transform: translateY(-40px);
	transform: translateY(-40px);
	-webkit-backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.cd-popup-container p {
	padding: 3em 1em;
}

.is-visible .cd-popup-container {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

}
/*-------------------------------------------
Font face 
--------------------------------------------*/
@font-face {
	font-family: "Microsoft JhengHei";
	src: url("../fonts/158f3680b112e3baa610155c4e573207.eot"); /* IE9*/
	src: url("../fonts/158f3680b112e3baa610155c4e573207.eot?#iefix")
		format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/158f3680b112e3baa610155c4e573207.woff2") format("woff2"),
		/* chrome、firefox */
  url("../fonts/158f3680b112e3baa610155c4e573207.woff") format("woff"),
		/* chrome、firefox */
  url("../fonts/158f3680b112e3baa610155c4e573207.ttf")
		format("truetype"),
		/* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  
		url("../fonts/158f3680b112e3baa610155c4e573207.svg#Microsoft JhengHei")
		format("svg"); /* iOS 4.1- */
}

@media ( min-width : 640px) {
	.navSign {
		text-align: right;
	}
}

@media ( min-width : 768px) {
	.navbar-nav {
		float: none;
		text-align: center;
	}
	.navbar-nav>li {
		float: none;
		display: inline-block;
	}
	.dropdown-menu-large {
		margin-left: 0;
		margin-right: 0;
		padding: 20px 15%;
	}
	.featured .icon {
		float: left;
	}
	.modal-dialog {
		width: 410px;
	}
}

@media ( min-width : 1024px) {
	.thumbnail {
		min-height: 430px;
	}
	.thumbnail .desc > p {
	    height: 40px;
	}
	.dropdown-menu-large>li {
		margin-bottom: 30px;
	}
	.dropdown-menu-large>li:last-child {
		margin-bottom: 0;
	}
	.dropdown-menu-large .dropdown-header {
		padding: 3px 15px !important;
	}
	.featured ul {
		padding: 0 15%;
	}
	.collapsible {
		position: absolute;
		left: -185px;
		bottom: -10px;
	}
	.section-directory .nav-tabs>li {
		margin: 0 40px;
	}
	.product .entry-footer {
		width: 100%;
		margin: 0 auto;
		bottom: 10px;
	}
	.product .entry-footer a.btn-green{
		width:100%;
	}
	.section-cart .form-control {
		width: 220px;
	}
	.section-cart label {
		float: left;
	}
	.section-cart .col-lg-1 {
		width: 6.33333333%;
	}
	.section-cart .unit-price .details, .section-cart .quality .details {
		text-align: center;
	}
	.section-cart .sub-total .details, .section-cart .table-total .details {
		text-align: right;
	}
	.section-cart {
		font-size: 17px;
	}
	.section-cart .table-total .title {
		float: left;
	}
	.section-cart h5 {
		float: left;
		font-size: 17px;
	}
}

@media ( max-width : 1024px) {
	.btn-icon {
		padding: 5px 40px 3px 35px;
	}
	.featured ul {
		padding: 0 5%;
	}
	.product .thumbnail {
		min-height: 380px;
	}
	.method h6 {
		padding-left: 0;
	}
	.featured-category figure {
		margin-bottom: 30px;
	}
	.page-header .title-caption {
		top: 20%;
	}
	.section-directory .tab-content ul {
		padding-left: 15px;
	}
	.section-directory .nav-tabs>li {
		margin: 0 30px;
	}
	.page-header {
		height: 200px;
		background: #e9e9e9 url(../img/head-md.png) no-repeat;
		background-size: cover;
		background-position: center;
	}
	.divTableBody {
		display: block;
	}
	.section-cart .unit-price .details, .section-cart .quality .details {
		text-align: center;
	}
	.section-cart .sub-total .details, .section-cart .table-total .details {
		text-align: right;
	}
	.section-cart {
		font-size: 15px;
	}
	.section-cart h4 {
		font-size: 16px;
	}
	.section-cart label, .section-cart input, .section-cart select {
		font-size: inherit;
	}
	.section-cart .table-total .title {
		float: left;
		margin-right: 10px;
	}
	.section-cart .table-total {
		padding-bottom: 20px;
	}
	.section-cart h5 {
		font-size: 15px;
	}
}

@media ( max-width : 980px) {
	.featured ul {
		padding: 0;
	}
	.site-footer .col-sm-6 {
		min-height: 250px;
	}
	.method {
		border-left: 0;
		padding-left: 0;
	}
	.section-account .account-setting h3 {
		font-size: 20px;
	}
	.section-directory .nav-tabs>li {
		margin: 0;
	}
	.section-product .single .desc {
		text-align: center;
	}
	.section-product .single .entry-footer ul {
		text-align: center;
	}
	.section-product .single .entry-footer li {
		float: none;
		display: inline-block;
	}
	.page-header {
		height: 200px;
		background: #e9e9e9 url(../img/head-sm.png) no-repeat;
		background-size: cover;
		background-position: center;
	}
	.section-cart label {
		float: none;
		width: 100%;
	}
	.section-cart .custom-select {
		width: 100%;
	}
}

@media ( max-width : 640px) {
	.topbar .nav>li {
		display: inline-block;
	}
	.topbar .navbar-left, .topbar .navbar-right {
		text-align: center;
	}
	.topbar .navbar-nav .open .dropdown-menu {
		right: 10px;
	}
	.thumbnail {
		min-height: inherit;
	}
	.entry-title {
		min-height: inherit;
	}
	.entry-tags a {
		display: inline-block;
	}
	.desc {
		text-align: center;
	}
	.featured li {
		width: 33%;
		text-align: center;
	}
	.featured .icon {
		display: block;
		min-height: 60px;
	}
	.navbar-collapse {
		background-color: #fff;
	}
	.navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	.navbar-collapse .open {
		background-color: #fcfcfc;
	}
	.navbar-default .navbar-nav>li>a {
		color: #2a2a2a;
		font-family: 'Lato', sans-serif;
		font-size: 14px;
	}
	.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
		{
		color: #2a2a2a;
		background-color: transparent;
	}
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
		.navbar-default .navbar-nav>.active>a:focus {
		color: #2a2a2a;
		background-color: transparent;
	}
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus,
		.navbar-default .navbar-nav>.open>a:hover {
		color: #2a2a2a;
		background-color: transparent;
	}
	.navbar-default .navbar-nav>li {
		border-bottom: 1px solid #e9e9e9;
	}
	.dropdown-menu-large .col-sm-3 {
		float: left;
		width: 50%;
	}
	.dropdown-menu-large>li>ul>li>a {
		padding-left: 0;
		padding-right: 0;
	}
	.site-footer .col-sm-6 {
		width: 50%;
		float: left;
	}
	.method {
		border: 0;
		padding: 0;
	}
	.rating {
		margin-top: 20px;
	}
	.recipe .entry-footer {
		text-align: center;
	}
	.well .desc {
		text-align: left;
	}
	.section-account .account-profile .thumb-small {
		float: left;
	}
	.section-account .desc {
		float: left;
		text-align: left;
	}
	.section-account .order-table {
		float: none;
	}
	.section-account .thumb-small {
		margin-right: 30px;
	}
	.section-account .account-profile {
		margin-bottom: 30px;
	}
	.section-directory .pad20 {
		padding-top: 0;
		padding-bottom: 0;
	}
	.section-product .single .entry-footer ul {
		text-align: center;
	}
	.section-product .single .entry-footer li {
		float: none;
		display: inline-block;
		margin-right: 15px;
	}
	.page-header .title-caption br {
		display: none;
	}
	.page-header .title-caption {
		top: 30%;
	}
	.page-header {
		height: 200px;
		background: #e9e9e9 url(../img/head-640.png) no-repeat;
		background-size: cover;
		background-position: center;
	}
	.topbar .nav-link {
		float: left;
		width: 30%;
	}
	.topbar .nav-sign {
		float: right;
		width: 70%;
		text-align: right;
	}
	.section-cart .unit-price .title, .section-cart .unit-price .details,
		.section-cart .quality .title, .section-cart .quality .details,
		.section-cart .sub-total .title, .section-cart .sub-total .details {
		display: inline-block;
	}
	.section-cart .unit-price .title, .section-cart .quality .title,
		.section-cart .sub-total .title {
		padding-left: 80px;
	}
	.section-cart .unit-price .details, .section-cart .quality .details,
		.section-cart .sub-total .details {
		padding-left: 10px;
		font-weight: 300;
	}
	.section-cart .media {
		margin-top: 20px;
	}
	.divTableBody .divTableCell {
		margin: 0;
	}
	.section-cart .table-total .details {
		text-align: left;
	}
}

@media ( max-width : 480px) {
	.topbar .nav-link {
		float: left;
		width: 30%;
	}
	.topbar .nav-sign {
		float: right;
		width: 70%;
		text-align: right;
	}
	.featured li {
		width: 100%;
		margin-bottom: 20px;
	}
	.site-footer .col-sm-6 {
		width: 100%;
		min-height: inherit;
	}
	.copyright {
		text-align: center;
	}
	.page-header .title-caption {
		font-size: 16px;
	}
	.section-account .account-profile .thumb-small {
		float: none;
	}
	.section-account .desc {
		float: none;
		text-align: left;
		margin-left: 0;
	}
	.section-product .single .entry-footer li {
		display: block;
		margin-bottom: 10px;
		margin-right: 0;
	}
	.section-product .single .entry-footer li .btn {
		display: block;
	}
	.page-header .title-caption {
		font-size: 20px;
	}
	.page-header {
		height: 180px;
		background: #e9e9e9 url(../img/head-480.png) no-repeat;
		background-size: cover;
		background-position: center;
	}
	.topbar .drop-cart {
		min-width: 420px;
	}
	.topbar .desc-item {
		width: 150px;
	}
	.topbar .search-item {
		width: 150px;
	}
	.topbar .desc-item .item-name {
		font-size: 16px;
	}
	.topbar .search-item .search-item-name {
		font-size: 14px;
	}
	.section-cart .media-left {
		width: 100px;
		margin-bottom: 10px;
	}
	.section-cart .media-body {
		display: block;
	}
	.section-cart .unit-price .title, .section-cart .quality .title,
		.section-cart .sub-total .title {
		padding-left: 0;
	}
	@media ( max-width : 375px) {
		.topbar .drop-cart {
			min-width: 300px;
		}
		.section-cart .btn {
			display: block;
		}
	}
	@media ( max-width : 360px) {
		.topbar .nav-link {
			float: left;
			width: 40%;
		}
		.topbar .nav-sign {
			float: right;
			width: 60%;
		}
		.dropdown-menu-large .col-sm-3 {
			width: 100%;
		}
		.page-header .title-caption {
			font-size: 16px;
			font-weight: 600;
		}
		.page-header {
			height: 180px;
			background: #e9e9e9 url(../img/head-360.png) no-repeat;
			background-size: cover;
			background-position: center;
		}
		.topbar .desc-item {
			width: 150px;
		}
		.topbar .search-item {
			width: 155px;
		}
	}
}

.btn-wishlist{
	background: #f99516;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin-bottom: 5px;
	border-radius: 10px;
	color: #fff;
}

.btn-wishlist:hover{
	background: #f9b866;
}

.search-product-item:hover{
	opacity: 0.8;
}

.search-price-tag{
	font-size: 19px;
}

.wishlist-text{
	height: 15px;
	display: table-cell;	
}

.sort-box{
	width: 100%;
	border: 1px solid #f99516;
	margin-bottom: 10px;
}