@media print{
	html, body { overflow-x: hidden; }
}
.table-responsive{
	overflow: scroll !important;
}
input.form-control, textarea.form-control{
	border: none !important;
	box-shadow: none !important;
	border-bottom: 1px solid #ccc !important;
	border-radius:0px !important;
	padding:0px !important;
}
textarea.form-control{
	padding-top:10px !important;
}
.sidebar .nav-second-level li.active {

}
div.form label{
	margin-top:10px;
}
.summary{
	float:right;
	font-size:12px;
	
}
h4.tab{
	background:#eee;
	padding:10px;
}
label.checkbox{
	color:#000 !important;
}
.row.detail {
    margin-bottom: 10px;
}
.row.detail > .col-sm-4{
	width: 36% !important;
}
.row.detail .col-sm-4, .row.detail .col-sm-6{
	padding:5px 0px 5px 18px;
}
.detail > .col-sm-6{
	border-bottom: 1px solid #ccc;	
	padding-left: 0px;
}
.underline{
	border-bottom: 1px solid #ccc;	
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: #eee !important;
}
.wrap p{
	font-size:11px;
	padding:0 10px;
}
@media only screen and (min-width: 1200px) {
    .table-responsive, .container{
    	width:100% !important;
    }
}
@media only screen and (max-width: 600px) {
    .disclaimer .wrap{
    	top:350px !important;
    	padding:10px;
    }
}
span.required, .errorSummary > ul, .errorMessage{
	color: #f00 !important;
}
.skin-blue .main-header .logo, .skin-blue .main-sidebar{
	background-color: #000;
}
.skin-blue .main-header .navbar{
	background-color: #c30e0d;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
    color: #fff;
    background: #999;
    border-left-color: #fff;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover{
	background: #000;
}