@charset "utf-8";
/* css reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* button effect reset for mac IOS version */
input[type="button"]{
	appearance:none;
	-o-appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	-ms-appearance:none;
}

input[type="submit"]{
	appearance:none;
	-o-appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	-ms-appearance:none;
}

button{
	appearance:none;
	-o-appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
	-ms-appearance:none;	
}

a{
	text-decoration:none;	
}

.clear{
	display:block;
	width:100%;
	overflow:hidden;	
}

/* css reset */






/* editable css */

@font-face {
	font-family: "Uni-Regular";
	src: url('../fonts/Uni-Regular.eot');
	src: url('../fonts/Uni-Regular.woff2') format('woff2'),
		 url('../fonts/Uni-Regular.woff') format('woff'),
		 url('../fonts/Uni-Regular.ttf') format('truetype'),
		 url('../fonts/Uni-Regular.svg#Uni-Regular') format('svg'),
		 url('../fonts/Uni-Regular.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Uni-Bold";
	src: url('../fonts/Uni-Bold.eot');
	src: url('../fonts/Uni-Bold.woff2') format('woff2'),
		 url('../fonts/Uni-Bold.woff') format('woff'),
		 url('../fonts/Uni-Bold.ttf') format('truetype'),
		 url('../fonts/Uni-Bold.svg#Uni-Bold') format('svg'),
		 url('../fonts/Uni-Bold.eot?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}

body{
	margin:0 auto;
	font-family:"Uni-Regular";	
}

.main{
	display:block;
	width:100%;
	height:100vh;
	position:relative;
	background:url(../images/bg.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:50% 50%;	
}

.main .main-bar{
	display:block;
	position:absolute;
	top:50%;
	left:50%;
	width:280px;
	text-align:center;
	opacity:0;
	
	transform:translate(-50%,-50%);	
	-o-transform:translate(-50%,-50%);	
	-moz-transform:translate(-50%,-50%);	
	-webkit-transform:translate(-50%,-50%);	
	-ms-transform:translate(-50%,-50%);	
}

.main .main-bar .logo{
	display:inline-block;
	line-height:0;
	width:120px;
	height:102px;
	margin:0px 0px 3px 0px;
}

.main .main-bar .logo img{
	display:block;
	width:100%;	
}

.main .main-bar .logo-title{
	display:block;
	font-family:"Uni-Bold";
	font-size:20pt;
	color:#000000;
	margin:0px 0px 20px 0px;
}

.main .main-bar .code{
	display:block;
	width:100%;
	height:0px;
	overflow:hidden;
}

.main .main-bar .code input{
	display:block;
	width:100%;
	border:solid 1px #ababab;
	background:#fbfbfb;
	font-family:"Uni-Regular";
	font-size:11pt;
	color:#000000;
	padding:8px 12px 8px 12px;
	text-align:center;
	height:34px;
	overflow:hidden;
	
	border-radius:5px 5px 5px 5px;
	-o-border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	-ms-border-radius:5px 5px 5px 5px;
	
	box-sizing:border-box;	
	-o-box-sizing:border-box;	
	-moz-box-sizing:border-box;	
	-webkit-box-sizing:border-box;	
	-ms-box-sizing:border-box;	
}

.main .main-bar .code input:focus{
	outline:none;	
}

.header{
	display:block;
	width:100%;
	padding:20px 20px 20px 20px;
	background:#c30e0d;
	overflow:hidden;
	
	box-sizing:border-box;	
	-o-box-sizing:border-box;	
	-moz-box-sizing:border-box;	
	-webkit-box-sizing:border-box;	
	-ms-box-sizing:border-box;	
}

.header .menu-button{
	display:block;
	float:left;
	color:#ffffff;	
	cursor:pointer;
}

.header .menu-button i{
	display:block;
	float:left;
	font-size:11pt;	
	margin:0px 8px 0px 0px;
}

.header .menu-button p{
	display:block;
	font-family:"Uni-Regular";
	float:left;
	font-size:11pt;	
	text-transform:uppercase;
}

.page-detail{
	display:block;
	width:100%;	
	padding:20px 20px 20px 20px;
	background:#df2d2c;
	
	box-sizing:border-box;	
	-o-box-sizing:border-box;	
	-moz-box-sizing:border-box;	
	-webkit-box-sizing:border-box;	
	-ms-box-sizing:border-box;	
}

.page-detail h1{
	display:block;
	font-family:"Uni-Bold";
	font-size:12pt;
	color:#ffffff;
	padding:0;
	margin:0px 0px 5px 0px;	
}

.page-detail p{
	display:block;
	font-family:"Uni-Regular";
	font-size:10pt;
	line-height:14pt;
	color:#ffffff;	
}

.page-detail p b{
	display:inline-block;
	margin:0px 5px 0px 0px;
}

.calender-event{
	display:block;
	width:100%;
	position:relative;
	overflow-x:auto;
	overflow-y:auto;
}

.calender-event .header-date{
	display:block;
	position:relative;
	width:100%;
	top:0;
	left:0;	
	background:#ffffff;
}

.calender-event .header-date .date-cover{
	display:block;
	width:100%;
	overflow:hidden;
}

.calender-event .header-date .date-cover .date-col{
	display:block;
	float:left;
	width:20%;
	padding:20px 20px 20px 20px;
	border:solid 1px #e6e6e6;
	
	box-sizing:border-box;	
	-o-box-sizing:border-box;	
	-moz-box-sizing:border-box;	
	-webkit-box-sizing:border-box;	
	-ms-box-sizing:border-box;
}

.calender-event .header-date .date-cover .date-col i{
	display:none;
	font-family:"Uni-Regular";
	font-size:12pt;
	color:#000000;
	margin:0px 0px 5px 0px;	
}

.calender-event .header-date .date-cover .date-col h1{
	display:block;
	font-family:"Uni-Regular";
	font-size:12pt;
	color:#000000;
	margin:0px 0px 5px 0px;	
}

.calender-event .header-date .date-cover .date-col h2{
	display:block;
	font-family:"Uni-Regular";
	font-size:12pt;
	color:#000000;	
}

.calender-event .header-date .date-cover .date-col b{
	display:none;
	font-family:"Uni-Regular";
	font-size:12pt;
	color:#000000;	
}

.calender-event .all-event{
	display:block;
	width:100%;	
}

.calender-event .all-event .event-cover{
	display:block;
	width:100%;
	overflow:hidden;
	background:#e6e6e6;
}

.calender-event .all-event .event-cover .act-col{
	display:block;
	float:left;
	width:20%;
	
	box-sizing:border-box;	
	-o-box-sizing:border-box;	
	-moz-box-sizing:border-box;	
	-webkit-box-sizing:border-box;	
	-ms-box-sizing:border-box;
}

.calender-event .all-event .event-cover .act-col div{
	display:block;
	width:100%;
	padding:20px 20px 20px 20px;
	border:solid 1px #e6e6e6;
	background:url(../images/bg.jpg);
	background-position:50% 50%;
	background-size:cover;
	background-repeat:no-repeat;
	
	box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;	
}

.calender-event .all-event .event-cover .act-col span{
	display:block;
	width:100%;
	height:154px;
	overflow:hidden;
}

.calender-event .all-event .event-cover .act-col h1{
	display:block;
	font-family:"Uni-Bold";
	font-size:11pt;
	color:#e48b00;
	padding:3px 0px 0px 0px;
	margin:0px 0px 8px 0px;
	white-space:normal;
	
	letter-spacing:0.5pt;
	-o-letter-spacing:0.5pt;
	-moz-letter-spacing:0.5pt;
	-webkit-letter-spacing:0.5pt;
	-ms-letter-spacing:0.5pt;
}

.calender-event .all-event .event-cover .act-col h2{
	display:block;
	font-family:"Uni-Bold";
	font-size:11pt;
	line-height:13pt;
	color:#000000;
	padding:0;
	margin:0px 0px 8px 0px;
	white-space:normal;
	max-height:50px;
	overflow:hidden;
}

.calender-event .all-event .event-cover .act-col p{
	display:block;
	font-family:"Uni-Regular";
	font-size:11pt;
	line-height:13pt;
	color:#000000;
	white-space:normal;	
	max-height:33px;
	overflow:hidden;
	margin:0px 0px 8px 0px;
}

.calender-event .all-event .event-cover .act-col b{
	display:block;
	font-family:"Uni-Regular";
	font-size:11pt;
	line-height:13pt;
	font-style:italic;
	color:#000000;
	white-space:normal;	
	max-height:33px;
	overflow:hidden;
}

.popout{
	display:block;
	position:fixed;	
	width:100%;
	height:100vh;
	top:0;
	left:0;
	z-index:999;
}

.popout .overlay{
	display:block;
	position:absolute;
	width:100%;
	height:100%;
	background:#000000;
	opacity:0.5;
	top:0;
	left:0;	
}

.popout .pop-form{
	display:block;
	position:absolute;
	width:400px;
	top:50%;
	left:50%;
	background:#ffffff;
	padding:30px 30px 30px 30px;
	
	box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	
	transform:translate(-50%,-50%);	
	-o-transform:translate(-50%,-50%);	
	-moz-transform:translate(-50%,-50%);	
	-webkit-transform:translate(-50%,-50%);	
	-ms-transform:translate(-50%,-50%);	
}

.popout .pop-form h1{
	display:block;
	font-family:"Uni-Bold";
	font-size:12pt;
	color:#000000;
	padding:0;
	margin:0px 0px 15px 0px;
	text-align:center;	
}

.popout .pop-form input{
	display:block;
	width:100%;
	border: solid 1px #ababab;
    background: #fbfbfb;
    font-family: "Uni-Regular";
    font-size: 11pt;
    color: #000000;
    padding: 8px 12px 8px 12px;
    text-align: center;
    height: 34px;
    overflow: hidden;
	
	border-radius:5px 5px 5px 5px;
	-o-border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	-ms-border-radius:5px 5px 5px 5px;
	
	box-sizing:border-box;	
	-o-box-sizing:border-box;	
	-moz-box-sizing:border-box;	
	-webkit-box-sizing:border-box;	
	-ms-box-sizing:border-box;	
}

.forum-detail{
	display:block;
	width:100%;	
	padding:20px 20px 20px 20px;
	background:#df802c;
	position:relative;
	
	box-sizing:border-box;	
	-o-box-sizing:border-box;	
	-moz-box-sizing:border-box;	
	-webkit-box-sizing:border-box;	
	-ms-box-sizing:border-box;	
}

.forum-detail h1{
	display:block;
	font-family:"Uni-Bold";
	font-size:12pt;
	color:#ffffff;
	padding:0;
	margin:0px 0px 5px 0px;	
}

.forum-detail p{
	display:block;
	font-family:"Uni-Regular";
	font-size:10pt;
	line-height:14pt;
	color:#ffffff;	
}

.forum-detail p b{
	display:inline-block;
	margin:0px 5px 0px 0px;
}

.forum-detail span{
	display:block;
	position:absolute;
	top:20px;
	right:20px;	
}

.forum-detail span a{
	display:inline-block;
	font-family:"Uni-Regular";
	font-size:10pt;
	color:#ffffff;	
}

.forum-detail span a:hover{
	text-decoration:underline;	
}

.forum-cover{
	display:block;
	width:100%;
	position:relative;
	overflow-x:auto;
	overflow-y:auto;
}

.forum-cover .forum-title{
	display:block;
	width:100%;
	background:#ffffff;	
	overflow:hidden;
	border-bottom:solid 1px #e6e6e6;
}

.forum-cover .forum-title .title-time{
	display:block;
	float:left;
	width:15%;
	padding:20px 20px 20px 20px;
	
	box-sizing:border-box;	
	-o-box-sizing:border-box;	
	-moz-box-sizing:border-box;	
	-webkit-box-sizing:border-box;	
	-ms-box-sizing:border-box;
}

.forum-cover .forum-title .title-agenda{
	display:block;
	float:left;
	width:55%;
	padding:20px 20px 20px 20px;
	
	box-sizing:border-box;	
	-o-box-sizing:border-box;	
	-moz-box-sizing:border-box;	
	-webkit-box-sizing:border-box;	
	-ms-box-sizing:border-box;
}

.forum-cover .forum-title .title-speaker{
	display:block;
	float:left;
	width:30%;
	padding:20px 20px 20px 20px;
	
	box-sizing:border-box;	
	-o-box-sizing:border-box;	
	-moz-box-sizing:border-box;	
	-webkit-box-sizing:border-box;	
	-ms-box-sizing:border-box;
}

.forum-cover .forum-title .title-col h1{
	display:block;
	font-family:"Uni-Bold";
	font-size:12pt;
	color:#e02524;
}

.forum-cover .forum-table{
	display:block;
	width:100%;
}

.forum-cover .forum-table .table-col{
	display:block;
	width:100%;
	overflow:hidden;
	position:relative;
	border-bottom:solid 1px #e6e6e6;
	background:url(../images/bg.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	background-position:50% 50%;	
}

.forum-cover .forum-table .table-col .time{
	display:block;
	width:15%;
	float:left;
	font-family:"Uni-Bold";
	font-size:11pt;
	color:#df802c;
	padding:20px 20px 20px 20px;
	
	box-sizing:border-box;	
	-o-box-sizing:border-box;	
	-moz-box-sizing:border-box;	
	-webkit-box-sizing:border-box;	
	-ms-box-sizing:border-box;
}

.forum-cover .forum-table .table-col .agenda{
	display:block;
	width:55%;
	float:left;
	padding:20px 20px 20px 20px;
	
	box-sizing:border-box;	
	-o-box-sizing:border-box;	
	-moz-box-sizing:border-box;	
	-webkit-box-sizing:border-box;	
	-ms-box-sizing:border-box;
}

.forum-cover .forum-table .table-col .agenda h2{
	display:block;
	font-family:"Uni-Bold";
	font-size:11pt;
	color:#000000;
	padding:0;
	margin:0px 0px 6px 0px;	
}

.forum-cover .forum-table .table-col .agenda p{
	display:block;
	font-family:"Uni-Regular";
	font-size:10pt;
	line-height:16pt;
	color:#000000;	
}

.forum-cover .forum-table .table-col .speaker{
	display:block;
	width:30%;
	float:left;
	padding:20px 20px 20px 20px;
	
	box-sizing:border-box;	
	-o-box-sizing:border-box;	
	-moz-box-sizing:border-box;	
	-webkit-box-sizing:border-box;	
	-ms-box-sizing:border-box;
}

.forum-cover .forum-table .table-col .speaker p{
	display:block;
	position:relative;
	font-family:"Uni-Regular";
	font-size:10pt;
	line-height:16pt;
	color:#000000;
	font-style:italic;	
	margin:0px 0px 2px 0px;
	padding:0px 0px 0px 15px;
}

.forum-cover .forum-table .table-col .speaker p i{
	display:block;
	position:absolute;
	font-size:8pt;
	color:#000000;
	top:6px;
	left:0;	
}

.announce-title{
	display:block;
	padding:20px 20px 20px 20px;
	width:100%;
	background:#c51717;
	position:relative;
	
	box-sizing:border-box;	
	-o-box-sizing:border-box;	
	-moz-box-sizing:border-box;	
	-webkit-box-sizing:border-box;	
	-ms-box-sizing:border-box;	
}

.announce-title h1{
	display:block;
	font-family:"Uni-Bold";
	font-size:12pt;
	color:#ffffff;	
}

.announce-title span{
	display:block;
	position:absolute;
	top:20px;
	right:20px;	
}

.announce-title span a{
	display:inline-block;
	font-family:"Uni-Regular";
	font-size:10pt;
	color:#ffffff;	
}

.announce-title span a:hover{
	text-decoration:underline;	
}

.announce-cover{
	display:block;
	width:100%;
	position:relative;
	overflow-x:auto;
	overflow-y:auto;
}

.announce-cover .list-title{
	display:block;
	width:100%;
	background:#ffffff;	
	overflow:hidden;
	border-bottom:solid 1px #e6e6e6;
}

.announce-cover .list-title .title-date{
	display:block;
	width:15%;
	float:left;
	padding:20px 20px 20px 20px;
	
	box-sizing:border-box;	
	-o-box-sizing:border-box;	
	-moz-box-sizing:border-box;	
	-webkit-box-sizing:border-box;	
	-ms-box-sizing:border-box;	
}

.announce-cover .list-title .title-date h1{
	display: block;
    font-family: "Uni-Bold";
    font-size: 12pt;
    color: #000000;	
}

.announce-cover .list-title .title-time{
	display:block;
	width:15%;
	float:left;
	padding:20px 20px 20px 20px;
	
	box-sizing:border-box;	
	-o-box-sizing:border-box;	
	-moz-box-sizing:border-box;	
	-webkit-box-sizing:border-box;	
	-ms-box-sizing:border-box;	
}

.announce-cover .list-title .title-time h1{
	display: block;
    font-family: "Uni-Bold";
    font-size: 12pt;
    color: #df802c;	
}

.announce-cover .list-title .title-content{
	display:block;
	width:70%;
	float:left;
	padding:20px 20px 20px 20px;
	
	box-sizing:border-box;	
	-o-box-sizing:border-box;	
	-moz-box-sizing:border-box;	
	-webkit-box-sizing:border-box;	
	-ms-box-sizing:border-box;	
}

.announce-cover .list-title .title-content h1{
	display: block;
    font-family: "Uni-Bold";
    font-size: 12pt;
    color: #000000;	
}

.announce-cover .announce-table{
	display: block;
    width: 100%;	
}

.announce-cover .announce-table .announce-col{
	display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    border-bottom: solid 1px #e6e6e6;
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;	
}

.announce-cover .announce-table .announce-col .date{
	display:block;
	width:15%;
	float:left;
	padding:20px 20px 20px 20px;
	font-family:"Uni-Regular";
	font-size:10pt;
	line-height:14pt;
	color:#000000;
	
	box-sizing:border-box;	
	-o-box-sizing:border-box;	
	-moz-box-sizing:border-box;	
	-webkit-box-sizing:border-box;	
	-ms-box-sizing:border-box;	
}

.announce-cover .announce-table .announce-col .time{
	display:block;
	width:15%;
	float:left;
	padding:20px 20px 20px 20px;
	font-family:"Uni-Bold";
	font-size:10pt;
	line-height:14pt;
	color:#df802c;
	
	box-sizing:border-box;	
	-o-box-sizing:border-box;	
	-moz-box-sizing:border-box;	
	-webkit-box-sizing:border-box;	
	-ms-box-sizing:border-box;	
}

.announce-cover .announce-table .announce-col .content{
	display:block;
	width:70%;
	float:left;
	padding:20px 20px 20px 20px;
	font-family:"Uni-Regular";
	font-size:10pt;
	line-height:14pt;
	color:#000000;
	
	box-sizing:border-box;	
	-o-box-sizing:border-box;	
	-moz-box-sizing:border-box;	
	-webkit-box-sizing:border-box;	
	-ms-box-sizing:border-box;	
}

/* editable css */















/* responsive css */
@media only screen and (max-width:1000px){
	
.calender-event .all-event .event-cover .act-col span {
    height: 172px;
}	

.calender-event .all-event .event-cover .act-col h2 {
    max-height: 68px;
}

.calender-event .all-event .event-cover .act-col b {
    max-height: 50px;
}

}









@media only screen and (max-width:900px){
	
.forum-cover .forum-title .title-time {
    width: 12%;	
}

.forum-cover .forum-table .table-col .time {
    width: 12%;
}

.forum-cover .forum-title .title-agenda {
    width: 52%;
}

.forum-cover .forum-table .table-col .agenda {
    width: 52%;
}

.forum-cover .forum-title .title-speaker {
    width: 36%;
}

.forum-cover .forum-table .table-col .speaker {
    width: 36%;
}

.announce-cover .list-title .title-date {
    width: 17%;
}

.announce-cover .announce-table .announce-col .date {
    width: 17%;
}

.announce-cover .list-title .title-time {
    width: 17%;
}

.announce-cover .announce-table .announce-col .time {
    width: 17%;
}

.announce-cover .list-title .title-content {
    width: 66%;	
}

.announce-cover .announce-table .announce-col .content {
    width: 66%;
}
	
	
	
	
}







@media only screen and (max-width:760px){
	
.calender-event .header-date .date-cover .date-col{
	opacity:0.5;
	cursor:pointer;
}

.calender-event .header-date .date-cover .active{
	opacity:1;
}

.calender-event .header-date .date-cover .active i{
	font-family:"Uni-Bold";	
}

.calender-event .header-date .date-cover .active h1{
	font-family:"Uni-Bold";	
}

.calender-event .header-date .date-cover .active h2{
	font-family:"Uni-Bold";	
}

.calender-event .header-date .date-cover .active b{
	font-family:"Uni-Bold";	
}

.calender-event .all-event .event-cover .act-col{
	display:none;	
	width:100%;
}

.calender-event .all-event .event-cover .active-col{
	display:block;	
}

.calender-event .all-event .event-cover .act-col h2 {
    max-height: none;
}

.calender-event .all-event .event-cover .act-col p{
	max-height:none;	
}

.calender-event .all-event .event-cover .act-col b{
	max-height:none;	
}

.calender-event .all-event .event-cover .act-col span {
    height: auto;
	overflow:auto;
}
	
	
	
	
}










@media only screen and (max-width:720px){
	
.forum-cover .forum-title{
	display:none;	
}

.forum-cover .forum-table .table-col{
	padding:20px 20px 20px 20px;
	
	box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;	
}

.forum-cover .forum-table .table-col .time {
    display: block;
    width: 100%;
    padding: 0;
	margin:0px 0px 10px 0px;
}

.forum-cover .forum-table .table-col .agenda {
    display: block;
    width: 100%;
    padding: 0;
    margin:0px 0px 20px 0px;
}

.forum-cover .forum-table .table-col .speaker {
    display: block;
    width: 100%;
    padding: 0;
}



	
	
}










@media only screen and (max-width:620px){
	
.announce-cover .list-title{
	display:none;	
}

.announce-cover .announce-table .announce-col {
    padding:20px 20px 20px 20px;
	
	box-sizing:border-box;
	-o-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
}

.announce-cover .announce-table .announce-col .date {
    display: block;
    width: auto;
    float: left;
    padding: 0;
    font-family: "Uni-Bold";
    font-size: 11pt;
    line-height: 13pt;
    color: #e48b00;
	margin:0px 10px 0px 0px;
}

.announce-cover .announce-table .announce-col .time {
    display: block;
    width: auto;
    float: left;
    padding: 0;
    font-family: "Uni-Bold";
    font-size: 11pt;
    line-height: 13pt;
    color: #e48b00;
	margin:0px 20px 0px 0px;
}

.announce-cover .announce-table .announce-col .content {
    display: block;
    width: auto;
    float: left;
    padding: 0;
}
	
	
	
	
}
	
	












@media only screen and (max-width:580px){
	
.calender-event .header-date .date-cover .date-col i{
	display:block;	
}

.calender-event .header-date .date-cover .date-col h1{
	display:none;	
}

.calender-event .header-date .date-cover .date-col h2{
	display:none;	
}

.calender-event .header-date .date-cover .date-col b{
	display:block;	
}
	
	
}










@media only screen and (max-width:480px){
	
.popout .pop-form {
    width: 350px;	
}

.forum-detail span {
    display: block;
    position: relative;
    top: auto;
    right: auto;
	margin:8px 0px 0px 0px;
}

.announce-cover .announce-table .announce-col .content {
    width: 100%;
	margin:5px 0px 0px 0px;
}
	
	
	
}











@media only screen and (max-width:420px){
	
.popout .pop-form {
    width: 300px;
}
	
	
	
}
	
	










@media only screen and (max-width:380px){
	
.calender-event .header-date .date-cover .date-col{
	padding:14px 14px 14px 14px;	
}
	
	
	
	
}







@media only screen and (max-width:360px){
	
.popout .pop-form {
    width: 280px;
}
	
	
	
}
	
	











@media only screen and (max-width:340px){
	
.main .main-bar {
    width: 260px;
}	
	
}
	
	
	
	
	