@font-face {
    font-family: Open Sans;
    src: url(OpenSans-Semibold.ttf);
}
body{
	min-width:1200px !important;
	font-family:'Open Sans' !important;
    font-style:condensed;
	background:url('../images/bg.png') repeat;
	background-size:100%;
}
h1,h2,h3,h4,h5,p,span,div{
	font-family:'Open Sans';
    font-style:condensed;
}
.container{
	width: 1170px !important;
}
.header {
    padding: 20px;
	 border-bottom: 2px solid #717171;
	 background:#fff;
}
.header ul, .footer ul{
	overflow:auto;
	margin:0px;
	padding:5px;
}
.header ul li, .footer ul li{
	float:left;
	list-style-type:none;
}
a{
	color:#333 !important;
	font-size:13px !important;
}

.header .span8 {
    margin-top: 15px;
}
.inner_content_main{
	margin:50px 0;
}
.inner_content, .inner_content_main, .inner_content_blue{
	border-radius:5px;
	background:#fff;
	min-height:500px; 
}
.inner_content_blue h4{
	background:#8aa4ba;
	padding:10px 30px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.inner_content_main h4{
	background:#dfdfdf;
	padding:10px 30px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.orange_btn{
	background:#ff9900;
	color:#fff;
	padding:5px 60px;
	border:none !important;
	border-radius:3px !important;
}
.orange_btn:hover{
	background:#ff9900 !important;
	color:#fff !important;
}
.footer{
	background:#808083;
	color:#FFF;
	padding:20px 0 0 0;
}
.footer .container {
    width: 950px !important;
}
input[type="text"], input[type="password"], textarea{
	border-radius:0px !important;
}
.copyright{
	margin-top:20px;
	background:#ff9900;
	padding:10px 0;
}
.copyright a{
	color:#fff !important;
}