<div id="wrapper" class="page about-yourself background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="link-to-home">
          <a [routerLink]="['/page-home-day']"></a>
        </div>
        <div class="information">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{character_type}}/{{character_type}}-head.{{image_type}}" alt="">
          </div>
          <span>When is your birthday?</span>
          <!-- <span>Tell me more about yourself!</span> -->
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
          <!-- "sound-on" or "sound-off" -->
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-birthday">
              <!-- <h3>When is your birthday?</h3> -->
              <div class="row">
                <div class="col-xs-4">
                  <div class="outer-select-options">
                    <select name="day" [(ngModel)]="birthday.day" class="form-control">
                      <!-- add class "selected" if already choose -->
                      <option value="" >Date</option>
                      <option *ngFor="let item of day_list" value="{{item.key}}">{{item.val}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="outer-select-options">
                    <select name="month" [(ngModel)]="birthday.month" class="form-control">
                      <!-- add class "selected" if already choose -->
                      <option value="">Month</option>
                      <option value="01">January</option>
                      <option value="02">February</option>
                      <option value="03">March</option>
                      <option value="04">April</option>
                      <option value="05">May</option>
                      <option value="06">June</option>
                      <option value="07">July</option>
                      <option value="08">August</option>
                      <option value="09">September</option>
                      <option value="10">October</option>
                      <option value="11">November</option>
                      <option value="12">December</option>
                    </select>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="outer-select-options">
                    <select name="year" [(ngModel)]="birthday.year" class="form-control">
                      <!-- add class "selected" if already choose -->
                      <option value="">Year</option>
                      <option *ngFor="let item of year_list" value="{{item.key}}">{{item.val}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="title-gender">
              <h3>What is your gender?</h3>
            </div>
            <div class="choose-gender">
              <div (click)="selectGender('boy')" [ngClass]="{'not-selected': selected_gender != 'boy' && selected_gender != '-'}" class="list-gender">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <img src="assets/img/gender/boy@1x.png" alt="">
                  <div class="name">
                    <span>Boy</span>
                  </div>
                </div>
              </div>
              <div (click)="selectGender('girl')" [ngClass]="{'not-selected': selected_gender != 'girl' && selected_gender != '-'}" class="list-gender">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <img src="assets/img/gender/girl@1x.png" alt="">
                  <div class="name">
                    <span>Girl</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="section-bottom">
        <div class="outer-buttons">
          <a (click)="proceedNext()" [ngClass]="{'btn-inactive': !proceed(),'btn-green' : proceed()}" class="img-btn btn-inactive">NEXT</a>
        </div>
      </div>
    </div>
  </div>
  <!-- end #wrapper -->
</div>
