<div class="overlay" [hidden]="!showLoading()">
    <div align="center" class="loading-icon">
      <!--<md-spinner></md-spinner>-->
      <h3 align="center">Loading ...</h3>
      <img src="assets/img/ajax-loader.gif"/>
      
    </div>
</div>
<main [@fadeAnimation]="getRouterOutletState(o)">
  <router-outlet #o="outlet"></router-outlet>
</main>
