.loading-icon{
    position: fixed;
    z-index: 999;
    height: 100px;
    width: 218px;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color:#fff;
}
#wrapper.page .box-outer-position .section-top .information span {
    /* line-height: 30px !important; */
}
.form-hour, .form-minute{
    pointer-events:none !important;
}
.link-circle{
    display:none;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    background: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height:100%;
    z-index: 9999;
}
#wrapper{
    position: absolute;
    width:100%;
}
.timer-false{
    font-size:2.5rem !important;
}
:host {

    display: flex;
    overflow: hidden;
    height: 100vh;

    main {
      flex: 1;
      position: relative;
    }
  
    /deep/ router-outlet ~ * {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  
  }