.logo{
    max-width:100%;
    margin-bottom: 20px;
}
.ack{
    padding: 5px;
    width: 100%;
    margin: 0;
    z-index: 999;
    text-align: center;
    position: absolute;
    color: #fff;

    a{
        text-decoration: underline;
        color:#fff;
    }
}