<div id="wrapper" class="homepage page login background background-mountains">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-content">
        <div align="center">
            <img style="width:100px;" class="logo" src="assets/img/nus_logo.jpg"/>
          <img class="logo" src="assets/img/logo.png"/>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="outer-login">
              <form (ngSubmit)="submit()">
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" name="username" (keyup)="onKey($event)" [(ngModel)]="form.username" class="form-control login" placeholder="">
                </div>
                <div class="form-group">
                  <label>Password</label>
                  <input type="password" name="password" (keyup)="onKey($event)" [(ngModel)]="form.password" class="form-control login" placeholder="">
                </div>
                <div class="form-group">
                  <div class="outer-buttons">
                    <button type="submit" [ngClass]="{'btn-inactive': !active, 'btn-green' : active}" class="img-btn btn-inactive btn-long" name="button">PLAY NOW</button>
                  </div>
                </div>
              </form>
              <!-- <div class="forgot">
                <a href="#">Forgot Username/Password?</a>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      
    </div>
    
  </div>
  <p class="ack">Acknowledgements to the following creators from freepik: 
      <a target="_new" href="https://www.freepik.com/asier-relampagoestudio">Asier_relampagoestudio</a> 
      <a target="_new" href='https://www.freepik.com/dashu83'>dashu83</a>
      <a  target="_new" href="https://www.freepik.com/freepik-exclusive-vectors">Freepik</a> 
      <a target="_new" href='https://www.freepik.com/mrsiraphol'>Mrsiraphol</a> 
      <a  target="_new"href="https://www.freepik.com/lifeforstock">Lifeforstock</a>
      <a  target="_new" href="https://www.freepik.com/suksao">Suksao</a> 
      <a  target="_new" href="https://www.freepik.com/topntp26">Topntp26</a> 
  <!-- end #wrapper -->
</div>
