.current{
    left:0px !important;
    margin-left:0px !important;
}
.outer-content{
    height:330px !important;

    p{
        font-size: 14px!important;
        max-height: 500px !important;
        margin-top:10px !important;
    }
}
.html2canvas-container { width: 3000px !important; height: 3000px !important; }
