<div id="wrapper" class="page home-states background background-beach"><!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="information two-lines">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/lion/lion-head.gif" alt="">
          </div>
          <span>Check out your lifestyle report.</span>
          <span>You may review this with your parent or guardian!</span>
          <div class="sound sound-off"></div><!-- "sound-on" or "sound-off" -->
        </div>
        <div class="link-circle-signout">
          <a href="#"><span>SIGN</span><span>OUT</span></a>
        </div>
      </div>
      <div class="section-content evaluation-report">
        <div class="row">
          <div class="col-xs-12">
            <div id="evaluation-report-pdf" class="outer-evaluation-report">
              <h3>My Lifestyle Report</h3>
              <div class="page-of">
                <span>1</span>
                <span>of</span>
                <span>1</span>
              </div>
              <div class="list-evaluation-report">
                <div class="outer-content">
                  <h4>Physical Activity Duration</h4>
                  <div class="duration">
                    <div class="bar">
                      <div *ngIf="pa_duration > 40 && pa_duration < 60" class="bar-fill bar-yellow" [ngStyle]="{'width':pa_duration_percentage+'%'}"></div><!-- "bar-yellow" or "bar-green" or "bar-blue" -->
                      <div *ngIf="pa_duration >= 60" class="bar-fill bar-green" [ngStyle]="{'width':pa_duration_percentage+'%'}"></div><!-- "bar-yellow" or "bar-green" or "bar-blue" -->
                      <div *ngIf="pa_duration < 40" class="bar-fill bar-blue" [ngStyle]="{'width':pa_duration_percentage+'%'}"></div><!-- "bar-yellow" or "bar-green" or "bar-blue" -->
                      
                      <div *ngIf="pa_duration > 40 && pa_duration < 60" class="icon icon-yellow"  [ngStyle]="{'left':pa_duration_percentage+'%'}"></div><!-- "icon-yellow" or "icon-green" or "icon-blue" -->
                      <div *ngIf="pa_duration >= 60" class="icon icon-green"  [ngStyle]="{'left':pa_duration_percentage+'%'}"></div><!-- "icon-yellow" or "icon-green" or "icon-blue" -->
                      <div *ngIf="pa_duration < 40" class="icon icon-blue"  [ngStyle]="{'left':pa_duration_percentage+'%'}"></div><!-- "icon-yellow" or "icon-green" or "icon-blue" -->
                      <div class="current">
                        <span>Current: </span>
                        <span><strong>{{timeConvert(pa_duration)}}</strong></span>
                      </div>
                    </div>
                    <div class="recommended">
                      <span>Recommended: </span>
                      <span>60 minutes</span>
                    </div>
                  </div>
                  <p>
                    {{pa_msg}}
                  </p>
                </div>
              </div>
              <div class="list-evaluation-report">
                <div class="outer-content">
                  <h4>Outdoor Duration</h4>
                  <div class="duration">
                    <div class="bar">
                      <div *ngIf="outdoor_duration >= 180" class="bar-fill bar-green" [ngStyle]="{'width':outdoor_duration_percentage+'%'}"></div><!-- "bar-yellow" or "bar-green" or "bar-blue" -->
                      <div *ngIf="outdoor_duration >= 180" class="icon icon-green" [ngStyle]="{'left':outdoor_duration_percentage+'%'}"></div><!-- "icon-yellow" or "icon-green" or "icon-blue" -->
                      <div *ngIf="outdoor_duration >= 120 && outdoor_duration < 180" class="bar-fill bar-yellow" [ngStyle]="{'width':outdoor_duration_percentage+'%'}"></div><!-- "bar-yellow" or "bar-green" or "bar-blue" -->
                      <div *ngIf="outdoor_duration >= 120 && outdoor_duration < 180" class="icon icon-yellow" [ngStyle]="{'left':outdoor_duration_percentage+'%'}"></div><!-- "icon-yellow" or "icon-green" or "icon-blue" -->
                      <div *ngIf="outdoor_duration < 120" class="bar-fill bar-blue" [ngStyle]="{'width':outdoor_duration_percentage+'%'}"></div><!-- "bar-yellow" or "bar-green" or "bar-blue" -->
                      <div *ngIf="outdoor_duration < 120" class="icon icon-blue" [ngStyle]="{'left':outdoor_duration_percentage+'%'}"></div><!-- "icon-yellow" or "icon-green" or "icon-blue" -->
                      
                      <div class="current">
                        <span>Current: </span>
                        <span><strong>{{timeConvert(outdoor_duration)}}</strong></span>
                      </div>
                    </div>
                    <div class="recommended">
                      <span>Recommended: </span>
                      <span>3 hours</span>
                    </div>
                  </div>
                  <p>
                    {{outdoor_msg}}
                  </p>
                </div>
              </div>
              <div class="list-evaluation-report">
                <div class="outer-content">
                  <h4>Sleeping Duration</h4>
                  <div class="duration">
                    <div class="bar">
                      <div class="bar-fill" [ngClass]="{'bar-green': sleeping_duration >= 9,'bar-blue': sleeping_duration < 9}" [ngStyle]="{'width':sleeping_duration_percentage+'%'}"></div><!-- "bar-yellow" or "bar-green" or "bar-blue" -->
                      <div class="icon" [ngClass]="{'icon-green': sleeping_duration >= 9,'icon-blue': sleeping_duration < 9}" [ngStyle]="{'left':sleeping_duration_percentage+'%'}"></div><!-- "icon-yellow" or "icon-green" or "icon-blue" -->
                      <div class="current">
                        <span>Current: </span>
                        <span><strong>{{timeConvert(sleeping_duration * 60)}}</strong></span>
                      </div>
                    </div>
                    <div class="recommended">
                      <span>Recommended: </span>
                      <span>9 hours</span>
                    </div>
                  </div>
                  <p>
                     {{sleeping_msg}}
                  </p>
                </div>
              </div>
              <div class="list-evaluation-report">
                <div class="outer-content">
                  <h4>Screen-viewing Duration</h4>
                  <div class="duration">
                    <div class="bar">
                      <div *ngIf="screen_viewing < 2" class="bar-fill bar-green" [ngStyle]="{'width':screen_viewing_percentage+'%'}"></div><!-- "bar-yellow" or "bar-green" or "bar-blue" -->
                      <div *ngIf="screen_viewing < 2" class="icon icon-green" [ngStyle]="{'left':screen_viewing_percentage+'%'}"></div><!-- "icon-yellow" or "icon-green" or "icon-blue" -->
                      <div *ngIf="screen_viewing >= 2 && screen_viewing < 4" class="bar-fill bar-yellow" [ngStyle]="{'width':screen_viewing_percentage+'%'}"></div><!-- "bar-yellow" or "bar-green" or "bar-blue" -->
                      <div *ngIf="screen_viewing >= 2 && screen_viewing < 4" class="icon icon-yellow" [ngStyle]="{'left':screen_viewing_percentage+'%'}"></div><!-- "icon-yellow" or "icon-green" or "icon-blue" -->
                      <div *ngIf="screen_viewing > 4" class="bar-fill bar-blue" [ngStyle]="{'width':screen_viewing_percentage+'%'}"></div><!-- "bar-yellow" or "bar-green" or "bar-blue" -->
                      <div *ngIf="screen_viewing > 4" class="icon icon-blue" [ngStyle]="{'left':screen_viewing_percentage+'%'}"></div><!-- "icon-yellow" or "icon-green" or "icon-blue" -->
                      
                      <div class="current">
                        <span>Current: </span>
                        <span><strong>{{timeConvert(screen_viewing*60)}}</strong></span>
                      </div>
                    </div>
                    <div class="recommended">
                      <span>Recommend: </span>
                      <span>Less than 2 hours daily</span>
                    </div>
                  </div>
                  <p>
                    {{screen_viewing_msg}}
                  </p>
                </div>
              </div>

              <div class="outer-dietary-intake">
                <h3>Dietary Intake</h3>
                <div *ngIf="dataApi !== undefined" class="list-dietary-intake">
                  <div class="outer-content">
                    <span *ngIf="dataApi.fruits >= 2" class="icon icon-green"></span>
                    <span *ngIf="dataApi.fruits >= 1 && dataApi.fruits < 2" class="icon icon-yellow"></span>
                    <span *ngIf="dataApi.fruits < 1" class="icon icon-blue"></span>
                    <h4>Fruits</h4>
                    <div class="content-middle">
                      <div class="outer-portion">
                        <div [ngClass]="{'portion-blur': dataApi.fruits < 1}" class="list-portion portion-little">
                          <img src="assets/img/foods/bowl-alittle.png" alt="">
                        </div>
                        <div [ngClass]="{'portion-blur': dataApi.fruits < 2}" class="list-portion portion-moderate recommended"> <!-- add "recommended" -->
                          <img src="assets/img/foods/bowl-moderate.png" alt="">
                        </div>
                        <div [ngClass]="{'portion-blur': dataApi.fruits < 3}" class="list-portion portion-q-alot"> <!-- add "portion-blur" if need image blur -->
                          <img src="assets/img/foods/bowl-q-alot.png" alt="">
                        </div>
                        <div [ngClass]="{'portion-blur': dataApi.fruits < 4}" class="list-portion portion-alot"><!-- add "portion-blur" if need image blur -->
                          <img src="assets/img/foods/bowl-alot.png" alt="">
                        </div>
                      </div>
                    </div>
                    <p>
                      {{dataApi.fruits_msg}}
                    </p>
                  </div>
                </div>
                <div class="list-dietary-intake">
                  <div class="outer-content">
                    <span *ngIf="dataApi.wholegrains > 0" class="icon icon-green"></span>
                    <span *ngIf="dataApi.wholegrains == 0" class="icon icon-blue"></span>
                    <h4>Wholegrains</h4>
                    <div class="content-middle">
                      <div [ngClass]="{'active': dataApi.wholegrains > 0}" class="taken-not-taken">
                        <span>Taken</span>
                      </div>
                      <div [ngClass]="{'active': dataApi.wholegrains == 0}" class="taken-not-taken active">
                        <span>Not Taken</span>
                      </div>
                    </div>
                    <p>
                      {{dataApi.wholegrains_msg}}
                    </p>
                  </div>
                </div>
                <div class="list-dietary-intake">
                  <div class="outer-content">
                    <span *ngIf="dataApi.vegetables >= 2" class="icon icon-green"></span>
                    <span *ngIf="dataApi.vegetables >= 1 && dataApi.vegetables < 2" class="icon icon-yellow"></span>
                    <span *ngIf="dataApi.vegetables < 1" class="icon icon-blue"></span>
                    <h4>Vegetables</h4>
                    <div class="content-middle">
                      <div class="outer-portion">
                        <div [ngClass]="{'portion-blur': dataApi.vegetables < 1}" class="list-portion portion-little">
                          <img src="assets/img/foods/plate-alittle.png" alt="">
                        </div>
                        <div [ngClass]="{'portion-blur': dataApi.vegetables < 2}" class="list-portion portion-moderate recommended"> <!-- add "recommended" -->
                          <img src="assets/img/foods/plate-moderate.png" alt="">
                        </div>
                        <div [ngClass]="{'portion-blur': dataApi.vegetables < 3}" class="list-portion portion-q-alot"> <!-- add "portion-blur" if need image blur -->
                          <img src="assets/img/foods/plate-q-alot.png" alt="">
                        </div>
                        <div [ngClass]="{'portion-blur': dataApi.vegetables < 4}" class="list-portion portion-alot"><!-- add "portion-blur" if need image blur -->
                          <img src="assets/img/foods/plate-alot.png" alt="">
                        </div>
                      </div>
                    </div>
                    <p>
                      {{dataApi.vegetables_msg}}
                    </p>
                  </div>
                </div>
                <div class="list-dietary-intake">
                  <div class="outer-content">
                    <span *ngIf="dataApi.ssb <= 1" class="icon icon-green"></span>
                    <span *ngIf="dataApi.ssb > 1 && dataApi.ssb <= 2" class="icon icon-yellow"></span>
                    <span *ngIf="dataApi.ssb > 2" class="icon icon-blue"></span>
                    <h4>Sweet Drinks</h4>
                    <div class="content-middle">
                      <div class="outer-portion">
                        <div [ngClass]="{'portion-blur': dataApi.ssb_type !== 'Low'}" class="list-portion portion-little">
                          <img src="assets/img/foods/glass-alittle.png" alt="">
                          <span>Low</span>
                        </div>
                        <div [ngClass]="{'portion-blur': dataApi.ssb_type !== 'Medium'}" class="list-portion portion-moderate">
                          <img src="assets/img/foods/glass-moderate.png" alt="">
                          <span>Medium</span>
                        </div>
                        <div [ngClass]="{'portion-blur': dataApi.ssb_type !== 'High'}" class="list-portion portion-q-alot">
                          <img src="assets/img/foods/glass-q-alot.png" alt="">
                          <span>High</span>
                        </div>
                      </div>
                    </div>
                    <p>
                      {{dataApi.ssb_msg}}
                    </p>
                  </div>
                </div>
                <div class="list-dietary-intake">
                  <div class="outer-content">
                    <span *ngIf="dataApi.dairy > 1" class="icon icon-green"></span>
                    <span *ngIf="dataApi.dairy >= 0.5 && dataApi.dairy <= 1" class="icon icon-yellow"></span>
                    <span *ngIf="dataApi.dairy < 0.5" class="icon icon-blue"></span>
                    <h4>Dairy</h4>
                    <div class="content-middle">
                      <div class="outer-portion">
                        <div [ngClass]="{'portion-blur': dataApi.dairy < 1}"  class="list-portion portion-little recommended"><!-- add "recommended" -->
                          <img src="assets/img/foods/glass-alittle.png" alt="">
                        </div>
                        <div [ngClass]="{'portion-blur': dataApi.dairy < 2}" class="list-portion portion-moderate">
                          <img src="assets/img/foods/glass-moderate.png" alt="">
                        </div>
                        <div [ngClass]="{'portion-blur': dataApi.dairy < 3}" class="list-portion portion-q-alot"> <!-- add "portion-blur" if need image blur -->
                          <img src="assets/img/foods/glass-q-alot.png" alt="">
                        </div>
                        <div [ngClass]="{'portion-blur': dataApi.dairy < 4}" class="list-portion portion-alot"><!-- add "portion-blur" if need image blur -->
                          <img src="assets/img/foods/glass-alot.png" alt="">
                        </div>
                      </div>
                    </div>
                    <p>
                      {{dataApi.dairy_msg}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-bottom">
        <div class="outer-buttons">
          <a (click)="pdfDownload()" class="img-btn btn-green btn-long">SAVE AS PNG</a>
        </div>
      </div>
    </div>
  </div><!-- end #wrapper -->
</div>

<div class="overlay" *ngIf="showPdf">
  <div style="width:800px;margin: 0 auto;margin-top:30px;max-height: 500px;overflow: auto;">
      <img style="width:100%;" src="{{pdf}}"/>
      
  </div>
  <div align="center">
      <button style="margin-top:10px;" (click)="togglePdfShow()" type="button">CLOSE</button>
  </div>
</div>
