<div id="wrapper" class="page tutorial-screen background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}"><!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="information two-lines">
          <div class="light"></div>
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{selected_char}}/{{selected_char}}-head.{{image_type}}" alt="">
          </div>
          <span>I know how we can get them!</span>
          <span>But I can't do it without you. Will you help me?</span>
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div><!-- "sound-on" or "sound-off" -->
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12">
            <div class="outer-image-jar">
              <div class="jar">
                <img src="assets/img/tutorial/jar.png" alt="">
              </div>
              <div class="content-inside">
                <img src="assets/img/tutorial/soil.png" alt="">
              </div>
              <div class="base">
                <img src="assets/img/tutorial/base.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-bottom">
        <div class="outer-buttons">
            <a [routerLink]="['/page-tutorial-soil']" class="img-btn btn-blue">BACK</a>
            <a [routerLink]="['/page-tutorial-activity-diary']" class="img-btn btn-green">NEXT</a>
        </div>
      </div>
    </div>
  </div><!-- end #wrapper -->
</div>
