<div id="wrapper" class="page about-yourself-day background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="link-to-home">
          <a [routerLink]="['/page-home-day']"></a>
        </div>
        <div class="information">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{character_type}}/{{character_type}}-head.{{image_type}}" alt="">
          </div>
          <span>So... which day are you recording for?</span>
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
          <!-- "sound-on" or "sound-off" -->
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12">
            <div class="choose-day">
              <div (click)="setDate('Yesterday')" [ngClass]="{'not-selected': selected_day != 'Yesterday' && selected_day != '-', 'selected': selected_day == 'Yesterday'}" class="list-day">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-calendar calendar-yesterday">
                    <img src="assets/img/calendar/yesterday.png" alt="">
                    <span class="day">{{yesterday.day}}</span>
                  </div>
                  <div class="name">
                    <span>Yesterday</span>
                    <span>{{yesterday.date}}</span>
                  </div>
                </div>
              </div>
              <div (click)="setDate('Today')" [ngClass]="{'not-selected': selected_day != 'Today' && selected_day != '-', 'selected': selected_day == 'Today'}" class="list-day">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-calendar calendar-today">
                    <img src="assets/img/calendar/today.png" alt="">
                    <span class="day">{{today.day}}</span>
                  </div>
                  <div class="name">
                    <span>Today</span>
                    <span>{{today.date}}</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="section-bottom">
        <div class="outer-buttons">
          <a [routerLink]="['/page-about-yourself']" class="img-btn btn-blue">BACK</a>
          <a (click)="next()" [ngClass]="{'btn-inactive': this.selected_day == '' || this.selected_day == '-'}" class="img-btn btn-green">NEXT</a>
          <!-- appear after selected -->
        </div>
      </div>
    </div>
  </div>
  <!-- end #wrapper -->
</div>