<div id="wrapper" class="page activity-diary background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="link-to-home">
          <a [routerLink]="['/page-home-day']"></a>
        </div>
        <div class="information one-line">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{character_type}}/{{character_type}}-head.{{image_type}}" alt="">
          </div>
          <span>What exciting activity did you do?</span>
          <!-- <span>Your journey begins!</span>
          <span>On
            <strong>Day {{daily_log.day_status}}, {{daily_log.day_log}}, {{daily_log.dayname}}…</strong>
          </span> -->
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
          <!-- "sound-on" or "sound-off" -->
        </div>
        <div class="link-circle">
          <a [routerLink]="['/page-activity-summary']"></a>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12">
            <!-- <h3>What exciting activity did you do?</h3> -->
            <div class="choose-activity four-col">
              <div (click)="selectActivity('Run/Jog')" [ngClass]="{'not-selected': selected_activity !== 'Run/Jog' && selected_activity !== '-'}" class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/walking.png" alt="">
                  </div>
                  <div class="name">
                    <span>Run/Jog</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivity('Cycle/Skate/Scoot')" [ngClass]="{'not-selected': selected_activity !== 'Cycle/Skate/Scoot' && selected_activity !== '-'}" class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/bicycle.png" alt="">
                  </div>
                  <div class="name">
                    <span>Cycle/Skate/Scoot</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivity('Ball Games')" [ngClass]="{'not-selected': selected_activity !== 'Ball Games' && selected_activity !== '-'}" class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/basketball.png" alt="">
                  </div>
                  <div class="name">
                    <span>Ball Games</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivity('Martial Arts')" [ngClass]="{'not-selected': selected_activity !== 'Martial Arts' && selected_activity !== '-'}" class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/martial-arts.png" alt="">
                  </div>
                  <div class="name">
                    <span>Martial Arts</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivity('Dance')" [ngClass]="{'not-selected': selected_activity !== 'Dance' && selected_activity !== '-'}" class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/dance.png" alt="">
                  </div>
                  <div class="name">
                    <span>Dance</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivity('Neighbourhood Play')" [ngClass]="{'not-selected': selected_activity !== 'Neighbourhood Play' && selected_activity !== '-'}" class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/playground.png" alt="">
                  </div>
                  <div class="name">
                    <span>Neighbourhood Play</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivity('Water Activities')" [ngClass]="{'not-selected': selected_activity !== 'Water Activities' && selected_activity !== '-'}" class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/swimming.png" alt="">
                  </div>
                  <div class="name">
                    <span>Water Activities</span>
                  </div>
                </div>
              </div>
              <div class="outer-form-other">
                  <label>Other</label>
                  <div class="form-other">
                    <ul *ngIf="showSuggestion" class="outer-suggestion">
                      <li *ngFor="let item of suggestion">{{item.value}}</li>
                    </ul>
                    <input class="form-control" type="text" (keyup)="eventHandler($event)" name="others" [(ngModel)]="other_activities" value="">
                  </div>
                </div>
            </div>

          </div>
        </div>
      </div>
      <div class="section-bottom">
        <div class="section-bottom">
          <div class="outer-buttons">
            <a [routerLink]="['/page-activity-diary']" class="img-btn btn-blue">BACK</a>
            <a (click)="proceedNext()" [ngClass]="{'btn-green': proceed, 'btn-inactive': !proceed}" class="img-btn btn-green">NEXT</a>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end #wrapper -->
</div>
