<div id="wrapper" class="page tutorial-screen background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}"><!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="information two-lines">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{selected_char}}/{{selected_char}}-head.{{image_type}}" alt="">
          </div>
          <span>We'll get all we need if we do this for 4 days.</span>
          <span>Let's do this!</span>
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div><!-- "sound-on" or "sound-off" -->
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12">
            <div class="outer-image-jar">
              <div class="jar">
                <img src="assets/img/tutorial/jar.png" alt="">
              </div>
              <div class="content-inside opacity-half">
                <img src="assets/img/tutorial/tomato-tutorial.png" alt="">
              </div>
              <div class="base">
                <img src="assets/img/tutorial/base.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-bottom">
        <div class="outer-buttons">
          <a [routerLink]="['/page-tutorial-screen-reward']" class="img-btn btn-blue">BACK</a>
          <a (click)="next()" class="img-btn btn-green">LET'S GO</a>
        </div>
      </div>
    </div>
  </div><!-- end #wrapper -->
</div>