<div id="wrapper" class="page tutorial-screen background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="information">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{character_type}}/{{character_type}}-head.{{image_type}}" alt="">
          </div>
          <span>Take a break! Come back tomorrow to unlock another tool!</span>
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
        </div>
        <div class="link-circle-signout">
          <a (click)="signOut()"><span>SIGN</span><span>OUT</span></a>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12">
            <div class="wrapper-step">
              <ul class="outer-step">
                <li class="list-step">
                  <span>Day 1</span>
                </li>
                <li class="list-step">
                  <span>Day 2</span>
                </li>
                <li class="list-step step-inactive">
                  <span>Day 3</span>
                </li>
                <li class="list-step step-inactive">
                  <span>Day 4</span>
                </li>
              </ul>
            </div>
            <div class="outer-image-jar">
              <div class="jar">
                <img src="assets/img/tutorial/jar.png" alt="">
              </div>
              <div class="content-inside">
                <img src="assets/img/tutorial/soil-day3.png" alt="">
              </div>
              <div class="base">
                <img src="assets/img/tutorial/base.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="section-bottom">
        <div class="outer-buttons">
          <a href="page-home-day-3.html" class="img-btn btn-green">CONTINUE</a>
        </div>
      </div> -->
    </div>
  </div><!-- end #wrapper -->
</div>