<div id="wrapper" class="page tutorial-screen background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="information">
          <span>Hello there! My name is {{kid_account.character_name}}. I need your help with a task!</span>
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
          <!-- "sound-on" or "sound-off" -->
        </div>
      </div>
      <div class="section-content introduction">
        <div class="outer-avatar">
          <img src="assets/img/avatar/{{selected_char}}/{{selected_char_path}}.{{image_type}}" alt="">
        </div>
      </div>
      <div class="section-bottom">
        <div class="outer-buttons">
          <a [routerLink]="['/profile-character-live']" class="img-btn btn-blue">BACK</a>
          <a [routerLink]="['/page-tutorial-soil']" class="img-btn btn-green">NEXT</a>
        </div>
      </div>
    </div>
  </div>
  <!-- end #wrapper -->
</div>