<div id="wrapper" class="page tutorial-screen background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="information two-lines">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{selected_char}}/{{selected_char}}-head.{{image_type}}" alt="">
          </div>
          <span>Fantastic! It's very simple. All we have to do is fill up this activity diary with our daily activities.</span>
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
          <!-- "sound-on" or "sound-off" -->
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12">
            <div class="outer-image-activity-diary">
              <div class="image-activity-diary">
                <img src="assets/img/tutorial/i-pad@2x.png" alt="">
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="section-bottom">
        <div class="outer-buttons">
          <a [routerLink]="['/page-tutorial-soil2']" class="img-btn btn-blue">BACK</a>
          <a [routerLink]="['/page-tutorial-screen-reward']" class="img-btn btn-green">NEXT</a>
        </div>
      </div>
    </div>
  </div>
  <!-- end #wrapper -->
</div>