<div id="wrapper" class="page about-yourself-sleep background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="link-to-home">
          <a [routerLink]="['/page-home-day']"></a>
        </div>
        <div class="information two-lines">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{character_type}}/{{character_type}}-head.{{image_type}}" alt="">
          </div>
          <span>You started this activity at <strong>{{start_time}}</strong>.<br/>{{textDisplay}}</span>
          <!-- <span>Your journey begins!</span>
          <span>On
            <strong>Day {{daily_log.day_status}}, {{daily_log.day_log}}, {{daily_log.dayname}}…</strong>
          </span> -->
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
          <!-- "sound-on" or "sound-off" -->
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12">
            <div class="outer-time-sleep">
              <!-- <h3>What time did you wake up?</h3> -->
              <div class="time-sleep-form">
                <div class="row">
                  <div class="col-xs-9">
                    <div class="time-sleep">
                      <div class="hour">
                        <!-- <h4>Hours</h4> -->
                        <div class="hour-1">
                          <input type="text" class="form-control form-hour" name="hour1" [(ngModel)]="time.time_sleep_hr1" value="0">
                        </div>
                        <div class="hour-2">
                          <input type="text" class="form-control form-hour" name="hour2" [(ngModel)]="time.time_sleep_hr2" value="3">
                        </div>
                      </div>
                      <div class="dots">:</div>
                      <div class="minute">
                        <!-- <h4>Minutes</h4> -->
                        <div class="minute-1">
                          <input type="text" class="form-control form-hour" name="minute1" [(ngModel)]="time.time_sleep_minute1" value="4">
                        </div>
                        <div class="minute-2">
                          <input type="text" class="form-control form-minute" name="minute2" [(ngModel)]="time.time_sleep_minute2" value="5">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-3">
                    <div class="text-am-pm">
                      <span>{{time.time_sleep_am}}</span><!-- or PM -->
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="showHour" class="outer-buttons-number">
                <div class="list-button">
                  <button type="button" (click)="hourClick('0','1')" class="img-btn btn-number" name="button">1</button>
                </div>
                <div class="list-button">
                  <button type="button" (click)="hourClick('0','2')" class="img-btn btn-number" name="button">2</button>
                </div>
                <div class="list-button">
                  <button type="button" (click)="hourClick('0','3')" class="img-btn btn-number" name="button">3</button>
                </div>
                <div class="list-button">
                  <button type="button" (click)="hourClick('0','4')" class="img-btn btn-number" name="button">4</button>
                </div>
                <div class="list-button">
                  <button type="button" (click)="hourClick('0','5')" class="img-btn btn-number" name="button">5</button>
                </div>
                <div class="list-button">
                  <button type="button" (click)="hourClick('0','6')" class="img-btn btn-number" name="button">6</button>
                </div>
                <div class="list-button">
                  <button type="button" (click)="hourClick('0','7')" class="img-btn btn-number" name="button">7</button>
                </div>
                <div class="list-button">
                  <button type="button" (click)="hourClick('0','8')" class="img-btn btn-number" name="button">8</button>
                </div>
                <div class="list-button">
                  <button type="button" (click)="hourClick('0','9')" class="img-btn btn-number" name="button">9</button>
                </div>
                <div class="list-button">
                  <button type="button" (click)="hourClick('1','0')" class="img-btn btn-number" name="button">10</button>
                </div>
                <div class="list-button">
                  <button type="button" (click)="hourClick('1','1')" class="img-btn btn-number" name="button">11</button>
                </div>
                <div class="list-button">
                  <button type="button" (click)="hourClick('1','2')" class="img-btn btn-number" name="button">12</button>
                </div>
                <div class="button-clear">
                  <button (click)="reset()" type="button" class="img-btn btn-clear-circle" name="button">CLEAR</button>
                </div>
              </div>
              <div *ngIf="showMinute" class="outer-buttons-number">
                <div class="list-button">
                  <button type="button" (click)="minuteClick('0','0')" class="img-btn btn-number" name="button">00</button>
                </div>
                <div class="list-button">
                  <button type="button" (click)="minuteClick('0','5')" class="img-btn btn-number" name="button">05</button>
                </div>
                <div class="list-button">
                  <button type="button" (click)="minuteClick('1','0')" class="img-btn btn-number" name="button">10</button>
                </div>
                <div class="list-button">
                  <button type="button" (click)="minuteClick('1','5')" class="img-btn btn-number" name="button">15</button>
                </div>
                <div class="list-button">
                  <button type="button" (click)="minuteClick('2','0')" class="img-btn btn-number" name="button">20</button>
                </div>
                <div class="list-button">
                  <button type="button" (click)="minuteClick('2','5')" class="img-btn btn-number" name="button">25</button>
                </div>
                <div class="list-button">
                  <button type="button" (click)="minuteClick('3','0')" class="img-btn btn-number" name="button">30</button>
                </div>
                <div class="list-button">
                  <button type="button" (click)="minuteClick('3','5')" class="img-btn btn-number" name="button">35</button>
                </div>
                <div class="list-button">
                  <button type="button" (click)="minuteClick('4','0')" class="img-btn btn-number" name="button">40</button>
                </div>
                <div class="list-button">
                  <button type="button" (click)="minuteClick('4','5')" class="img-btn btn-number" name="button">45</button>
                </div>
                <div class="list-button">
                  <button type="button" (click)="minuteClick('5','0')" class="img-btn btn-number" name="button">50</button>
                </div>
                <div class="list-button">
                  <button type="button" (click)="minuteClick('5','5')" class="img-btn btn-number" name="button">55</button>
                </div>
                <div class="button-clear">
                  <button (click)="reset()" type="button" class="img-btn btn-clear-circle" name="button">CLEAR</button>
                </div>
              </div>
              <div class="outer-buttons button-am-pm">
                <div class="button-am">
                  <button (click)="toggleTimeSleepAm('AM')" type="button" [ngClass]="{'btn-inactive': time.time_sleep_am == 'PM', 'btn-purple': time.time_sleep_am == 'AM'}"
                    class="img-btn btn-short" name="button">AM</button>
                </div>
                <div class="button-pm">
                  <button (click)="toggleTimeSleepAm('PM')" type="button" [ngClass]="{'btn-inactive': time.time_sleep_am == 'AM', 'btn-purple': time.time_sleep_am == 'PM'}"
                    class="img-btn btn-short" name="button">PM</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-bottom">
        <div class="outer-buttons">
          <a [routerLink]="['/page-activity-diary']" class="img-btn btn-blue">BACK</a>
          <a *ngIf="endMyDay" (click)="proceedNext()" [ngClass]="{'btn-green': proceed, 'btn-inactive': !proceed}" class="img-btn btn-green">END MY DAY</a>
          <a *ngIf="!endMyDay" (click)="proceedNext()" [ngClass]="{'btn-green': proceed, 'btn-inactive': !proceed}" class="img-btn btn-green">NEXT</a>
          <!-- <a [routerLink]="['/page-activity-summary']" class="img-btn btn-green">END MY DAY</a> -->
          <!-- appear after selected -->
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="oddTiming" class="lightbox show">
  <!-- "show" or "hide" -->
  <div class="outer-lightbox-content">
    <div class="lightbox-content">
      <h3>Are you sure you slept till </h3>
      <div class="time">
        <span class="timer">{{time.time_sleep_hr1}}{{time.time_sleep_hr2}}:{{time.time_sleep_minute1}}{{time.time_sleep_minute2}}</span>
        <span class="am-pm">{{time.time_sleep_am}}</span>
      </div>
      <div class="outer-buttons text-center">
        <a (click)="cancelOdd()" class="img-btn btn-blue">OOPS, NOPE</a>
        <a (click)="yup()" class="img-btn btn-green">YUP!</a>
      </div>
    </div>
  </div>
</div>
<div *ngIf="falseTiming" class="lightbox show">
  <!-- "show" or "hide" -->
  <div class="outer-lightbox-content">
    <div class="lightbox-content">
      <h3>That can't be right?</h3>
      <div class="time activity">
        You entered <span class="timer timer-false">{{time.time_sleep_hr1}}{{time.time_sleep_hr2}}:{{time.time_sleep_minute1}}{{time.time_sleep_minute2}}
          {{time.time_sleep_am}}</span> when <br/> your previous timing is
        <span class="timer timer-false">{{start_time}}</span>...
      </div>
      <div class="outer-buttons text-center">
        <a (click)="reset()" class="img-btn btn-blue">Opps, my bad!</a>
        <!-- <a (click)="yup()" class="img-btn btn-green">YUP!</a> -->
      </div>
    </div>
  </div>
</div>
<div *ngIf="bedTime" class="lightbox show">
  <!-- "show" or "hide" -->
  <div class="outer-lightbox-content">
    <div class="lightbox-content">
      <h3>Are you recording for your bed time?</h3>
      <div class="time activity">
        <!-- You entered <span class="timer timer-false">{{time.time_sleep_hr1}}{{time.time_sleep_hr2}}:{{time.time_sleep_minute1}}{{time.time_sleep_minute2}}
          {{time.time_sleep_am}}</span> when <br/> your previous timing is
        <span class="timer timer-false">{{start_time}}</span>... -->
      </div>
      <div class="outer-buttons text-center">
        <a (click)="nope()" class="img-btn btn-long btn-blue">Nope, for my nap!</a>
         <a (click)="right()" class="img-btn btn-long btn-green">Yep! That's right!</a> 
      </div>
    </div>
  </div>
</div>