<div id="wrapper" class="page food-record background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="link-to-home">
          <a [routerLink]="['/page-home-day']"></a>
        </div>
        <div class="information one-line">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{character_type}}/{{character_type}}-head.{{image_type}}" alt="">
          </div>
          <span>Last but not least, what about <strong>desserts</strong>?</span>
          <!-- <span>Your journey begins!</span>
          <span>On <strong>{{daily_log.day_status}}, {{daily_log.day_log}}, {{daily_log.dayname}}…</strong></span> -->
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
        </div>
        <div class="link-circle">
          <a [routerLink]="['/page-activity-summary']"></a>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12">
            <div class="top-content">
              <div class="left-title">
                <!-- <h3>Last but not least, what about <b>desserts</b>?</h3> -->
              </div>
              <div class="right-search">
                <input class="form-control" [(ngModel)]="search" (keydown)="eventHandler($event)" type="text" name="search" value="" placeholder="Type to search...">
              </div>
            </div>
            <div class="food-grid scrolling">
              <!-- <div (click)="nothing()" [ngClass]="{'selected selected-multiple': nothing_selected}" class="list-food-grid">
                <div class="outer-image">
                  <div class="image-food">
                    <img src="assets/img/foods/nothing-food.png" alt="">
                  </div>
                  <div class="name">
                    <span>Nothing</span>
                  </div>
                </div>
              </div> -->
              <div *ngFor="let item of deserts" (click)="selectActivity(item)" [ngClass]="{'selected selected-multiple': isInArray(item)}" class="list-food-grid">
                <!-- in default condition, don't add the class "selected selected-multiple" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-food">
                    <img src="{{item.image_path}}" alt="">
                  </div>
                  <div class="name">
                    <span>{{item.food_name}}</span>
                  </div>
                </div>
              </div>
              <div *ngFor="let item of selected_option_deserts_others;let key=index;" (click)="remove(key)" class="selected selected-multiple list-food-grid">
                <div class="outer-image">
                  <div class="image-food">
                    <img src="assets/img/foods/others.png" alt="">
                  </div>
                  <div class="name">
                    <span>{{item.name}}</span>
                  </div>
                </div>
              </div>
              <div (click)="toggleOthersSelected()" [ngClass]="{'selected selected-multiple': others_selected}" class="list-food-grid">
                <!-- in default condition, don't add the class "selected selected-multiple" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-food">
                    <img src="assets/img/foods/others.png" alt="">
                  </div>
                  <div class="name">
                    <span>Others</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="section-bottom">
        <div class="outer-buttons">
          <a (click)="goBack()" class="img-btn btn-blue btn-long">BACK (FRUITS)</a>
          <a (click)="proceedNext()" [ngClass]="{'btn-green': proceed, 'btn-inactive': !proceed}" class="img-btn btn-green">NEXT</a>
        </div>
      </div>
    </div>
  </div><!-- end #wrapper -->
</div>
<div *ngIf="others_selected" class="lightbox">
  <!-- "show" or "hide" -->
  <div class="outer-lightbox-content no-red-icon">
    <div class="lightbox-content">
      <h2 class="text-center">What did you eat that wasn't shown there?</h2>
      <h2 class="text-center">What I ate was....</h2>
      <div class="paragraph text-center">
        <div class="outer-form">
          <input [(ngModel)]="others" type="text" class="form-control text-center" name="" value="">
        </div>
      </div>
      <div class="outer-buttons text-center">
        <a (click)="cancelOthers()" class="img-btn btn-blue">CANCEL</a>
        <a [ngClass]="{'btn-inactive': others == '','btn-green': others !== ''}" (click)="saveOthers()" class="img-btn btn-inactive">CONFIRM</a>
      </div>
    </div>
  </div>
</div>
