<div id="wrapper" class="page activity-diary background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="link-to-home">
          <a [routerLink]="['/page-home-day']"></a>
        </div>
        <div class="information one-line">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{character_type}}/{{character_type}}-head.{{image_type}}" alt="">
          </div>
          <span>Here's what you have recorded so far:</span>
          <!-- <span>Your journey begins!</span>
          <span>On
            <strong>Day {{kid_account.daily_log.day_status}}, {{daily_log.day_log}}, {{daily_log.dayname}}</strong>
          </span> -->
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
          <!-- "sound-on" or "sound-off" -->
        </div>
        <div class="link-circle close">
          <a (click)="goBack()"></a>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12">
            <!-- <h3>Here's what you have recorded so far:</h3> -->
            <div class="outer-summary">
              <div class="list-summary">
                <div class="row-single">
                  <div class="outer-image">
                    <div class="image-activity">
                      <img src="assets/img/activities/nap-bed.png" alt="">
                    </div>
                  </div>
                  <div class="time">
                    <span>{{sleeping_time}} - {{wakeup_time}}</span>
                  </div>
                  <div class="activity">
                    <div class="main-activity">
                      <span>Sleeping</span>
                      <!-- <div class="line-breaker">{{item.selected_activity_display}}</div> -->
                    </div>
                  </div>
                  <div class="indoors-outdoors">
                    <span>Indoors</span>
                  </div>
                  <div class="edit">
                    <!-- <a (click)="navigateTo(item)"></a> -->
                  </div>
                </div>
              </div>
              <div *ngFor="let item of list_activity" [ngClass]="{'multiple': item.dual}" class="list-summary">
                <div [ngClass]="{'row-multiple': item.dual, 'row-single': !item.dual}">
                  <div class="outer-image">
                    <div class="image-activity">
                      <img src="assets/img/activities/{{item.icon}}" alt="">
                    </div>
                  </div>
                  <div class="time">
                    <span>{{item.start_time}} - {{item.end_time}}</span>
                  </div>
                  <div class="activity">
                    <div class="main-activity">
                      <span>{{item.activity_type}}</span>
                      <div class="line-breaker">{{item.selected_activity_display}}</div>
                    </div>
                  </div>
                  <div class="indoors-outdoors">
                    <span>{{item.location}}</span>
                  </div>
                  <div *ngIf="item.activity_type !== 'Shower/Washup' && item.activity_type !== 'Nap/Sleep'" class="edit">
                    <a (click)="navigateTo(item)"></a>
                  </div>
                </div>
                <div *ngIf="item.dual" class="row-multiple">
                  <div class="outer-image">
                    <div class="image-activity">
                      <img src="assets/img/activities/{{item.dual_activity.icon}}" alt="">
                    </div>
                  </div>
                  <div class="time">
                    <span>{{item.dual_activity.start_time}} - {{item.dual_activity.end_time}}</span>
                  </div>
                  <div class="activity">
                    <div class="main-activity">
                      <span>{{item.dual_activity.activity_type}}</span>
                      <div class="line-breaker">{{item.dual_activity.selected_activity_display}}</div>
                    </div>
                  </div>
                  <div class="indoors-outdoors">
                    <span>{{item.dual_activity.location}}</span>
                  </div>
                  <div *ngIf="item.activity_type !== 'Shower/Washup' && item.activity_type !== 'Nap/Sleep'" class="edit">
                    <a (click)="navigateTo(item.dual_activity)"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="list_activity.length > 0" (click)="checkProceed()" class="section-bottom">
        <div class="outer-buttons">
          <a class="img-btn btn-green btn-long">END MY DAY</a><!-- appear after selected -->
        </div>
      </div>
    </div>
  </div><!-- end #wrapper -->
</div>
<div *ngIf="isBedTimeNotLogged" class="lightbox show">
  <!-- "show" or "hide" -->
  <div class="outer-lightbox-content">
    <div class="lightbox-content">
      <h2 class="text-center">Oops, we’re not done yet!</h2>
      <div class="paragraph text-center">
        <p>
          We still need to record your bedtime for your reward. Or you can take a break and come back later, your progress has been
          saved.
        </p>
      </div>
      <div class="outer-buttons text-center">
        <a (click)="keepgoing()" class="img-btn btn-blue">KEEP GOING!</a>
        <a (click)="saveexit()" class="img-btn btn-green">SAVE & EXIT</a>
      </div>
    </div>
  </div>
</div>
<div *ngIf="bedTimeNotPassed" class="lightbox show">
  <div class="outer-lightbox-content">
    <div class="lightbox-content">
      <h2 class="text-center">Hmm?</h2>
      <div class="paragraph text-center">
        <p>
            Are you sure you woke up at {{sleptTime}}?
        </p>
      </div>
      <div class="outer-buttons text-center">
        <a (click)="editSleep()" style="font-size:1.5rem" class="img-btn btn-blue">Opps, Let me edit</a>
        <a (click)="proceedReward()" style="font-size:1.5rem" class="img-btn btn-green">Yes, that's right</a>
      </div>
    </div>
  </div>
</div>
<div *ngIf="passed" class="lightbox show">
  <!-- "show" or "hide" -->
  <div class="outer-lightbox-content default">
    <div class="lightbox-content">
      <h2 class="text-center">Looks like you are done for today!</h2>
      <div class="paragraph text-center">
        <p>
          You have recorded till your bedtime!
        </p>
        <p>Let's get our reward for today</p>
      </div>
      <div class="outer-buttons text-center">
        <a (click)="cancel()" style="font-size:1.5rem" class="img-btn btn-blue">CANCEL</a>
        <a (click)="proceedNext()" style="font-size:1.5rem" class="img-btn btn-green">GET REWARD!</a>
      </div>
    </div>
  </div>
</div>
