<div id="wrapper" class="page food-record background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="link-to-home">
          <a [routerLink]="['/page-home-day']"></a>
        </div>
        <div class="information one-line">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{character_type}}/{{character_type}}-head.{{image_type}}" alt="">
          </div>
          <span>How much did you eat or drink?</span>
          <!-- <span>Your journey begins!</span>
          <span>On <strong>{{daily_log.day_status}}, {{daily_log.day_log}}, {{daily_log.dayname}}…</strong></span> -->
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
        </div>
        <div class="link-circle">
          <a [routerLink]="['/page-activity-summary']"></a>
        </div>
      </div>
      <div class="section-content food-portion-content">
        <div class="row">
          <div class="col-xs-12">
            <!-- <h3>How much did you eat or drink?</h3> -->
            <div class="food-grid food-portion scrolling">
              <div *ngFor="let item of json.selected_option;let i=index;" class="list-portion">
                <div class="food">
                  <div class="list-food-grid">
                    <div class="outer-image">
                      <div class="image-food">
                        <img src="{{item.image_path}}" alt="">
                      </div>
                      <div class="name">
                        <span>{{item.food_name}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngFor="let sub_item of item.portions;let j=index" class="portion portion-1">
                  <div class="image-portion" (click)="selectPortionMain(i,j)" [ngClass]="{'selected' : sub_item.selected == 1}">
                    <img *ngIf="sub_item.portion_image_path != null" src="{{sub_item.portion_image_path}}" alt="">
                    <!-- if there is no image for portion -->
                    <div *ngIf="sub_item.portion_image_path == null" class="no-image-portion"><!-- delete (style="display: none") if you want to use this elements -->
                      <div class="text-portion">
                        <span>{{sub_item.portion}}</span>
                        <span>{{sub_item.measurement}}</span>
                      </div>
                    </div>
                    <!-- end -->
                  </div>
                </div>
              </div>
              <div *ngFor="let item of json.selected_drinks_option;let i=index;" class="list-portion">
                <div class="food">
                  <div class="list-food-grid">
                    <div class="outer-image">
                      <div class="image-food">
                        <img src="{{item.image_path}}" alt="">
                      </div>
                      <div class="name">
                        <span>{{item.food_name}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngFor="let sub_item of item.portions;let j=index;" class="portion portion-1">
                  <div class="image-portion" (click)="selectPortionDrinks(i,j)" [ngClass]="{'selected' : sub_item.selected == 1}">
                    <img *ngIf="sub_item.portion_image_path !== null" src="{{sub_item.portion_image_path}}" alt="">
                    <!-- if there is no image for portion -->
                    <div *ngIf="sub_item.portion_image_path == null" class="no-image-portion"><!-- delete (style="display: none") if you want to use this elements -->
                      <div class="text-portion">
                        <span>{{sub_item.portion}}</span>
                        <span>{{sub_item.measurement}}</span>
                      </div>
                    </div>
                    <!-- end -->
                    
                  </div>
                </div>
              </div>
              <div *ngFor="let item of json.selected_fruits_option;let i=index;" class="list-portion">
                <div class="food">
                  <div class="list-food-grid">
                    <div class="outer-image">
                      <div class="image-food">
                        <img src="{{item.image_path}}" alt="">
                      </div>
                      <div class="name">
                        <span>{{item.food_name}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngFor="let sub_item of item.portions;let j=index;" class="portion portion-1">
                  <div class="image-portion" (click)="selectPortionFruits(i,j)" [ngClass]="{'selected' : sub_item.selected == 1}">
                    <img *ngIf="sub_item.portion_image_path !== null" src="{{sub_item.portion_image_path}}" alt="">
                    <!-- if there is no image for portion -->
                    <div *ngIf="sub_item.portion_image_path == null" class="no-image-portion"><!-- delete (style="display: none") if you want to use this elements -->
                      <div class="text-portion">
                        <span>{{sub_item.portion}}</span>
                        <span>{{sub_item.measurement}}</span>
                      </div>
                    </div>
                    <!-- end -->
                  </div>
                </div>
              </div>
              <div *ngFor="let item of json.selected_desert_option;let i=index;" class="list-portion">
                <div class="food">
                  <div class="list-food-grid">
                    <div class="outer-image">
                      <div class="image-food">
                        <img src="{{item.image_path}}" alt="">
                      </div>
                      <div class="name">
                        <span>{{item.food_name}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngFor="let sub_item of item.portions;let j=index;" class="portion portion-1">
                  <div class="image-portion"  (click)="selectPortionDeserts(i,j)" [ngClass]="{'selected' : sub_item.selected == 1}">
                    <img *ngIf="sub_item.portion_image_path !== null" src="{{sub_item.portion_image_path}}" alt="">
                    <!-- if there is no image for portion -->
                    <div *ngIf="sub_item.portion_image_path == null" class="no-image-portion"><!-- delete (style="display: none") if you want to use this elements -->
                      <div class="text-portion">
                        <span>{{sub_item.portion}}</span>
                        <span>{{sub_item.measurement}}</span>
                      </div>
                    </div>
                    <!-- end -->
                  </div>
                </div>
              </div>
              <!-- static -->
              <div *ngFor="let item of json.selected_option_others;let key=index;" class="list-portion">
                <div class="food">
                  <div class="list-food-grid">
                    <div class="outer-image">
                      <div class="image-food">
                        <img src="assets/img/foods/others.png" alt="">
                      </div>
                      <div class="name">
                        <span>{{item.name}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div (click)="selectOtherPortionMain(key, 0.5)" class="portion">
                  <div [ngClass]="{'selected': item.portion == 0.5}" class="image-portion"><!-- add "selected" -->
                    <img src="assets/img/static/Half_a_portion@3x.png" alt="">
                  </div>
                </div>
                <div (click)="selectOtherPortionMain(key, 1)" class="portion">
                  <div [ngClass]="{'selected': item.portion == 1}" class="image-portion"><!-- add "selected" -->
                    <img src="assets/img/static/One_portion@3x.png" alt="">
                  </div>
                </div>
                <div (click)="selectOtherPortionMain(key, 1.5)" class="portion">
                  <div [ngClass]="{'selected': item.portion == 1.5}" class="image-portion"><!-- add "selected" -->
                    <img src="assets/img/static/One-and-a-half_portions@3x.png" alt="">
                  </div>
                </div>
                <div (click)="selectOtherPortionMain(key,2)" class="portion">
                  <div [ngClass]="{'selected': item.portion == 2}" class="image-portion"><!-- add "selected" -->
                    <img src="assets/img/static/Two_portions@3x.png" alt="">
                  </div>
                </div>
              </div>
              <div *ngFor="let item of json.selected_option_drinks_others;let key=index;" class="list-portion">
                <div class="food">
                  <div class="list-food-grid">
                    <div class="outer-image">
                      <div class="image-food">
                        <img src="assets/img/foods/others.png" alt="">
                      </div>
                      <div class="name">
                        <span>{{item.name}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div (click)="selectOtherDrinkPortion(key, 0.5)" class="portion">
                  <div [ngClass]="{'selected': item.portion == 0.5}" class="image-portion"><!-- add "selected" -->
                    <img src="assets/img/foods/plate-alittle.png" alt="">
                  </div>
                </div>
                <div (click)="selectOtherDrinkPortion(key, 1)" class="portion">
                  <div [ngClass]="{'selected': item.portion == 1}" class="image-portion"><!-- add "selected" -->
                    <img src="assets/img/foods/plate-moderate.png" alt="">
                  </div>
                </div>
                <div (click)="selectOtherDrinkPortion(key, 1.5)" class="portion">
                  <div [ngClass]="{'selected': item.portion == 1.5}" class="image-portion"><!-- add "selected" -->
                    <img src="assets/img/foods/plate-q-alot.png" alt="">
                  </div>
                </div>
                <div (click)="selectOtherDrinkPortion(key,2)" class="portion">
                  <div [ngClass]="{'selected': item.portion == 2}" class="image-portion"><!-- add "selected" -->
                    <img src="assets/img/foods/plate-alot.png" alt="">
                  </div>
                </div>
              </div>
              <div *ngFor="let item of json.selected_option_fruits_others;let key=index;" class="list-portion">
                <div class="food">
                  <div class="list-food-grid">
                    <div class="outer-image">
                      <div class="image-food">
                        <img src="assets/img/foods/others.png" alt="">
                      </div>
                      <div class="name">
                        <span>{{item.name}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div (click)="selectOtherFruitPortion(key, 0.5)"  class="portion">
                  <div class="image-portion"><!-- add "selected" -->
                    <img src="assets/img/foods/plate-alittle.png" alt="">
                  </div>
                </div>
                <div (click)="selectOtherFruitPortion(key, 1)" class="portion">
                  <div [ngClass]="{'selected': item.portion == 1}" class="image-portion"><!-- add "selected" -->
                    <img src="assets/img/foods/plate-moderate.png" alt="">
                  </div>
                </div>
                <div (click)="selectOtherFruitPortion(key, 1.5)" class="portion">
                  <div [ngClass]="{'selected': item.portion == 1.5}" class="image-portion"><!-- add "selected" -->
                    <img src="assets/img/foods/plate-q-alot.png" alt="">
                  </div>
                </div>
                <div (click)="selectOtherFruitPortion(key,2)" class="portion">
                  <div [ngClass]="{'selected': item.portion == 2}" class="image-portion"><!-- add "selected" -->
                    <img src="assets/img/foods/plate-alot.png" alt="">
                  </div>
                </div>
              </div>
              <div *ngFor="let item of json.selected_option_deserts_others;let key=index;" class="list-portion">
                <div class="food">
                  <div class="list-food-grid">
                    <div class="outer-image">
                      <div class="image-food">
                        <img src="assets/img/foods/others.png" alt="">
                      </div>
                      <div class="name">
                        <span>{{item.name}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div (click)="selectOtherDesertPortion(key, 0.5)" class="portion">
                  <div [ngClass]="{'selected': item.portion == 0.5}" class="image-portion"><!-- add "selected" -->
                    <img src="assets/img/foods/plate-alittle.png" alt="">
                  </div>
                </div>
                <div (click)="selectOtherDesertPortion(key, 1)" class="portion">
                  <div [ngClass]="{'selected': item.portion == 1}" class="image-portion"><!-- add "selected" -->
                    <img src="assets/img/foods/plate-moderate.png" alt="">
                  </div>
                </div>
                <div (click)="selectOtherDesertPortion(key, 1.5)" class="portion">
                  <div [ngClass]="{'selected': item.portion == 1.5}" class="image-portion"><!-- add "selected" -->
                    <img src="assets/img/foods/plate-q-alot.png" alt="">
                  </div>
                </div>
                <div (click)="selectOtherDesertPortion(key,2)" class="portion">
                  <div [ngClass]="{'selected': item.portion == 2}" class="image-portion"><!-- add "selected" -->
                    <img src="assets/img/foods/plate-alot.png" alt="">
                  </div>
                </div>
              </div>
              
            </div>
            <div *ngIf="json.selected_drinks_option != null" class="food-grid food-portion scrolling">

            </div>
            <div *ngIf="json.selected_fruits_option != null" class="food-grid food-portion scrolling">

            </div>
            <div *ngIf="json.selected_desert_option != null" class="food-grid food-portion scrolling">

            </div>
          </div>
        </div>
      </div>
      <div class="section-bottom">
        <div class="outer-buttons">
          <a (click)="goBack()" class="img-btn btn-blue">BACK</a>
          <a (click)="proceedNext()" [ngClass]="{'btn-green': proceed, 'btn-inactive': !proceed}" class="img-btn btn-green">NEXT</a>
        </div>
      </div>
    </div>
  </div><!-- end #wrapper -->
</div>
