<div id="wrapper" class="page tutorial-screen background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}"><!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="information two-lines">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{character_type}}/{{character_type}}-head.{{image_type}}" alt="">
          </div>
          <span>Ready, get set, go!</span>
          <span>Let’s record your {{day_name}} day.</span>
          <!-- <span *ngIf="!new">Take a break!</span> -->
          <!-- <span *ngIf="!new">You can come back later to record the rest!</span> -->
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
        </div>
        <div class="link-circle-signout">
          <a (click)="logout()"><span>SIGN</span><span>OUT</span></a>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12">
            <div class="wrapper-step">
              <ul class="outer-step">
                <li [ngClass]="{'step-inactive': day_status != 1}" class="list-step">
                  <span>Day 1</span>
                </li>
                <li [ngClass]="{'step-inactive': day_status != 2}" class="list-step">
                  <span>Day 2</span>
                </li>
                <li [ngClass]="{'step-inactive': day_status != 3}" class="list-step">
                  <span>Day 3</span>
                </li>
                <li [ngClass]="{'step-inactive': day_status != 4}" class="list-step">
                  <span>Day 4</span>
                </li>
              </ul>
            </div>
            <div class="outer-image-jar">
              <div class="jar">
                <img src="assets/img/tutorial/jar.png" alt="">
              </div>
              <div class="content-inside">
                <img *ngIf="day_status == 1" src="assets/img/tutorial/soil.png" alt="">
                <img *ngIf="day_status == 2" src="assets/img/tutorial/soil-day2.png" alt="">
                <img *ngIf="day_status == 3" src="assets/img/tutorial/soil-day3.png" alt="">
                <img *ngIf="day_status == 4" src="assets/img/tutorial/soil-day4.png" alt="">
              </div>
              <div class="base">
                <img src="assets/img/tutorial/base.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-bottom">
        <div class="outer-buttons">
          <a (click)="reviewSummary()" [ngClass]="{'btn-inactive': initial}" class="img-btn btn-blue btn-long pull-left">REVIEW MY ACTIVITIES</a><!-- if inactive change "btn-blue" to "btn-inactive" -->
          <a (click)="next()" class="img-btn btn-green btn-long">RECORD MY ACTIVITIES</a>
          <a (click)="reviewSummary()" [ngClass]="{'btn-inactive': initial}" class="img-btn btn-blue btn-long pull-right">END MY DAY</a><!-- if inactive change "btn-blue" to "btn-inactive" -->
        </div>
      </div>
    </div>
  </div><!-- end #wrapper -->
