<div id="wrapper" class="page activity-diary background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="link-to-home">
          <a [routerLink]="['/page-home-day']"></a>
        </div>
        <div class="information one-line">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{character_type}}/{{character_type}}-head.{{image_type}}" alt="">
          </div>
          <span>How tiring was the activity?</span>
          <!-- <span>Your journey begins!</span>
          <span>On
            <strong>Day {{daily_log.day_status}}, {{daily_log.day_log}}, {{daily_log.dayname}}…</strong>
          </span> -->
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
          <!-- "sound-on" or "sound-off" -->
        </div>
        <div class="link-circle">
          <a [routerLink]="['/page-activity-summary']"></a>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12">
            <!-- <h3>How tiring was the activity?</h3> -->
            <div class="choose-intensity">
              <div (click)="selectIntensity('Just a Little')" [ngClass]="{'not-selected': intensity !== 'Just a Little' && intensity !== '-', 'selected' : intensity == 'Just a Little'}" class="list-intensity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/just-a-little.png" alt="">
                  </div>
                  <div class="name">
                    <span>Just a Little</span>
                    <p>You can sing and talk during the activity.</p>
                  </div>
                </div>
              </div>
              <div (click)="selectIntensity('Quite Tiring')" [ngClass]="{'not-selected': intensity !== 'Quite Tiring' && intensity !== '-', 'selected' : intensity == 'Quite Tiring'}" class="list-intensity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/quite-tiring.png" alt="">
                  </div>
                  <div class="name">
                    <span>Quite Tiring</span>
                    <p>You can talk but cannot sing during the activity.</p>
                  </div>
                </div>
              </div>
              <div (click)="selectIntensity('Very Tiring')" [ngClass]="{'not-selected': intensity !== 'Very Tiring' && intensity !== '-', 'selected' : intensity == 'Very Tiring'}" class="list-intensity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/very-tiring.png" alt="">
                  </div>
                  <div class="name">
                    <span>Very Tiring</span>
                    <p>You cannot say more than a few words without pausing.</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="section-bottom">
        <div class="section-bottom">
          <div class="outer-buttons">
            <a (click)="goBack()" class="img-btn btn-blue">BACK</a>
            <a (click)="proceedNext()" [ngClass]="{'btn-green': proceed, 'btn-inactive': !proceed}" class="img-btn btn-green">NEXT</a>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end #wrapper -->
</div>
