<div id="wrapper" class="page food-record background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="link-to-home">
          <a [routerLink]="['/page-home-day']"></a>
        </div>
        <div class="information one-line">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{character_type}}/{{character_type}}-head.{{image_type}}" alt="">
          </div>
          <span>What did you eat at <strong>{{kid_account.last_end_time}}</strong>?</span>
          <!-- <span>Your journey begins!</span>
          <span>On <strong>{{daily_log.day_status}}, {{daily_log.day_log}}, {{daily_log.dayname}}…</strong></span> -->
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
        </div>
        <div class="link-circle">
          <a [routerLink]="['/page-activity-summary']"></a>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12 food-record-with-sidebar">
            <!-- <div class="top-content">
              <div class="left-title">
                <h3>Firstly, what did you eat as a <strong>main meal</strong> at {{kid_account.last_end_time}}?</h3>
              </div>
            </div>-->
            <div #list class="nav-foods">
              <div class="top-search">
                <input class="form-control" [(ngModel)]="search" (keydown)="eventHandler($event)" type="text" name="search"
                  value="" placeholder="Type to search...">
              </div>
              <!-- <span class="arrow arrow-left"></span> -->
              <span (click)="nextCategory()" class="arrow"></span>
              <ul>
                <li *ngFor="let item of foodCategories;let i=index;" [ngClass]="{'active': selectedCategories == item.name}"><a
                    (click)="selectCategory(item, i)">{{item.name}}</a></li>
              </ul>
            </div>
            <div class="food-grid scrolling">
              <!-- <div (click)="nothing()" [ngClass]="{'selected selected-multiple': nothing_selected}" class="list-food-grid">
                <div class="outer-image">
                  <div class="image-food">
                    <img src="assets/img/foods/nothing-food.png" alt="">
                  </div>
                  <div class="name">
                    <span>Nothing</span>
                  </div>
                </div>
              </div> -->
              <div *ngFor="let item of foodList" (click)="selectActivity(item)" [ngClass]="{'selected selected-multiple': isInArray(item)}"
                class="list-food-grid">
                <!-- in default condition, don't add the class "selected selected-multiple" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-food">
                    <img src="{{item.image_path}}" alt="">
                  </div>
                  <div class="name">
                    <span>{{item.food_name}}</span>
                  </div>
                </div>
              </div>
              <div *ngFor="let item of selected_option_others;let key=index;" (click)="remove(key)" class="selected selected-multiple list-food-grid">
                <div class="outer-image">
                  <div class="image-food">
                    <img src="assets/img/foods/others.png" alt="">
                  </div>
                  <div class="name">
                    <span>{{item.name}}</span>
                  </div>
                </div>
              </div>
              <div *ngFor="let item of selected_option_drinks_others;let key=index;" (click)="removeDrinksOthers(key)" class="selected selected-multiple list-food-grid">
                <div class="outer-image">
                  <div class="image-food">
                    <img src="assets/img/foods/others.png" alt="">
                  </div>
                  <div class="name">
                    <span>{{item.name}}</span>
                  </div>
                </div>
              </div>
              <div *ngFor="let item of selected_option_fruits_others;let key=index;" (click)="removeFruitsOthers(key)" class="selected selected-multiple list-food-grid">
                <div class="outer-image">
                  <div class="image-food">
                    <img src="assets/img/foods/others.png" alt="">
                  </div>
                  <div class="name">
                    <span>{{item.name}}</span>
                  </div>
                </div>
              </div>
              <div *ngFor="let item of selected_option_deserts_others;let key=index;" (click)="removeDesertsOthers(key)" class="selected selected-multiple list-food-grid">
                <div class="outer-image">
                  <div class="image-food">
                    <img src="assets/img/foods/others.png" alt="">
                  </div>
                  <div class="name">
                    <span>{{item.name}}</span>
                  </div>
                </div>
              </div>
              <div (click)="toggleOthersSelected()" [ngClass]="{'selected selected-multiple': others_selected}" class="list-food-grid">
                <!-- in default condition, don't add the class "selected selected-multiple" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-food">
                    <img src="assets/img/foods/others.png" alt="">
                  </div>
                  <div class="name">
                    <span>Others</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="section-bottom">
        <div class="outer-buttons">
          <a (click)="goBack()" class="img-btn btn-blue">BACK</a>
          <a (click)="checkOtherWasForgotten()" [ngClass]="{'btn-green': proceed && isSelected(), 'btn-inactive': !isSelected()}" class="img-btn btn-green">NEXT</a>
        </div>
      </div>
    </div>
  </div><!-- end #wrapper -->
</div>
<!-- lightbox 1 -->
<div *ngIf="others_selected" class="lightbox">
  <!-- "show" or "hide" -->
  <div class="outer-lightbox-content no-red-icon">
    <div class="lightbox-content">
      <h2 class="text-center">What did you eat that wasn't shown there?</h2>
      <h2 class="text-center">What I ate was....</h2>
      <div class="paragraph text-center">
        <div class="outer-form">
          <input [(ngModel)]="others" type="text" class="form-control text-center" name="" value="">
        </div>
      </div>
      <div class="outer-buttons text-center">
        <a (click)="cancelOthers()" class="img-btn btn-blue">CANCEL</a>
        <a [ngClass]="{'btn-inactive': others == '','btn-green': others !== ''}" (click)="saveOthers()" class="img-btn btn-inactive">CONFIRM</a>
      </div>
    </div>
  </div>
</div>
<!-- end -->
<!-- lightbox 2 -->
<div *ngIf="showForgetDrink" class="lightbox">
  <!-- "show" or "hide" -->
  <div class="outer-lightbox-content">
    <div class="lightbox-content">
      <h2 class="text-center">Did you forget to select any fruits, drinks, dessert or supplements you have eaten?</h2>
      <div class="outer-buttons text-center">
        <a class="img-btn btn-blue" (click)="resetForget()">YES, I DID!</a>
        <a class="img-btn btn-green btn-long" (click)="proceedNext()">NOPE, I DID NOT!</a>
      </div>
    </div>
  </div>
</div>