<div id="wrapper" class="page food-record background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="link-to-home">
          <a [routerLink]="['/page-home-day']"></a>
        </div>
        <div class="information one-line">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{character_type}}/{{character_type}}-head.{{image_type}}" alt="">
          </div>
          <span>Wow your meal sounds yummy! Is this what you ate?</span>
          <!-- <span>Your journey begins!</span>
          <span>On <strong>{{daily_log.day_status}}, {{daily_log.day_log}}, {{daily_log.dayname}}…</strong></span> -->
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
        </div>
        <div class="link-circle">
          <a [routerLink]="['/page-activity-summary']"></a>
        </div>
      </div>
      <div class="section-content food-summary">
        <div class="row">
          <div class="col-xs-12">
            <!-- <h3>Wow your meal sounds yummy! Is this what you ate?</h3> -->
            <div class="outer-button-action">
              <!-- <div [ngClass]="{'show-sub': showMenu,'hide-sub': !showMenu}" class="list-button-action has-sub">-->
                <!-- add "has-sub" and "show-sub" or "hide-sub" -->
                <!--<button (click)="toggleMenu()" class="img-btn btn-orange btn-long" type="button" name="button">ADD/EDIT FOOD ITEMS</button>
                <span (click)="toggleMenu()" class="arrow"></span>
                <ul *ngIf="showMenu" class="sub-button">
                  <li><a (click)="addMainMeals()">Main Meals</a></li>
                  <li><a (click)="addDrinks()">Drinks</a></li>
                  <li><a (click)="addFruits()">Fruits</a></li>
                  <li><a (click)="addDesserts()">Desserts</a></li>
                </ul>
              </div> -->
              <!-- <div class="list-button-action">
                <button class="img-btn btn-orange-light" type="button" name="button">EDIT</button>
              </div> -->
              <div class="list-button-action">
                <button (click)="goBackMain()" class="img-btn btn-orange btn-long" type="button" name="button">ADD/EDIT FOOD ITEMS</button>
              </div>
              <div class="list-button-action">
                <button (click)="delete()" class="img-btn btn-red btn-long" type="button" name="button">DELETE FOOD ITEMS</button>
              </div>
            </div>
            <div class="food-grid scrolling food-summary">
              <div *ngFor="let item of json.selected_option;let i=index;" [ngClass]="{'selected selected-multiple selected-delete': isInArraySelectedOption(item)}" (click)="selectMainMealOption(item)" class="list-food-grid">
                <div class="outer-image">
                  <div class="image-food">
                    <img src="{{item.image_path}}" alt="">
                  </div>
                  <div class="name">
                    <span>{{item.food_name}}</span>
                  </div>
                </div>
              </div>
              <div *ngFor="let item of json.selected_drinks_option;let i=index;" [ngClass]="{'selected selected-multiple selected-delete': isInArraySelectedDrinksOption(item)}" (click)="selectDrinksOption(item)" class="list-food-grid">
                <div class="outer-image">
                  <div class="image-food">
                    <img src="{{item.image_path}}" alt="">
                  </div>
                  <div class="name">
                    <span>{{item.food_name}}</span>
                  </div>
                </div>
              </div>
              <div *ngFor="let item of json.selected_fruits_option;let i=index;" [ngClass]="{'selected selected-multiple selected-delete': isInArraySelectedFruitsOption(item)}" (click)="selectFruitsOption(item)" class="list-food-grid">
                <div class="outer-image">
                  <div class="image-food">
                    <img src="{{item.image_path}}" alt="">
                  </div>
                  <div class="name">
                    <span>{{item.food_name}}</span>
                  </div>
                </div>
              </div>
              <div *ngFor="let item of json.selected_desert_option;let i=index;" [ngClass]="{'selected selected-multiple selected-delete': isInArraySelectedDesertsOption(item)}" (click)="selectDesertsOption(item)" class="list-food-grid">
                <div class="outer-image">
                  <div class="image-food">
                    <img src="{{item.image_path}}" alt="">
                  </div>
                  <div class="name">
                    <span>{{item.food_name}}</span>
                  </div>
                </div>
              </div>
              <div *ngFor="let item of json.selected_option_others;let i=index;" [ngClass]="{'selected selected-multiple selected-delete': isInArraySelectedOthersOption(item)}" (click)="selectOtherMainOption(item)" class="list-food-grid">
                <div class="outer-image">
                  <div class="image-food">
                    <img src="assets/img/foods/others.png" alt="">
                  </div>
                  <div class="name">
                    <span>{{item.name}}</span>
                  </div>
                </div>
              </div>
              <div *ngFor="let item of json.selected_option_drinks_others;let i=index;" [ngClass]="{'selected selected-multiple selected-delete': isInArraySelectedDrinkOthersOption(item)}" (click)="selectOtherDrinkOption(item)" class="list-food-grid">
                <div class="outer-image">
                  <div class="image-food">
                    <img src="assets/img/foods/others.png" alt="">
                  </div>
                  <div class="name">
                    <span>{{item.name}}</span>
                  </div>
                </div>
              </div>
              <div *ngFor="let item of json.selected_option_fruits_others;let i=index;" [ngClass]="{'selected selected-multiple selected-delete': isInArraySelectedFruitOthersOption(item)}" (click)="selectOtherFruitOption(item)" class="list-food-grid">
                <div class="outer-image">
                  <div class="image-food">
                    <img src="assets/img/foods/others.png" alt="">
                  </div>
                  <div class="name">
                    <span>{{item.name}}</span>
                  </div>
                </div>
              </div>
              <div *ngFor="let item of json.selected_option_deserts_others;let i=index;" [ngClass]="{'selected selected-multiple selected-delete': isInArraySelectedDesertOthersOption(item)}" (click)="selectOtherDesertOption(item)" class="list-food-grid">
                <div class="outer-image">
                  <div class="image-food">
                    <img src="assets/img/foods/others.png" alt="">
                  </div>
                  <div class="name">
                    <span>{{item.name}}</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="section-bottom">
        <div class="outer-buttons">
          <a (click)="goBack()" class="img-btn btn-blue">BACK</a>
          <a (click)="proceedNext()" class="img-btn btn-green">NEXT</a>
        </div>
      </div>
    </div>
  </div><!-- end #wrapper -->
</div>
