<div id="wrapper" class="page activity-diary background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="link-to-home">
          <a [routerLink]="['/page-home-day']"></a>
        </div>
        <div class="information one-line">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{character_type}}/{{character_type}}-head.{{image_type}}" alt="">
          </div>
          <span>What activity were you doing?</span>
          <!-- <span>Your journey begins!</span>
          <span>On
            <strong>Day {{daily_log.day_status}}, {{daily_log.day_log}}, {{daily_log.dayname}}…</strong>
          </span> -->
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
          <!-- "sound-on" or "sound-off" -->
        </div>
        <div class="link-circle">
          <a [routerLink]="['/page-activity-summary']"></a>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12">
            <!-- <h3>{{param}}</h3> -->
            <div class="choose-activity four-col">
              <div (click)="selectActivity('Reading/Studying')" [ngClass]="{'not-selected': selected_activity !== 'Reading/Studying' && selected_activity !== '-'}" class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/reading.png" alt="">
                  </div>
                  <div class="name">
                    <span>Reading/Doing Homework</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivity('Using your phone/tablet')" [ngClass]="{'not-selected': selected_activity !== 'Using your phone/tablet' && selected_activity !== '-'}" class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/phone.png" alt="">
                  </div>
                  <div class="name">
                    <span>Handphone/Tablet</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivity('Watching TV')" [ngClass]="{'not-selected': selected_activity !== 'Watching TV' && selected_activity !== '-'}" class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/tv.png" alt="">
                  </div>
                  <div class="name">
                    <span>TV</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivity('Playing Video Games')" [ngClass]="{'not-selected': selected_activity !== 'Playing Video Games' && selected_activity !== '-'}" class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/controller.png" alt="">
                  </div>
                  <div class="name">
                    <span>Video Games</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivity('Using the Computer/Laptop')" [ngClass]="{'not-selected': selected_activity !== 'Using the Computer/Laptop' && selected_activity !== '-'}" class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/laptop.png" alt="">
                  </div>
                  <div class="name">
                    <span>Computer/Laptop</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivity('Playing Board/Card Games')" [ngClass]="{'not-selected': selected_activity !== 'Playing Board/Card Games' && selected_activity !== '-'}" class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/board-game.png" alt="">
                  </div>
                  <div class="name">
                    <span>Board/Card Games</span>
                  </div>
                </div>
              </div>

              <!-- request -->
              <div (click)="selectActivity('Sit and Chat')" [ngClass]="{'not-selected': selected_activity !== 'Sit and Chat' && selected_activity !== '-'}" class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/sit-chat.png" alt="">
                  </div>
                  <div class="name">
                    <span>Sit & Chat</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivity('Tuition-Music-Lesson')" [ngClass]="{'not-selected': selected_activity !== 'Tuition-Music-Lesson' && selected_activity !== '-'}" class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/tuition-or-music-lesson.png" alt="">
                  </div>
                  <div class="name">
                    <span>Tuition/Music Lesson</span>
                  </div>
                </div>
              </div>
              <!-- end -->

              <div class="outer-form-other">
                <label>Other</label>
                <div class="form-other">
                  <input [(ngModel)]="others" (keyup)="onKey($event)" class="form-control" type="text" name="" value="">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="section-bottom">
        <div class="section-bottom">
          <div class="outer-buttons">
              <a (click)="goBack()" class="img-btn btn-blue">BACK</a>
              <a (click)="proceedNext()" [ngClass]="{'btn-green': proceed, 'btn-inactive': !proceed}" class="img-btn btn-green">NEXT</a>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end #wrapper -->
</div>
