<div id="wrapper" class="page profile-creation-avatar background background-mountains">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div *ngIf="selected == '-'" class="information two-lines">
          <span>Hi there! Before we start, choose a character!</span>
          <span>This character will be helping you through your journey.</span>
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
          <!-- "sound-on" or "sound-off" -->
        </div>
        <div *ngIf="selected !== '-'" class="information">
          <span>Cool! What's your character's name?</span>
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
          <!-- "sound-on" or "sound-off" -->
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-7">
            <div class="choose-avatar">
              <div (click)="chooseAvatar('boy', true)" [ngClass]="{'not-selected': selected != 'boy' && selected != '-', 'selected' : selected == 'boy'}" class="list-avatar">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <img src="assets/img/avatar/boy/boy.png" alt="">
                  <div class="name">
                    <span>Boy</span>
                  </div>
                </div>
              </div>
              <div (click)="chooseAvatar('girl', true)" [ngClass]="{'not-selected': selected != 'girl' && selected != '-', 'selected' : selected == 'girl'}" class="list-avatar">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <img src="assets/img/avatar/girl/girl.png" alt="">
                  <div class="name">
                    <span>Girl</span>
                  </div>
                </div>
              </div>
              <div (click)="chooseAvatar('robot', true)" [ngClass]="{'not-selected': selected != 'robot' && selected != '-', 'selected' : selected == 'robot'}"
                class="list-avatar">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <img src="assets/img/avatar/robot/robot.png" alt="">
                  <div class="name">
                    <span>Robot</span>
                  </div>
                </div>
              </div>
              <div (click)="chooseAvatar('elephant', true)" [ngClass]="{'not-selected': selected != 'elephant' && selected != '-', 'selected' : selected == 'elephant'}"
                class="list-avatar">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <img src="assets/img/avatar/elephant/elephant.png" alt="">
                  <div class="name">
                    <span>Elephant</span>
                  </div>
                </div>
              </div>
              <div (click)="chooseAvatar('zebra', true)" [ngClass]="{'not-selected': selected != 'zebra' && selected != '-', 'selected' : selected == 'zebra'}"
                class="list-avatar">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <img src="assets/img/avatar/zebra/zebra.png" alt="">
                  <div class="name">
                    <span>Zebra</span>
                  </div>
                </div>
              </div>
              <div (click)="chooseAvatar('hippo', true)" [ngClass]="{'not-selected': selected != 'hippo' && selected != '-', 'selected' : selected == 'hippo'}"
                class="list-avatar">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <img src="assets/img/avatar/hippo/hippo.png" alt="">
                  <div class="name">
                    <span>Hippo</span>
                  </div>
                </div>
              </div>
              <div (click)="chooseAvatar('cat', true)" [ngClass]="{'not-selected': selected != 'cat' && selected != '-', 'selected' : selected == 'cat'}"
                class="list-avatar">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <img src="assets/img/avatar/cat/cat.png" alt="">
                  <div class="name">
                    <span>Cat</span>
                  </div>
                </div>
              </div>
              <div (click)="chooseAvatar('dog', true)" [ngClass]="{'not-selected': selected != 'dog' && selected != '-', 'selected' : selected == 'dog'}"
                class="list-avatar">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <img src="assets/img/avatar/dog/dog.png" alt="">
                  <div class="name">
                    <span>Dog</span>
                  </div>
                </div>
              </div>
              <div (click)="chooseAvatar('lion', true)" [ngClass]="{'not-selected': selected != 'lion' && selected != '-', 'selected' : selected == 'lion'}" class="list-avatar">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <img src="assets/img/avatar/lion/lion.png" alt="">
                  <div class="name">
                    <span>Lion</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-5">
            <div class="selected-avatar-display">
              <div class="outer-image">
                <img [src]="selectedImg" alt="">
              </div>
              <div class="outer-form">
                <form>
                  <div class="form-group">
                    <label>Name</label>
                    <input name="name" [(ngModel)]="name" type="text" class="form-control" placeholder="">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-bottom">
        <div class="outer-buttons">
          <a (click)="next()" [ngClass]="{'btn-inactive': !isProceed(), 'btn-green' : isProceed()}" class="img-btn btn-inactive">NEXT</a>
          <!-- appear before select -->
        </div>
      </div>
    </div>
  </div>
  <!-- end #wrapper -->
</div>