<div id="wrapper" class="page activity-diary background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="link-to-home">
          <a [routerLink]="['/page-home-day']"></a>
        </div>
        <div class="information one-line">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{character_type}}/{{character_type}}-head.{{image_type}}" alt="">
          </div>
          <span>Where were you when you were doing these activities?</span>
          <!-- <span>Your journey begins!</span>
          <span>On
            <strong>Day {{daily_log.day_status}}, {{daily_log.day_log}}, {{daily_log.dayname}}…</strong>
          </span> -->
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
          <!-- "sound-on" or "sound-off" -->
        </div>
        <div class="link-circle">
          <a [routerLink]="['/page-activity-summary']"></a>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12">
            <!-- <h3>Where were you when you were doing these activities?</h3> -->
            <div class="choose-activity activity-location">
              <div (click)="selectActivity('Home')" [ngClass]="{'not-selected': selected_activity !== 'Home' && selected_activity !== '-'}"
                class="list-activity location">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/house.png" alt="">
                  </div>
                  <div class="name">
                    <span>Home</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivity('School')" [ngClass]="{'not-selected': selected_activity !== 'School' && selected_activity !== '-'}"
                class="list-activity location">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/school.png" alt="">
                  </div>
                  <div class="name">
                    <span>School</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivity('Student Care')" [ngClass]="{'not-selected': selected_activity !== 'Student Care' && selected_activity !== '-'}"
                class="list-activity location">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/student-care.png" alt="">
                  </div>
                  <div class="name">
                    <span>Student Care</span>
                  </div>
                </div>
              </div>
              <div class="outer-form-other">
                <label>Other</label>
                <div class="form-other">
                  <input class="form-control" type="text" name="" value="">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="section-bottom">
        <div class="outer-buttons">
          <a [routerLink]="['/page-activity-diary-dual-sitting']" class="img-btn btn-blue">BACK</a>
          <!-- appear before select -->
          <a (click)="proceedNext()" [ngClass]="{'btn-green': proceed, 'btn-inactive': !proceed}" class="img-btn btn-green">CONFIRM</a>

          <!-- appear after selected -->
        </div>
      </div>
    </div>
  </div>
  <!-- end #wrapper -->
</div>
