<div id="wrapper" class="page rewards background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="information two-lines">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{character_type}}/{{character_type}}-head.{{image_type}}" alt="">
          </div>
          <span>Let's drag your gardening tools onto the plant</span>
          <span>and see what happens!</span>
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
        </div>
      </div>
      <div class="section-content no-backgrond">
        <div class="row">
          <div class="col-xs-12">
            <div class="outer-image-growth">
              <div class="image-growth">
                <div mwlDroppable (drop)="drop()" class="outer-image-jar">
                  <div class="jar">
                    <img src="assets/img/tutorial/jar.png" alt="">
                  </div>
                  <div class="content-inside">
                    <img [hidden]="droppedData" src="assets/img/tutorial/soil-day4.png" alt="">
                    <img [hidden]="!droppedData" src="assets/img/tutorial/{{selectedPlant}}" alt="">
                  </div>
                  <div class="base">
                    <img src="assets/img/tutorial/base.png" alt="">
                  </div>
                </div>
                <div class="outer-action">
                  <div class="list-action disable">
                    <!-- add "locked disable" or "disable" -->
                    <img src="assets/img/tutorial/seed.png" alt="">
                  </div>
                  <div class="list-action disable">
                    <!-- add "locked disable" or "disable" -->
                    <img src="assets/img/tutorial/watering-can.png" alt="">
                  </div>
                  <div class="list-action disable">
                    <!-- add "locked disable" or "disable" -->
                    <img src="assets/img/tutorial/fertilizer.png" alt="">
                  </div>
                  <div *ngIf="!droppedData" class="list-action">
                    <!-- add "locked disable" or "disable" -->
                    <img mwlDraggable (dragEnd)="dragEnd($event)" src="assets/img/tutorial/tools.png" alt="">
                  </div>
                  <div *ngIf="droppedData" class="list-action disable">
                    <!-- add "locked disable" or "disable" -->
                    <img src="assets/img/tutorial/tools.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-bottom">
        <div class="outer-buttons">
          <a (click)="goToHome()" [ngClass]="{'btn-inactive': !droppedData, 'btn-green': droppedData}" class="img-btn">HOME</a>
        </div>
      </div>
    </div>
  </div><!-- end #wrapper -->
</div>