<div id="wrapper" class="page activity-diary background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="link-to-home">
          <a [routerLink]="['/page-home-day']"></a>
        </div>
        <div class="information one-line">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{character_type}}/{{character_type}}-head.{{image_type}}" alt="">
          </div>
          <span>Were you doing other activities at the same time?</span>
          <!-- <span>Your journey begins!</span>
          <span>On
            <strong>Day {{daily_log.day_status}}, {{daily_log.day_log}}, {{daily_log.dayname}}…</strong>
          </span> -->
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
          <!-- "sound-on" or "sound-off" -->
        </div>
        <div class="link-circle">
          <a [routerLink]="['/page-activity-summary']"></a>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12">
            <!-- <h3>Were you doing other activities at the same time?</h3> -->
            <div class="choose-activity">
              <div (click)="selectActivity('Nothing')" [ngClass]="{'not-selected': selected_activity !== 'Nothing' && selected_activity !== '-'}"
                class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/nothing.png" alt="">
                  </div>
                  <div class="name">
                    <span>Nothing</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivity('Eat and Drink')" [ngClass]="{'not-selected': selected_activity !== 'Eat and Drink' && selected_activity !== '-'}"
                class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/eat-and-drink.png" alt="">
                  </div>
                  <div class="name">
                    <span>Eat & Drink</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivity('Sitting Activities')" [ngClass]="{'not-selected': selected_activity !== 'Sitting Activities' && selected_activity !== '-'}"
                class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/sitting.png" alt="">
                  </div>
                  <div class="name">
                    <span>Sitting Activities</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivity('Nap/Sleep')" [ngClass]="{'not-selected': selected_activity !== 'Nap/Sleep' && selected_activity !== '-'}"
                class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/nap-bed.png" alt="">
                  </div>
                  <div class="name">
                    <span>Nap/Sleep</span>
                  </div>
                </div>
              </div>

              <!-- <div class="outer-form-other">
                <label>Other</label>
                <div class="form-other">
                  <input class="form-control" type="text" name="" value="">
                </div>
              </div> -->
            </div>

          </div>

        </div>
      </div>
      <div class="section-bottom">
        <div class="outer-buttons">
            <!-- <a [routerLink]="['/page-activity-diary-travelling-options']" class="img-btn btn-blue">BACK</a> -->
            <a (click)="proceedNext()" [ngClass]="{'btn-green': proceed, 'btn-inactive': !proceed}" class="img-btn btn-green">NEXT</a>

        </div>
      </div>
    </div>

  </div>
</div>
<!-- end #wrapper -->
