<div id="wrapper" class="page activity-diary background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="link-to-home">
          <a [routerLink]="['/page-home-day']"></a>
        </div>
        <div class="information text-left">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{character_type}}/{{character_type}}-head.{{image_type}}" alt="">
          </div>
          <span>a. Where were you when you were doing these activities?</span>
          <span>b. Was it indoors or outdoors?</span>
          <!-- <span>Your journey begins!</span>
          <span>On
            <strong>Day {{daily_log.day_status}}, {{daily_log.day_log}}, {{daily_log.dayname}}…</strong>
          </span> -->
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
          <!-- "sound-on" or "sound-off" -->
        </div>
        <div class="link-circle">
          <a [routerLink]="['/page-activity-summary']"></a>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12">
            <h3 class="text-left location">a. </h3>
            <div class="choose-activity activity-location four-col">
              <div (click)="selectActivityLocation('Home')" [ngClass]="{'not-selected': location !== 'Home' && location !== '-'}" class="list-activity location">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/house.png" alt="">
                  </div>
                  <div class="name">
                    <span>Home</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivityLocation('School')" [ngClass]="{'not-selected': location !== 'School' && location !== '-'}" class="list-activity location">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/school.png" alt="">
                  </div>
                  <div class="name">
                    <span>School</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivityLocation('Student Care')" [ngClass]="{'not-selected': location !== 'Student Care' && location !== '-'}" class="list-activity location">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/student-care.png" alt="">
                  </div>
                  <div class="name">
                    <span>Student Care</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivityLocation('Others')" [ngClass]="{'not-selected': location !== 'Others' && location !== '-'}" class="list-activity location">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/other.png" alt="">
                  </div>
                  <div class="name">
                    <span>Others</span>
                  </div>
                </div>
              </div>
            </div>
            <h3 class="text-left location">b. </h3>
            <div class="choose-activity activity-location four-col">
              <div (click)="selectActivityIndoorOutdoor('Indoor')" [ngClass]="{'not-selected': location_indoor_outdoor !== 'Indoor' && location_indoor_outdoor !== '-'}" class="list-activity location">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/indoor.png" alt="">
                  </div>
                  <div class="name">
                    <span>Indoor</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivityIndoorOutdoor('Outdoor')" [ngClass]="{'not-selected': location_indoor_outdoor !== 'Outdoor' && location_indoor_outdoor !== '-'}" class="list-activity location">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/outdoor.png" alt="">
                  </div>
                  <div class="name">
                    <span>Outdoor</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-bottom">
        <div class="outer-buttons">
          <a [routerLink]="['/page-food-record-summary']" class="img-btn btn-blue">BACK</a>
          <!-- appear before select -->
          <a (click)="proceedNext()" [ngClass]="{'btn-green': proceed, 'btn-inactive': !proceed}" class="img-btn btn-green">CONFIRM</a>

          <!-- appear after selected -->
        </div>
      </div>
    </div>
  </div>
  <!-- end #wrapper -->
</div>
