<div id="wrapper" class="page profile-creation-background background background-mountains" [ngStyle]="{'background': 'url(' + photo + ')'}">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="information">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{selected_char}}/{{selected_char}}-head.{{image_type}}" alt="">
          </div>
          <span>Now, where does your character live?</span>
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
          <!-- "sound-on" or "sound-off" -->
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12">
            <div class="choose-background">
              <div (click)="select('beach')" [ngClass]="{'not-selected': selected != 'beach' && selected != '-','selected' : selected == 'beach'}" class="list-background">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <img src="assets/img/background/beach/beach.png" alt="">
                  <div class="name">
                    <span>Beach</span>
                  </div>
                </div>
              </div>
              <div (click)="select('space')" [ngClass]="{'not-selected': selected != 'space' && selected != '-','selected' : selected == 'space'}" class="list-background">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <img src="assets/img/background/space/space.png" alt="">
                  <div class="name">
                    <span>Space</span>
                  </div>
                </div>
              </div>
              <div (click)="select('carnival')" [ngClass]="{'not-selected': selected != 'carnival' && selected != '-','selected' : selected == 'carnival'}" class="list-background">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <img src="assets/img/background/carnival/carnival.png" alt="">
                  <div class="name">
                    <span>Carnival</span>
                  </div>
                </div>
              </div>
              <div (click)="select('forest')" [ngClass]="{'not-selected': selected != 'forest' && selected != '-','selected' : selected == 'forest'}" class="list-background">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <img src="assets/img/background/forest/forest.png" alt="">
                  <div class="name">
                    <span>Forest</span>
                  </div>
                </div>
              </div>
              <div (click)="select('arcade')" [ngClass]="{'not-selected': selected != 'arcade' && selected != '-','selected' : selected == 'arcade'}" class="list-background">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <img src="assets/img/background/video-game/video-game.png" alt="">
                  <div class="name">
                    <span>Arcade</span>
                  </div>
                </div>
              </div>
              <div (click)="select('mountains')" [ngClass]="{'not-selected': selected != 'mountains' && selected != '-','selected' : selected == 'mountains'}" class="list-background">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <img src="assets/img/background/mountains/mountains.png" alt="">
                  <div class="name">
                    <span>Mountains</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="section-bottom">
        <div class="outer-buttons">
          <a [routerLink]="['/profile-choose-avatar']" class="img-btn btn-blue">BACK</a>
          <a (click)="next()" [ngClass]="{'btn-green': isProceed(),'btn-inactive' : !isProceed()}" class="img-btn btn-green">NEXT</a>
        </div>
      </div>
    </div>
  </div>
  <!-- end #wrapper -->
</div>