<div id="wrapper" class="page activity-diary background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="link-to-home">
          <a [routerLink]="['/page-home-day']"></a>
        </div>
        <div class="information one-line">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{character_type}}/{{character_type}}-head.{{image_type}}" alt="">
          </div>
          <span>How did you travel to your destination?</span>
          <!-- <span>Your journey begins!</span>
          <span>On
            <strong>Day {{daily_log.day_status}}, {{daily_log.day_log}}, {{daily_log.dayname}}…</strong>
          </span> -->
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
          <!-- "sound-on" or "sound-off" -->
        </div>
        <div class="link-circle">
          <a [routerLink]="['/page-activity-summary']"></a>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12">
            <!-- <h3>How did you travel to your destination?</h3> -->
            <div class="choose-activity">
              <div (click)="selectActivity('Walk')" [ngClass]="{'selected': selected_option == 'Walk', 'not-selected': selected_option !== 'Walk' && selected_option !== '-'}" class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/walking.png" alt="">
                  </div>
                  <div class="name">
                    <span>Walk</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivity('Cycle')" [ngClass]="{'selected': selected_option == 'Cycle', 'not-selected': selected_option !== 'Cycle' && selected_option !== '-'}" class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/bicycle.png" alt="">
                  </div>
                  <div class="name">
                    <span>Cycle</span>
                  </div>
                </div>
              </div>
              <!-- <div (click)="selectActivity('Child-Seat')" [ngClass]="{'selected selected-multiple': isInArray('Child-Seat')}" class="list-activity">
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/child-seat.png" alt="">
                  </div>
                  <div class="name">
                    <span>Cycle (Child Seat)</span>
                  </div>
                </div>
              </div> -->
              <div (click)="selectActivity('Car/Taxi')" [ngClass]="{'selected': selected_option == 'Car/Taxi', 'not-selected': selected_option !== 'Car/Taxi' && selected_option !== '-'}" class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/taxi.png" alt="">
                  </div>
                  <div class="name">
                    <span>Car/Taxi</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivity('Bus/Train')" [ngClass]="{'selected': selected_option == 'Bus/Train', 'not-selected': selected_option !== 'Bus/Train' && selected_option !== '-'}" class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/bus.png" alt="">
                  </div>
                  <div class="name">
                    <span>Bus/Train</span>
                  </div>
                </div>
              </div>
              <div class="outer-form-other">
                  <label>Other</label>
                  <div class="form-other">
                    <input [(ngModel)]="others" (keyup)="onKey($event)" class="form-control" type="text" name="" value="">
                  </div>
                </div>
            </div>

          </div>
        </div>
      </div>
      <div class="section-bottom">
        <div class="outer-buttons">
            <a (click)="goBack()" class="img-btn btn-blue">BACK</a>
            <a (click)="proceedNext()" [ngClass]="{'btn-green': proceed, 'btn-inactive': !proceed}" class="img-btn btn-green">NEXT</a>

        </div>
      </div>
    </div>
  </div>
  <!-- end #wrapper -->
</div>
