<div id="wrapper" class="page rewards background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="information two-lines">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{character_type}}/{{character_type}}-head.{{image_type}}" alt="">
          </div>
          <span>Yippee! You have unlocked your first reward.</span>
          <span>Let's plant these seeds!</span>
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12">
            <div class="outer-image-rewards">
              <div class="image-rewards">
                <img src="assets/img/rewards-seed.gif" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-bottom">
        <div class="outer-buttons">
          <a [routerLink]="['/page-growth-day-1']" class="img-btn btn-green">NEXT</a>
        </div>
      </div>
    </div>
  </div><!-- end #wrapper -->
</div>