<div id="wrapper" class="page tutorial-screen background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="information two-lines">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{selected_char}}/{{selected_char}}-head.{{image_type}}" alt="">
          </div>
          <span>Every day after filling up the diary, we will unlock tools to grow our plant.</span>
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div><!-- "sound-on" or "sound-off" -->
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12">
            <div class="wrapper-step outer-tutorial-reward">
              <ul class="outer-step">
                <li class="list-step">
                  <span>Day 1</span>
                </li>
                <li class="list-step">
                  <span>Day 2</span>
                </li>
                <li class="list-step">
                  <span>Day 3</span>
                </li>
                <li class="list-step">
                  <span>Day 4</span>
                </li>
              </ul>
              <div class="image-step">
                <div class="list-image-step">
                  <img src="assets/img/tutorial/seed@2x.png" alt="">
                </div>
                <div class="list-image-step">
                  <img src="assets/img/tutorial/watering-can@2x.png" alt="">
                </div>
                <div class="list-image-step">
                  <img src="assets/img/tutorial/fertilizer@2x.png" alt="">
                </div>
                <div class="list-image-step">
                  <img src="assets/img/tutorial/tools@2x.png" alt="">
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="section-bottom">
        <div class="outer-buttons">
          <a [routerLink]="['/page-tutorial-activity-diary']" class="img-btn btn-blue">BACK</a>
          <a [routerLink]="['/page-tutorial-screen-final']" class="img-btn btn-green">NEXT</a>
        </div>
      </div>
    </div>
  </div><!-- end #wrapper -->
</div>