<div id="wrapper" class="page activity-diary background background-beach" [ngStyle]="{'background': 'url(' + photo + ')'}">
  <!-- background-beach, background-video-game, background-space, background-carnival, background-forest, background-mountains -->
  <div class="wrapper-edge">
    <div class="box-outer-position">
      <div class="section-top">
        <div class="link-to-home">
          <a [routerLink]="['/page-home-day']"></a>
        </div>
        <div class="information one-line">
          <div class="avatar-closeup">
            <img src="assets/img/avatar/{{character_type}}/{{character_type}}-head.{{image_type}}" alt="">
          </div>
          <span>{{param}}</span>
          <!-- <span>Your journey begins!</span>
          <span>On
            <strong>Day {{kid_account.daily_log.day_status}}, {{daily_log.day_log}}, {{daily_log.dayname}}</strong>
          </span> -->
          <div (click)="toggleSound()" [ngClass]="{'sound-on': isSoundOn(), 'sound-off' : !isSoundOn()}" class="sound"></div>
          <!-- "sound-on" or "sound-off" -->
        </div>
        <!-- <div class="link-circle">
          <a [routerLink]="['/page-activity-summary']"></a>
        </div> -->
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-xs-12">
            <!-- <h3>{{param}}</h3> -->
            <div class="choose-activity">
              <div (click)="selectActivity('Shower/Washup', 'shower-washup.png')"
                [ngClass]="{'not-selected': selected_activity !== 'Shower/Washup' && selected_activity !== '-'}" class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/shower-washup.png" alt="">
                  </div>
                  <div class="name">
                    <span>Shower/Washup/Brush teeth</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivity('Travelling','travelling.png')"
                [ngClass]="{'not-selected': selected_activity !== 'Travelling' && selected_activity !== '-'}" class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/travelling.png" alt="">
                  </div>
                  <div class="name">
                    <span>Travelling</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivity('Eat and Drink','eat-and-drink.png')"
                [ngClass]="{'not-selected': selected_activity !== 'Eat and Drink' && selected_activity !== '-'}" class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/eat-and-drink.png" alt="">
                  </div>
                  <div class="name">
                    <span>Eat & Drink</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivity('Nap/Sleep','nap-bed.png')" [ngClass]="{'not-selected': selected_activity !== 'Nap/Sleep' && selected_activity !== '-'}"
                class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/nap-bed.png" alt="">
                  </div>
                  <div class="name">
                    <span>Nap/Sleep</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivity('Sitting Activities','sitting.png')"
                [ngClass]="{'not-selected': selected_activity !== 'Sitting Activities' && selected_activity !== '-'}"
                class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/sitting.png" alt="">
                  </div>
                  <div class="name">
                    <span>Sitting Activities</span>
                  </div>
                </div>
              </div>
              <div (click)="selectActivity('Active Activities','active.png')"
                [ngClass]="{'not-selected': selected_activity !== 'Active Activities' && selected_activity !== '-'}"
                class="list-activity">
                <!-- in default condition, don't add the class "selected" or "not-selected" -->
                <div class="outer-image">
                  <div class="image-activity">
                    <img src="assets/img/activities/active.png" alt="">
                  </div>
                  <div class="name">
                    <span>Active Activities</span>
                  </div>
                </div>
              </div>
              <!-- <div class="outer-form-other">
                <label>Other</label>
                <div class="form-other">
                  <ul *ngIf="showSuggestion" class="outer-suggestion">
                    <li *ngFor="let item of suggestion">{{item.value}}</li>
                  </ul>
                  <input class="form-control" type="text" (keypress)="eventHandler($event)" name="others" [(ngModel)]="other_activities" value="">
                </div>
              </div> -->
            </div>

          </div>
        </div>
      </div>
      <div class="section-bottom">
        <div class="outer-buttons">
          <a (click)="proceedNext()" [ngClass]="{'btn-green': proceed, 'btn-inactive': !proceed}" class="img-btn btn-green">NEXT</a>
        </div>
      </div>
    </div>
  </div>
  <!-- end #wrapper -->
</div>
