// themes.scss
#wrapper {
	position: relative;
	// height: 100%;
	// width: 100%;
	min-height: 100vh;
	> .wrapper-edge {
		position: relative;
		// min-width: 992px;
		// min-height: 100vh;
		min-height: calc(100vh - 100px);
		height: 100%;
		width: 100%;
		z-index: 5;
	}
	&.background {
		background-size: cover !important;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			background: rgba(0,0,0,0.3);
		}
		&.background-video-game {
			background: url('../img/background/video-game/video-game@2x.png') no-repeat center center fixed;
		}
		&.background-beach {
			background: url('../img/background/beach/beach@2x.png') no-repeat center center fixed;
		}
		&.backgrond-carnival {
			background: url('../img/background/carnival/carnival@2x.png') no-repeat center center fixed;
		}
		&.background-forest {
			background: url('../img/background/forest/forest@2x.png') no-repeat center center fixed;
		}
		&.background-mountains {
			background: url('../img/background/mountains/mountains@2x.png') no-repeat center center fixed;
		}
		&.background-space {
			background: url('../img/background/space/space@2x.png') no-repeat center center fixed;
		}
	}

	&.page {
		.box-outer-position {
			@include absolute-center;
			width: 100%;
			max-width: 864px;
			max-height: 100%;
			.section-top {
				position: relative;
				.link-to-home {
					@include absolute-center-v;
					left: -60px;
					a {
						position: relative;
						display: block;
						height: 60px;
						width: 60px;
						background-image: url('../img/circle.png');
						background-size: contain;
						&:after {
							content: '';
							@include absolute-center;
							height: 28px;
							width: 28px;
							background-image: url('../img/icon-home.png');
						}
					}
				}
				.link-circle {
					@include absolute-center-v;
					right: -60px;
					&.close {
						a {
							background-image: url('../img/circle.png');
							&:after {
								background-image: url('../img/cross.png');
							}
						}
					}
					a {
						position: relative;
						display: block;
						height: 60px;
						width: 60px;
						background-image: url('../img/circle.png');
						background-size: contain;
						&:after {
							content: '';
							@include absolute-center;
							height: 28px;
							width: 28px;
							background-image: url('../img/icon-summary.png');
						}
					}
				}
				.link-circle-signout {
					@include absolute-center-v;
					right: -60px;
					a {
						position: relative;
						display: block;
						height: 60px;
						width: 60px;
						background-image: url('../img/circle-blue.png');
						background-size: contain;
						color: $color-white;
						@include font-button;
						padding-top: 15px;
						span {
							display: block;
							text-align: center;
							line-height: 16px;
						}
						&:hover {
							color: rgba(255,255,255,0.5);
							opacity: 0.9;
						}
					}
				}
				.information {
					position: relative;
					display: flex;
			    justify-content: center;
			    align-items: center;
					flex-direction: column;
					width: 100%;
					margin: 0 auto;
					max-width: 750px;
					height: 90px;
					line-height: 30px;
					border-radius: 100px;
					padding: 15px 75px 15px 110px;
				  background-image: linear-gradient(176deg, #fefefe, #f7f7f7);
				  box-shadow: 0 2px 10px 0 rgba(155, 155, 155, 0.5);
					text-align: center;
					&.one-line {
						span {
							// line-height: 60px;
						}
					}
					&.two-lines {
						span {
							line-height: 30px;
						}
					}
					span {
						display: block;
						font-size: 1.8rem;
						font-weight: 500;
					}
					.light {
						position: absolute;
						top: -35px;
    				left: -75px;
						&:after {
							content: '';
							height: 100px;
							width: 100px;
							background-image: url('../img/lightbulb.gif');
							background-size: contain;
							display: block;
						}
					}
					.avatar-closeup {
						@include absolute-center-v;
						left: -5px;
						height: 100px;
						width: 100px;
						background-size: contain;
						// border-radius: 100%;
						overflow: hidden;
						img {
							height: 100%;
						}
					}
					.sound {
						@include absolute-center-v;
						right: 20px;
						height: 55px;
						width: 55px;
						background-size: contain;
						border-radius: 100%;
						overflow: hidden;
						cursor: pointer;
						background-image: url('../img/circle-light.png');
						&.sound-off {
							&:after {
								content: '';
								@include absolute-center-v;
								height: 27px;
								width: 27px;
								background-image: url('../img/sound-off.png');
								background-size: contain;
								right: 14px;
							}
						}
						&.sound-on {
							&:after {
								content: '';
								@include absolute-center-v;
								height: 27px;
								width: 27px;
								background-image: url('../img/sound-on.png');
								background-size: contain;
								right: 14px;
							}
						}
					}
				}
			}
			.section-content {
				border-radius: 8px;
				background: rgba(247, 247, 247, 0.95);
				-webkit-box-shadow: 0 2px 10px 0 rgba(155, 155, 155, 0.5);
				box-shadow: 0 2px 10px 0 rgba(155, 155, 155, 0.5);
				padding: 20px 30px;
				margin: 10px 0;
				min-height: 466px;
				&:after {
					@include clear;
				}
				&.no-backgrond {
					background: transparent;
					-webkit-box-shadow: none;
					box-shadow: none;
				}
				h3 {
					text-align: center;
					font-size: 2rem;
					font-weight: 500;
					margin: 5px 0 20px 0;
					&.location {
						padding-left: 10px;
						padding-right: 10px;
						margin-bottom: -5px !important;
					}
				}
				button {
					border: none;
					outline: none;
					padding: 0;
					margin: 0;
					text-decoration: none;
					background-color: transparent;
					cursor: pointer;
					-webkit-appearance: none;
					-moz-appearance: none;
					&:focus {
						outline: none;
						outline-offset: -2px;
						border: none;
					}
				}
			}
			.outer-buttons {
				text-align: center;
			}
			.section-bottom {
				.outer-buttons {
					text-align: center;
					&:after {
						content: '';
						display: table;
						clear: both;
					}
				}
			}
		}
		&.login {
			.box-outer-position {
				max-width: 464px;
				width: 100%;
				.section-content {
					padding: 10px 60px 20px;
					.logo {
						display: block;
						margin: 20px auto;
						width: 100%;
						max-width: 235px;
						img {
							width: 100%;
						}
					}
					.outer-login {
						.form-group {
							margin-bottom: 25px;
							label {
								font-size: 1.8rem;
								@include body-font-semi-bold;
								margin-bottom: 10px;
							}
						}
						.forgot {
							text-align: center;
							a {
								color: #3f84d4;
							}
						}
					}
				}
			}
		}
		&.tutorial-screen {
			.box-outer-position {
				.section-content {
					&.introduction {
						height: 364px;
						width: 364px;
						min-height: 0;
						-webkit-border-radius: 100%;
						border-radius: 100%;
						margin: 30px auto;
						position: relative;
						.outer-avatar {
							@include absolute-center;
							width: 250px;
							height: 250px;
							// border-radius: 100%;
							overflow: hidden;
							img {
								width: 100%;
								height: 100%;
							}
						}
					}
					.outer-image-jar {
						position: relative;
						height: 296px;
						width: 290px;
						margin: 40px auto;
						img {
							width: 100%;
						}
						.jar {
							@include absolute-center-h;
							top: 0;
							width: 270px;
							height: 270px;
						}
						.content-inside {
							@include absolute-center-h;
							bottom: 26px;
							height: 208px;
							width: 200px;
							&.opacity-half {
								opacity: 0.5;
							}
						}
						.base {
							position: absolute;
							bottom: 0;
							left: 0;
							height: 26px;
							width: 100%;
						}
					}
					.outer-image-activity-diary {
						position: relative;
						height: 390px;
						width: 390px;
						margin: 0 auto;
						.image-activity-diary {
							img {
								width: 100%;
							}
						}
					}
					.wrapper-step {
						margin: 0 auto;
						&.outer-tutorial-reward {
							margin: 50px auto 0;
						}
						.outer-step {
							list-style-type: none;
							margin: 0;
							padding: 0;
							text-align: center;
							margin-bottom: 25px;
							li {
								display: inline-block;
								font-size: 2rem;
								color: $color-white;
								position: relative;
								width: 99px;
								height: 50px;
								margin: 0 45px;
								background-image: url('../img/tutorial/label-step.png');
								background-size: contain;
								&.step-inactive {
									opacity: 0.3;
								}
								&:first-child {
									&:after {
										display: none;
									}
								}
								&:after {
									content: '';
									display: block;
									height: 2px;
									width: 99px;
									background: #db9219;
									@include absolute-center-v;
									left: -97px;
								}
								span {
									display: block;
									height: 50px;
									line-height: 50px;
									padding-right: 15px;
								}
							}
						}
						.image-step {
							margin: 20px auto 50px;
							text-align: center;
							font-size: 0;
							.list-image-step {
								display: inline-block;
								width: 168px;
								height: 167px;
								margin: 0 10px;
								img {
									width: 100%;
								}
							}
						}
					}
				}
			}
		}
		&.profile-creation-avatar {
			.box-outer-position {
				.section-top {
					.information {
						padding: 15px 90px 15px 30px;
					}
				}
				.section-content {
					.choose-avatar {
						font-size: 0;
						margin-bottom: -20px;
						&:after {
							@include clear;
						}
						.list-avatar {
							display: inline-block;
							padding: 0 20px 50px;
							cursor: pointer;
							&.selected {
								.outer-image {
									&:before {
										content: '';
										display: block;
										position: absolute;
										left: -18px;
										top: -13px;
										width: 113px;
										height: 60px;
										background: url('../img/selected/selected.png');
										z-index: 2;
									}
									&:after {
										content: '';
										display: block;
										position: absolute;
										left: 0;
										top: 0;
										width: 100%;
										height: 100%;
										border: 4px solid #52b287;
										border-radius: 7px;
									}
									.name {
										box-shadow: 0 2px 10px 0 rgba(155, 155, 155, 0.5);
									}
								}
							}
							&.not-selected {
								.outer-image {
									opacity: 0.2;
								}
							}
							.outer-image {
								position: relative;
								height: 110px;
								width: 110px;
								border-radius: 7px;
								margin-bottom: -15px;
								img {
									@include absolute-center;
									width: 100%;
									height: auto;
									border-radius: 7px;
								}
								.name {
									position: absolute;
									left: 0;
									width: 100%;
									font-size: 1.6rem;
									background-color: $color-white;
									bottom: -15px;
									height: 30px;
  								border-radius: 13.5px;
									z-index: 3;
									span {
										text-align: center;
										display: block;
										height: 30px;
										line-height: 30px;
									}
								}
							}
						}
					}
					.selected-avatar-display {
						width: 300px;
						.outer-image {
							position: relative;
							width: 300px;
							height: 300px;
							border-radius: 7px;
							overflow: hidden;
							img {
								@include absolute-center;
								width: 100%;
							}
						}
						.outer-form {
							margin-top: 30px;
							.form-group {
								margin-bottom: 0;
								label {
									font-size: 2rem;
								}
							}
						}
					}
				}
			}
		}
		&.profile-creation-background {
			.section-top {

			}
			.section-content {
				.choose-background {
					font-size: 0;
					margin-bottom: -20px;
					&:after {
						@include clear;
					}
					.list-background {
						display: inline-block;
						padding: 0 10px 50px;
						cursor: pointer;
						&.selected {
							.outer-image {
								&:before {
									content: '';
									display: block;
									position: absolute;
									left: -18px;
									top: -13px;
									width: 113px;
									height: 60px;
									background: url('../img/selected/selected.png');
									z-index: 2;
								}
								&:after {
									content: '';
									display: block;
									position: absolute;
									left: 0;
									top: 0;
									width: 100%;
									height: 100%;
									border: 4px solid #52b287;
									border-radius: 7px;
								}
								.name {
									box-shadow: 0 2px 10px 0 rgba(155, 155, 155, 0.5);
								}
							}
						}
						&.not-selected {
							.outer-image {
								opacity: 0.2;
							}
						}
						.outer-image {
							position: relative;
							width: 248px;
  						height: 186px;
							border-radius: 7px;
							margin-bottom: -16px;
							img {
								@include absolute-center;
								width: 100%;
								height: 100%;
								border-radius: 7px;
							}
							.name {
								@include absolute-center-h;
								width: 80%;
								font-size: 1.6rem;
								background-color: $color-white;
								bottom: -16px;
								height: 32px;
								border-radius: 100px;
								z-index: 3;
								span {
									text-align: center;
									display: block;
									height: 32px;
									line-height: 32px;
								}
							}
						}
					}
				}
			}
		}
		&.about-yourself {
			.form-birthday {
				width: 85%;
				margin: 0 auto 30px;
			}
			.title-gender {

			}
			.choose-gender {
				font-size: 0;
				margin-bottom: -20px;
				text-align: center;
				&:after {
					@include clear;
				}
				.list-gender {
					display: inline-block;
					padding: 0 10px 50px;
					cursor: pointer;
					&.selected {
						.outer-image {
							-webkit-box-shadow: 0 4px 10px 0 rgba(41, 41, 41, 0.1);
							box-shadow: 0 4px 10px 0 rgba(41, 41, 41, 0.1);
						}
					}
					&.not-selected {
						.outer-image {
							opacity: 0.2;
						}
					}
					.outer-image {
						position: relative;
						padding: 25px 0;
						width: 200px;
						height: 200px;
						border-radius: 4px;
						background: $color-white;
						text-align: center;
						img {
							display: block;
							margin: 0 auto;
							width: 100px;
							height: 100px;
							border-radius: 100%;
						}
						.name {
							margin-top: 20px;
							font-size: 1.8rem;
							background-color: $color-white;
							font-weight: 400;
							span {
								text-align: center;
								display: block;
							}
						}
					}
				}
			}
		}
		&.about-yourself-day {
			.choose-day {
				font-size: 0;
				text-align: center;
				&:after {
					@include clear;
				}
				.list-day {
					display: inline-block;
					padding: 50px 10px;
					cursor: pointer;
					&.selected {
						.outer-image {
							-webkit-box-shadow: 0 4px 10px 0 rgba(41, 41, 41, 0.1);
							box-shadow: 0 4px 10px 0 rgba(41, 41, 41, 0.1);
						}
					}
					&.not-selected {
						.outer-image {
							opacity: 0.2;
						}
					}
					.outer-image {
						position: relative;
						padding: 50px 0;
						width: 300px;
						height: 300px;
						border-radius: 4px;
						background: $color-white;
						text-align: center;
						.image-calendar {
							position: relative;
							display: block;
							margin: 0 auto;
							width: 100px;
							height: 100px;
							&.calendar-today {
								&:after {
									content: '';
									display: block;
									@include absolute-center-h;
									bottom: 10px;
									width: 46px;
									height: 46px;
									background-image: url('../img/calendar/circled.png');
								}
							}
							img {
								width: 100%;
								height: 100%;
							}
							.day {
								@include absolute-center-h;
								@include font-button;
								color: #5b5454;
								font-size: 4.8rem;
								bottom: 0;
							}
						}
						.name {
							margin-top: 25px;
							font-size: 1.8rem;
							background-color: $color-white;
							font-weight: 400;
							span {
								&:first-child {
									@include body-font-semi-bold;
								}
								text-align: center;
								display: block;
							}
						}
					}
				}
			}
		}
		&.about-yourself-sleep {
			button {
				border: none;
				outline: none;
				padding: 0;
				margin: 0;
				text-decoration: none;
				background-color: transparent;
				cursor: pointer;
				-webkit-appearance: none;
				-moz-appearance: none;
				&:focus {
					outline: none;
					outline-offset: -2px;
					border: none;
				}
			}
			.time-sleep-form {
				border-radius: 4px;
				background-color: $color-white;
				padding: 35px 65px;
				width: 53%;
				margin: 0 auto;
				> .row {
					> [class^="col"] {
						padding: 0;
					}
				}
				.time-sleep {
					&:after {
						@include clear;
					}
					h4 {
						font-weight: 400;
						text-align: center;
						margin-bottom: 10px;
						font-size: 1.8rem;
					}
					.form-control {
						text-align: center;
						background: $color-white;
						border-radius: 0;
						font-size: 74px;
						height: 80px;
						padding: 0;
						border: 0 transparent;
						// border-bottom: 1px solid #979797;
						-webkit-box-shadow: none;
					  box-shadow: none;
					}
					.hour {
						float: left;
						width: 48%;
						padding: 0 5px;
						position: relative;
						&:after {
							content: '';
							display: block;
							position: absolute;
							left: 0;
							top: 0;
							width: 100%;
							height: 100%;
						}
						.hour-1, .hour-2 {
							float: left;
							width: 50%;
							padding: 0 5px;
						}
					}
					.dots {
						float: left;
						width: 4%;
						text-align: center;
						font-size: 4rem;
    				padding-top: 7px;
					}
					.minute {
						float: left;
						width: 48%;
						padding: 0 5px;
						position: relative;
						&:after {
							content: '';
							display: block;
							position: absolute;
							left: 0;
							top: 0;
							width: 100%;
							height: 100%;
						}
						.minute-1, .minute-2 {
							float: left;
							width: 50%;
							padding: 0 5px;
						}
					}
				}
				.text-am-pm {
					font-size: 44px;
    			padding-top: 18px;
				}
			}
			.button-am-pm {
				> div {
					text-align: center;
					padding: 5px 0;
					display: inline-block;
				}
			}
			.outer-buttons-number {
				position: relative;
				width: 77%;
				margin: 0 auto;
				text-align: center;
				font-size: 0;
				padding: 20px 60px 5px;
				&:after {
					@include clear;
				}
				.list-button {
					display: inline-block;
					padding: 5px;
					button {
						display: block;
					}
				}
				.button-clear {
					@include absolute-center-v;
					right: 0;
				}
			}
		}
		&.activity-diary {
			button {
				border: none;
				outline: none;
				padding: 0;
				margin: 0;
				text-decoration: none;
				background-color: transparent;
				cursor: pointer;
				-webkit-appearance: none;
				-moz-appearance: none;
				&:focus {
					outline: none;
					outline-offset: -2px;
					border: none;
				}
			}
			.section-top {
				.information {
					span {
						line-height: 30px;
					}
				}
			}
			h3 {
				margin-top: 5px !important;
				margin-bottom: 15px !important;
			}
			.choose-activity {
				font-size: 0;
				&:after {
					@include clear;
				}
				&.four-col {
					.list-activity {
						.outer-image {
							width: 181px !important;
						}
					}
				}
				&.activity-indoors-outdoors {
					text-align: center;
					.list-activity {
						margin-bottom: 20px;
						.outer-image {
							width: 300px !important;
							height: auto;
							padding: 20px 0;
							.image-activity {
								width: 205px;
								height: 154px;
							}
							.name {
								margin-top: 10px;
								font-size: 2rem;
							}
						}
						.desc {
							width: 205px;
							font-size: 1.6rem;
							margin-top: 10px;
							margin-bottom: 0;
							margin-left: auto;
							margin-right: auto;
						}
					}
				}
				.list-activity {
					display: inline-block;
					padding: 10px;
					cursor: pointer;
					&.selected {
						.outer-image {
							-webkit-box-shadow: 0 4px 10px 0 rgba(41, 41, 41, 0.1);
							box-shadow: 0 4px 10px 0 rgba(41, 41, 41, 0.1);
						}
					}
					&.selected-multiple {
						.outer-image {
							position: relative;
							&:after {
								content: '';
								display: block;
								position: absolute;
								left: 0;
								top: 0;
								height: 100%;
								width: 100%;
								border: 4px solid #52b287;
								border-radius: 5px;
							}
							&:before {
								content: '';
								display: block;
								position: absolute;
								top: 10px;
								right: 10px;
								height: 26px;
								width: 26px;
								background-image: url('../img/tick.png');
								background-size: contain;
							}
						}
					}
					&.not-selected {
						.outer-image {
							opacity: 0.2;
						}
					}
					.outer-image {
						position: relative;
						padding: 10px 0;
						width: 248px;
						height: 140px;
						border-radius: 4px;
						background: $color-white;
						text-align: center;
						.image-activity {
							position: relative;
							display: block;
							margin: 0 auto;
							width: 84px;
							height: 84px;
							img {
								width: auto;
								height: 100%;
							}
						}
						.name {
							margin-top: 5px;
							font-size: 1.4rem;
							background-color: $color-white;
							font-weight: 400;
							span {
								text-align: center;
								display: block;
								text-overflow: ellipsis;
						    overflow: hidden;
						    white-space: nowrap;
							}
						}
					}
				}
				.outer-form-other {
					width: 248px;
					margin: 10px auto;
					&:after {
						@include clear;
					}
					label {
						float: left;
						width: 30%;
						font-size: 1.8rem;
						@include body-font-semi-bold;
						text-align: left;
						height: 50px;
						line-height: 50px;
						margin-bottom: 0;
					}
					.form-other {
						float: left;
						width: 70%;
						position: relative;
						.outer-suggestion {
							position: absolute;
							width: 100%;
							left: 0;
							bottom: 100%;
							background: $color-white;
							list-style-type: none;
							margin: 0;
							padding: 0;
							font-size: 1.6rem;
							border-radius: 5px 5px 0 0;
							-webkit-box-shadow: 0 -2px 5px 0 rgba(41,41,41,.1);
							box-shadow: 0 -2px 5px 0 rgba(41,41,41,.1);
							li {
								padding: 7px;
								opacity: 0.8;
								cursor: pointer;
							}
						}
					}
				}
			}
			.activity-location {
				margin: 10px 0;
				.location {

				}
			}
			.choose-intensity {
				font-size: 0;
				text-align: center;
				margin: 60px 0;
				&:after {
					@include clear;
				}
				.list-intensity {
					display: inline-block;
					vertical-align: top;
					padding: 5px;
					cursor: pointer;
					&.selected {
						.outer-image {
							.image-activity {
								border: 5px solid #52b287;
								width: 89px;
								height: 89px;
								img {
									width: 89px;
									height: 89px;
								}
							}
						}
					}
					&.not-selected {
						.outer-image {
							opacity: 0.2;
						}
					}
					.outer-image {
						position: relative;
						padding: 10px 0;
						width: 140px;
						text-align: center;
						.image-activity {
							position: relative;
							display: block;
							margin: 0 auto;
							width: 84px;
							height: 84px;
							border-radius: 100%;
							img {
								@include absolute-center;
								width: auto;
								height: 100%;
							}
						}
						.name {
							margin-top: 15px;
							font-size: 1.6rem;
							font-weight: 400;
							span {
								text-align: center;
								display: block;
								font-family: 'CerebriSans-SemiBold', sans-serif;
							}
						}
					}
				}
			}
			.time-duration-form {
				border-radius: 4px;
				background-color: $color-white;
				padding: 15px;
				width: 65%;
				margin: 0 auto;
				&.activity-sitting {
					width: 45%;
					padding: 15px 5px;
					.minute, .hour {
						padding: 0 5px;
						float: left;
    				width: 48%;
						&:after {
							@include clear;
						}
						.minute-1, .minute-2, .hour-1, .hour-2 {
							float: left;
							width: 50%;
							padding: 0 5px;
						}
					}
				}
				.time-duration {
					&:after {
						@include clear;
					}
					h4 {
						font-weight: 400;
						text-align: center;
						margin-bottom: 10px;
						font-size: 1.8rem;
					}
					.form-control {
						text-align: center;
						background: $color-white;
						border-radius: 0;
						font-size: 74px;
						height: 80px;
						border: 0 transparent;
						// border-bottom: 1px solid #979797;
						padding: 0;
						-webkit-box-shadow: none;
					  box-shadow: none;
					}
					.minute {
						padding: 0 5px;
						&:after {
							@include clear;
						}
						.minute-1, .minute-2 {
							padding: 0 5px;
							float: left;
							width: 50%;
						}
					}
					.dots {
						float: left;
				    width: 4%;
				    text-align: center;
						font-size: 4rem;
    				padding-top: 7px;
					}
					.from-to {
						float: left;
    				width: 100%;
						text-align: center;
						margin-top: 10px;
						font-size: 1.6rem;
						letter-spacing: 0.5px;
					}
				}
			}
			.button-am-pm {
				> div {
					text-align: center;
					padding: 5px 0;
					display: inline-block;
				}
			}
			.outer-buttons-number {
				position: relative;
				width: 77%;
				margin: 0 auto;
				text-align: center;
				font-size: 0;
				padding: 15px 60px 0px;
				&:after {
					@include clear;
				}
				.list-button {
					display: inline-block;
					padding: 5px;
					button {
						display: block;
					}
				}
				.button-clear {
					@include absolute-center-v;
					right: 0;
				}
			}
			.outer-summary {
				margin: 0 -30px -20px;
				border-radius: 0 0 8px 8px;
				max-height: 400px;
				overflow-x: auto;
				.space-below {
					height: 100px;
				}
				.list-summary {
					background-color: $color-white;
					margin-bottom: 2px;
					padding: 15px 20px;
					font-size: 1.7rem;
					&:last-child {
						border-radius: 0 0 8px 8px;
					}
					&:after {
						@include clear;
					}
					&.multiple {
						position: relative;
						> div {
							float: none;
						}
						.row-multiple {
							padding-bottom: 15px;
							> div {
								float: left;
							}
							&:after {
								@include clear;
							}
						}
						// .edit {
						// 	@include absolute-center-v;
						// 	right: 20px;
						// }
					}
					.row-single {
						&:after {
							@include clear;
						}
						>div {
							float: left;
						}
					}
					.outer-image {
						width: 15%;
						.image-activity {
							width: 67px;
							height: 67px;
							img {
								height: 100%;
								width: 100%;
							}
						}
					}
					.time {
						width: 30%;
						margin-top: 20px;
					}
					.activity {
						width: 30%;
						margin-top: 20px;
						.main-activity {
							position: relative;
							span {
								@include body-font-semi-bold;
							}
							&.has-sub-activity {
								overflow: hidden;
								&.show-sub {
									.sub-activity {
										max-height: 350px;
									}
									.arrow {
										-webkit-transform: rotate(45deg);
										transform: rotate(45deg);
										top: 9px;
									}
								}
								&.hide-sub {
									.sub-activity {
										max-height: 0;
									}
									.arrow {
										-webkit-transform: rotate(-135deg);
										transform: rotate(-135deg);
									}
								}
							}
							.arrow {
								position: absolute;
								cursor: pointer;
								right: 40px;
								top: 3px;
								width: 10px;
							  height: 10px;
							  background: transparent;
							  text-indent: -9999px;
							  border-top: 2px solid #bfbfbf;
							  border-left: 2px solid #bfbfbf;
							}
							.sub-activity, .specific-activity {
								list-style-type: none;
								margin: 0;
								padding: 0;
								font-size: 1.6rem;
								-webkit-transition: all 0.5s ease;
								-ms-transition: all 0.5s ease;
								transition: all 0.5s ease;
							}
						}
					}
					.indoors-outdoors {
						width: 15%;
						margin-top: 20px;
					}
					.edit {
						width: 10%;
						&:after {
							@include clear;
						}
						a {
							float: right;
							display: block;
							width: 60px;
							height: 60px;
							background-image: url('../img/circle.png');
							background-size: contain;
							position: relative;
							&:before {
								@include absolute-center;
								height: 28px;
								width: 28px;
								content: '';
								background-image: url('../img/edit.png');
							}
						}
					}
				}
			}
		}
		&.rewards {
			.outer-image-rewards {
				.image-rewards {
					height: 336px;
					width: 340px;
					text-align: center;
					margin: 30px auto;
					img {
						height: 100%;
					}
				}
			}
			.outer-image-growth {
				.image-growth {
					.outer-image-jar {
						position: relative;
						height: 281px;
						width: 290px;
						margin: 0 auto 10px auto;
						img {
							width: 100%;
						}
						.jar {
							@include absolute-center-h;
							top: 0px;
							width: 270px;
							height: 270px;
						}
						.content-inside {
							@include absolute-center-h;
							bottom: 26px;
							height: 208px;
							width: 200px;
							&.opacity-half {
								opacity: 0.5;
							}
						}
						.base {
							position: absolute;
							bottom: 0;
							left: 0;
							height: 26px;
							width: 100%;
						}
					}
					.outer-action {
						&:after {
							@include clear;
						}
						background-color: rgba(255,255,255,0.8);
						border-radius: 10px;
						border: 5px solid #ffffff;
						text-align: center;
						font-size: 0;
						width: 600px;
						margin: 0 auto;
						.list-action {
							position: relative;
							display: inline-block;
							width: 25%;
							&.disable {
								img {
									opacity: 0.2;
								}
							}
							&.locked {
								&:after {
									content: '';
									@include absolute-center;
									height: 120px;
									width: 120px;
									background-image: url('../img/lock.png');
									background-size: contain;
								}
							}
						}
					}
				}
			}
		}
		&.food-record {
			.section-content {
				overflow: hidden;
				min-height: 435px;
				.space-below {
					height: 100px;
				}
				&.food-portion-content, &.food-summary {
					.food-portion {
						margin-left: -30px;
						margin-right: -30px;
					}
					h3 {
						margin-top: 0;
					}
				}
				.food-record-with-sidebar {
					margin: -20px -30px;
					width: auto;
					.nav-foods {
						width: 25%;
						float: left;
					}
					.food-grid {
						float: left;
						width: 75%;
						&.scrolling {
							max-height: 445px;
						}
					}
				}
			}
			.top-content {
				padding: 0 10px;
				margin-bottom: 10px;
				&:after {
					@include clear;
				}
				.left-title {
					float: left;
					width: 70%;
					h3 {
						text-align: left !important;
						margin: 12px 0 !important;
					}
				}
				.right-search {
					float: left;
					width: 30%;
					position: relative;
					&:after {
						content: '';
						height: 28px;
						width: 28px;
						@include absolute-center-v;
						right: 7px;
						background-image: url('../img/search.png');
						opacity: 0.5;
					}
					input {
						padding-right: 30px;
					}
				}
			}
			.nav-foods {
				// margin: 0 -30px 5px -30px;
				// width: 864px;
				position: relative;
				padding-top: 0;
				.arrow {
					position: absolute;
					bottom: 0;
					height: 51px;
					width: 100%;
					background: rgba(255,255,255,0.8);
					z-index: 1;
					padding-top: 15px;
					text-align: center;
					cursor: pointer;
					display: none;
					left: 0;
					&:after {
						content: "";
						border: solid #444444;
						border-width: 0 2px 2px 0;
						display: inline-block;
						padding: 5px;
						-webkit-transform: rotate(45deg);
						transform: rotate(45deg);
					}
				}
				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
					background: $color-white;
					max-height: 395px;
					overflow-x: auto;
					&:after {
						@include clear;
					}
					li {
						position: relative;
						&.active {
							a {
								@include body-font-semi-bold;
								opacity: 1;
								position: relative;
								background-color: rgba(255, 179, 53, 0.15);
								&:after {
									content: '';
									position: absolute;
									top: 33%;
									right: -5px;
									width: 26px;
									height: 16px;
									background-image: url('../img/indicator.png');
									background-size: contain;
									-webkit-transform: rotate(90deg);
									transform: rotate(90deg);
								}
							}
						}
						a {
							// height: 45px;
							line-height: normal;
							font-size: 2rem;
							display: block;
							padding: 7px 15px;
							opacity: 0.6;
							// text-overflow: ellipsis;
							// white-space: nowrap;
							// overflow: hidden;
						}
					}
				}
			}
			.food-grid {
				font-size: 0;
				&.scrolling {
					max-height: 375px;
					overflow-x: auto;
					margin-bottom: -5px;
					&.food-summary {
						max-height: 300px;
					}
				}
				&:after {
					@include clear;
				}
				&.four-col {
					.list-food-grid {
						.outer-image {
							width: 181px !important;
						}
					}
				}
				&.food-portion {
					.list-portion {
						padding-left: 30px;
						padding-right: 30px;
						background: rgba(255,255,255,0.7);
						&:nth-child(even) {
							background: #f7f7f7;
							.portion {
								margin-top: 10px;
								margin-bottom: 10px;
							}
						}
						&:nth-child(odd) {
							.list-food-grid {
								padding-top: 0;
								padding-bottom: 0;
							}
						}
						&:after {
							@include clear;
						}
						.food {
							float: left;
							width: 25%;
							.list-food-grid {
								float: none;
								padding-left: 0;
								padding-right: 0;
								.outer-image {
									width: 100%;
									height: 130px;
									.image-food {
										height: 64px;
										img {
											height: 100%;
										}
									}
									.name {
										font-size: 1.6rem;
									}
								}
							}
						}
						.portion {
							float: left;
							width: 18.7%;
							height: 130px;
							position: relative;
							.image-portion {
								text-align: center;
								border-radius: 5px;
								background-color: $color-white;
								@include absolute-center;
								&.not-selected {
									opacity: 0.5;
								}
								&.selected {
									border: 6px solid #52b287;
									border-radius: 5px;
									img {
										border: 2px solid $color-white;
										border-radius: 0;
									}
									// &:after {
									// 	content: '';
									// 	@include absolute-center;
									// 	height: 98px;
									// 	width: 98px;
									// 	background-size: contain;
									// 	background-repeat: no-repeat;
									// 	background-position: center;
									// }
									// &.bowl-selected {
									// 	&:after {
									// 		background-image: url('../img/foods/bowl-selected.png');
									// 	}
									// }
									// &.glass-selected {
									// 	&:after {
									// 		background-image: url('../img/foods/glass-selected.png');
									// 	}
									// }
									// &.plate-selected {
									// 	&:after {
									// 		background-image: url('../img/foods/plate-selected.png');
									// 	}
									// }
								}
								// &.selected-serving {
								// 	border: 6px solid #52b287;
								// 	border-radius: 5px;
								// 	img {
								// 		border: 2px solid $color-white;
								// 		border-radius: 0;
								// 	}
								// }
								.no-image-portion {
									display: table;
									text-align: center;
									width: 115px;
    								height: 90px;
									.text-portion {
										display: table-cell;
										vertical-align: middle;
										color: $color-main-font;
										font-size: 14px;
										span {
											display: block;
										}
									}
								}
								img {
									width: 115px;
									border-radius: 5px;
								}
							}
						}
					}
				}
				.list-portion {
					.list-food-grid {
						width: auto;
					}
				}
				.list-food-grid {
					float: left;
					padding: 10px;
					cursor: pointer;
					width: 33.333%;
					&.selected {
						.outer-image {
							-webkit-box-shadow: 0 4px 10px 0 rgba(41, 41, 41, 0.1);
							box-shadow: 0 4px 10px 0 rgba(41, 41, 41, 0.1);
						}
					}
					&.selected-multiple {
						.outer-image {
							position: relative;
							&:after {
								content: '';
								display: block;
								position: absolute;
								left: 0;
								top: 0;
								height: 100%;
								width: 100%;
								border: 4px solid #52b287;
								border-radius: 5px;
							}
							&:before {
								content: '';
								display: block;
								position: absolute;
								top: 10px;
								right: 10px;
								height: 26px;
								width: 26px;
								background-image: url('../img/tick.png');
								background-size: contain;
								z-index: 9;
							}
						}
					}
					&.selected-edit {
						.outer-image {
							&:after {
								border: 4px solid #ffb335;
							}
							&:before {
								background-image: url('../img/edit-selected.png');
							}
						}
					}
					&.selected-delete {
						.outer-image {
							&:after {
								border: 4px solid #e0394d;
							}
							&:before {
								background-image: url('../img/delete-selected.png');
							}
						}
					}
					&.not-selected {
						.outer-image {
							opacity: 0.2;
						}
					}
					.outer-image {
						position: relative;
						padding: 10px 0;
						// width: 248px;
						// height: 140px;
						border-radius: 4px;
						background: $color-white;
						text-align: center;
						.image-food {
							position: relative;
							display: block;
							margin: 0 auto;
							width: auto;
							height: 84px;
							border-radius: 5px;
							overflow: hidden;
							img {
								width: auto;
								height: 100%;
							}
						}
						.name {
							margin-top: 5px;
							font-size: 1.4rem;
							background-color: $color-white;
							font-weight: 400;
							span {
								text-align: center;
								display: block;
								height: 42px;
								padding: 0 5px;
								overflow: hidden;
							}
						}
					}
				}
				.outer-form-other {
					width: 248px;
					margin: 10px auto;
					&:after {
						@include clear;
					}
					label {
						float: left;
						width: 30%;
						font-size: 1.8rem;
						@include body-font-semi-bold;
						text-align: left;
						height: 50px;
						line-height: 50px;
						margin-bottom: 0;
					}
					.form-other {
						float: left;
						width: 70%;
					}
				}
			}
			.outer-button-action {
				margin: 0 -30px 15px -30px;
				background: rgba(255,255,255,0.8);
				padding: 15px 30px;
				text-align: center;
				.list-button-action {
					display: inline-block;
					position: relative;
					&.has-sub {
						&.show-sub {
							.sub-button {
								max-height: 350px;
							}
							.arrow {
								-webkit-transform: rotate(180deg);
								transform: rotate(180deg);
							}
							.sub-button {
								border: solid 1px #f3f3f3;
								box-shadow: 0 2px 4px 0 rgba(197, 197, 197, 0.5);
							}
						}
						&.hide-sub {
							.sub-button {
								max-height: 0;
							}
						}
						.arrow {
							position: absolute;
							cursor: pointer;
							top: 14px;
							right: 25px;
							width: 18px;
							height: 18px;
							background-image: url('../img/arrow-down.png');
							background-size: contain;
							-webkit-transition: all 0.5s ease;
							-ms-transition: all 0.5s ease;
							transition: all 0.5s ease;
						}
						.sub-button {
							position: absolute;
							left: 0;
							top: calc(100% + 5px);
							width: 100%;
							background: $color-white;
							list-style-type: none;
							overflow: hidden;
							margin: 0;
							padding: 0;
							font-size: 1.6rem;
							-webkit-transition: all 0.5s ease;
							-ms-transition: all 0.5s ease;
							transition: all 0.5s ease;
							border-radius: 10px;
							z-index: 1;
							li {
								&:not(:last-child) {
									border-bottom: 1px solid #f3f3f3
								}
								a {
									display: block;
									padding: 10px 5px;
								}
							}
						}
					}
				}
			}
		}
		&.home-states {
			.section-content {
				&.evaluation-report {
					padding: 0;
					overflow: hidden;
				}
			}
			.outer-evaluation-report {
				position: relative;
				padding: 20px 20px 0;
				max-height: 400px;
				overflow-x: auto;
				&:after {
					@include clear;
				}
				.page-of {
					// position: -webkit-sticky;
    			// position: sticky;
					// left: 10px;
					// top: 10px;
					position: fixed;
					top: 120px;
					left: 30px;
					background: rgba(216,216,216,0.7);
					border-radius: 8px;
					width: 100px;
					height: 40px;
					text-align: center;
					z-index: 5;
					span {
						line-height: 40px;
					}
				}
				.list-evaluation-report {
					float: left;
					width: 50%;
    			padding: 10px;
					.outer-content {
						background: $color-white;
						border-radius: 4px;
						padding: 10px 20px;
						height: 290px;
						h4 {
							font-size: 2rem;
							font-weight: 400;
						}
						p {
							font-size: 1.6rem;
							letter-spacing: 0.3px;
							margin: 0;
					    overflow: hidden;
					    line-height: 1.4;
						}
						.duration {
							margin: 20px 0;
							padding: 40px 0 60px 0;
							position: relative;
							.current {
								font-size: 1.3rem;
								position: absolute;
								top: -40px;
								margin-left: -55px;
							}
							.recommended {
								@include absolute-center-h;
								top: 84px;
								font-size: 1.3rem;
								z-index: 1;
								&:after {
									content: '';
									@include absolute-center-h;
									border-left: 2px dashed #979797;
									height: 42px;
									top: -44px;
								}
							}
							.bar {
								height: 10px;
							  border-radius: 10px;
							  background-color: #dadada;
								position: relative;
								.bar-fill {
									position: absolute;
									left: 0;
									top: 0;
									height: 10px;
									border-radius: 10px;
									&.bar-yellow {
										background: #ffdd2f;
									}
									&.bar-green {
										background: #89dd35;
									}
									&.bar-blue {
										background: #45acef;
									}
								}
								.icon {
									@include absolute-center-v;
									height: 42px;
									width: 42px;
									background-size: contain;
									margin-left: -21px;
									z-index: 2;
									&.icon-yellow {
										background-image: url('../img/home-states/mid.png');
									}
									&.icon-green {
										background-image: url('../img/home-states/good.png');
									}
									&.icon-blue {
										background-image: url('../img/home-states/bad.png');
									}
								}
							}
						}
					}
				}
				.outer-dietary-intake {
					background: #ededed;
					clear: both;
					margin: 20px -20px -20px;
    			padding: 0 20px;
					border-radius: 0 0 10px 10px;
					&:after {
						@include clear;
					}
					h3 {
						margin: 0;
						padding: 10px 0 5px 10px;
						text-align: left;
					}
					.list-dietary-intake {
						float: left;
						width: 50%;
	    			padding: 10px;
						.outer-content {
							background: $color-white;
							border-radius: 4px;
							padding: 10px 20px;
							height: 240px;
							position: relative;
							.icon {
								position: absolute;
								display: block;
								top: 12px;
								right: 15px;
								height: 42px;
								width: 42px;
								background-size: contain;
								&.icon-yellow {
									background-image: url('../img/home-states/mid.png');
								}
								&.icon-green {
									background-image: url('../img/home-states/good.png');
								}
								&.icon-blue {
									background-image: url('../img/home-states/bad.png');
								}
							}
							h4 {
								font-size: 2rem;
								font-weight: 400;
								margin-top: 10px;
								margin-bottom: 15px;
							}
							p {
								font-size: 1.6rem;
								letter-spacing: 0.3px;
								margin: 0;
								overflow: hidden;
								max-height: 48px;
								line-height: 1.4;
							}
							.content-middle {
								height: 110px;
								position: relative;
								margin: 0 -5px;
								&:after {
									content: '';
									display: table;
									clear: both;
								}
								.taken-not-taken {
									width: calc(50% - 10px);
									margin: 20px 5px;
									padding: 10px 15px;
									background: #f1f1f1;
									text-align: center;
									font-size: 1.6rem;
									position: relative;
									float: left;
									&.active {
										&:before {
											display: block;
										}
									}
									&:before {
										display: none;
										content: '';
										position: absolute;
										left: 7px;
								    top: 9px;
								    height: 25px;
								    width: 25px;
										background-image: url('../img/tick.png');
								    background-repeat: no-repeat;
								    background-position: center;
								    background-size: cover;
									}
								}
								.outer-portion {
									text-align: center;
									.list-portion {
										display: inline-block;
										height: 60px;
										width: 60px;
										position: relative;
										text-align: center;
										> span {
											opacity: 0.9;
										}
										&.recommended {
											&:before {
												content: '';
												position: absolute;
												left: calc(50% - 8px);
												top: 100%;
												height: 11px;
												width: 16px;
												background-image: url('../img/angle.png');
												background-size: contain;
												-webkit-transform: rotate(180deg);
												transform: rotate(180deg);
											}
											&:after {
												content: 'Recommended';
												@include absolute-center-h;
												top: calc(100% + 15px);
												font-size: 1.3rem;
												opacity: 0.9;
											}
										}
										&.portion-blur {
											img {
												opacity: 0.3;
											}
										}
										img {
											height: 100%;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.lightbox {
	background: rgba(0,0,0,0.8);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9998;
	&.show {
		display: block;
	}
	&.hide {
		display: none;
	}
	.outer-lightbox-content {
		width: 600px;
		background: #f7f7f7;
		border-radius: 8px;
		padding: 40px 20px 20px;
		position: relative;
		&.no-red-icon {
			&:before {
				display: none;
			}
		}
		&:before {
			content: '';
			@include absolute-center-h;
			top: -31px;
			height: 62px;
			width: 62px;
			background-image: url('../img/odd.png');
			background-size: contain;
		}
		@include absolute-center;
		.lightbox-content {
			h3 {
				text-align: center;
				font-size: 1.8rem;
				font-weight: 500;
				margin: 0 0 20px 0;
			}
			.time {
				margin-bottom: 20px;
				text-align: center;
				&.activity {
					span {
						letter-spacing: normal;
						padding: 0 2px;
						&.timer {
							font-weight: 600;
						}
						&.am-pm {
							font-weight: 400;
						}
					}
				}
				span {
					font-weight: 500;
					letter-spacing: 7px;
					&.timer {
						font-size: 5.5rem;
					}
					&.am-pm {
						font-size: 3.5rem;
					}
				}
			}
			.paragraph {
				width: 80%;
				margin: 20px auto;
				p {
					font-size: 1.8rem;
					line-height: 1.9;
				}
			}
		}
	}
}
