/*!
  Theme Name: NUSCOC
  Tags: HTML5, CSS3

  License: MIT
  License URI: http://opensource.org/licenses/mit-license.php
*/
@font-face {
  font-family: 'CerebriSans-Regular';
  src: url("../fonts/cerebri-sans/CerebriSans-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/cerebri-sans/CerebriSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/cerebri-sans/CerebriSans-Regular.woff2") format("woff2"), url("../fonts/cerebri-sans/CerebriSans-Regular.woff") format("woff"), url("../fonts/cerebri-sans/CerebriSans-Regular.ttf") format("truetype"), url("../fonts/cerebri-sans/CerebriSans-Regular.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'CerebriSans-SemiBold';
  src: url("../fonts/cerebri-sans/CerebriSans-SemiBold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/cerebri-sans/CerebriSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/cerebri-sans/CerebriSans-SemiBold.woff2") format("woff2"), url("../fonts/cerebri-sans/CerebriSans-SemiBold.woff") format("woff"), url("../fonts/cerebri-sans/CerebriSans-SemiBold.ttf") format("truetype"), url("../fonts/cerebri-sans/CerebriSans-SemiBold.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'CerebriSans-Bold';
  src: url("../fonts/cerebri-sans/CerebriSans-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/cerebri-sans/CerebriSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/cerebri-sans/CerebriSans-Bold.woff2") format("woff2"), url("../fonts/cerebri-sans/CerebriSans-Bold.woff") format("woff"), url("../fonts/cerebri-sans/CerebriSans-Bold.ttf") format("truetype"), url("../fonts/cerebri-sans/CerebriSans-Bold.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
  font-size: 62.5%; }

body {
  font-size: 1.4rem;
  font-family: "CerebriSans-Regular", sans-serif, Arial;
  font-weight: 300;
  color: #444444; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0; }

strong {
  font-family: "CerebriSans-Bold", sans-serif, Arial;
  font-weight: normal; }

label {
  font-family: "CerebriSans-SemiBold", sans-serif, Arial;
  font-weight: normal; }

a {
  color: black;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    color: #444444;
    text-decoration: none; }
  a:focus {
    outline: 0;
    text-decoration: none; }

/*
* Navbar
*/
.text-center {
  text-align: center; }

.text-left {
  text-align: left !important; }

.img-btn {
  font-family: 'Boogaloo', cursive, Arial;
  width: 160px;
  height: 46px;
  margin-left: 5px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  line-height: 46px;
  letter-spacing: 1px;
  font-size: 2.2rem;
  cursor: pointer; }
  .img-btn:hover, .img-btn:visited {
    color: #ffffff; }
  .img-btn:focus {
    color: rgba(255, 255, 255, 0.5);
    opacity: 0.9; }
  .img-btn.btn-green {
    background-image: url("../img/buttons/btn-green.png"); }
    .img-btn.btn-green.btn-long {
      background-image: url("../img/buttons/btn-green-long.png");
      width: 260px; }
  .img-btn.btn-blue {
    background-image: url("../img/buttons/btn-blue.png"); }
    .img-btn.btn-blue.btn-long {
      background-image: url("../img/buttons/btn-blue-long.png");
      width: 260px; }
  .img-btn.btn-orange-light {
    background-image: url("../img/buttons/btn-orange-light.png"); }
  .img-btn.btn-orange {
    background-image: url("../img/buttons/btn-orange.png"); }
    .img-btn.btn-orange.btn-short {
      background-image: url("../img/buttons/btn-orange-short.png");
      width: 120px;
      font-size: 2.4rem; }
    .img-btn.btn-orange.btn-long {
      background-image: url("../img/buttons/btn-orange-long.png");
      width: 260px; }
  .img-btn.btn-purple.btn-short {
    background-image: url("../img/buttons/btn-purple-short.png");
    width: 120px;
    font-size: 2.4rem; }
  .img-btn.btn-red {
    background-image: url("../img/buttons/btn-red.png"); }
    .img-btn.btn-red.btn-long {
      width: 260px;
      background-image: url("../img/buttons/btn-red-long.png"); }
  .img-btn.btn-inactive {
    background-image: url("../img/buttons/btn-inactive.png");
    color: #b0b0b0;
    cursor: not-allowed; }
    .img-btn.btn-inactive.btn-long {
      background-image: url("../img/buttons/btn-inactive-long.png");
      width: 260px; }
    .img-btn.btn-inactive.btn-short {
      background-image: url("../img/buttons/btn-inactive-short.png");
      width: 120px;
      font-size: 2.4rem; }
  .img-btn.btn-number {
    background-image: url("../img/buttons/btn-number.png");
    height: 48px;
    width: 98px;
    font-size: 2.8rem; }
  .img-btn.btn-clear-circle {
    background-image: url("../img/buttons/btn-clear-circle.png");
    height: 84px;
    width: 84px;
    font-size: 1.8rem; }

.form-control {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  background-color: #e8e8e8;
  -webkit-box-shadow: inset 0 1px 3px 0 rgba(162, 162, 162, 0.5);
  box-shadow: inset 0 1px 3px 0 rgba(162, 162, 162, 0.5);
  padding: 6px 12px;
  font-size: 2rem;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  .form-control:focus, .form-control:active, .form-control:visited, .form-control.selected, .form-control.form-filled {
    background-color: #ffffff;
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: 0 5px 10px 0 rgba(201, 201, 201, 0.3);
    box-shadow: 0 5px 10px 0 rgba(201, 201, 201, 0.3); }

.outer-select-options {
  position: relative; }
  .outer-select-options select option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .outer-select-options:after {
    content: '';
    position: absolute;
    top: 20px;
    right: 15px;
    border: solid #908e8b;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); }

#wrapper {
  position: relative;
  min-height: 100vh; }
  #wrapper > .wrapper-edge {
    position: relative;
    min-height: calc(100vh - 100px);
    height: 100%;
    width: 100%;
    z-index: 5; }
  #wrapper.background {
    background-size: cover !important; }
    #wrapper.background:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.3); }
    #wrapper.background.background-video-game {
      background: url("../img/background/video-game/video-game@2x.png") no-repeat center center fixed; }
    #wrapper.background.background-beach {
      background: url("../img/background/beach/beach@2x.png") no-repeat center center fixed; }
    #wrapper.background.backgrond-carnival {
      background: url("../img/background/carnival/carnival@2x.png") no-repeat center center fixed; }
    #wrapper.background.background-forest {
      background: url("../img/background/forest/forest@2x.png") no-repeat center center fixed; }
    #wrapper.background.background-mountains {
      background: url("../img/background/mountains/mountains@2x.png") no-repeat center center fixed; }
    #wrapper.background.background-space {
      background: url("../img/background/space/space@2x.png") no-repeat center center fixed; }
  #wrapper.page .box-outer-position {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 100%;
    max-width: 864px;
    max-height: 100%; }
    #wrapper.page .box-outer-position .section-top {
      position: relative; }
      #wrapper.page .box-outer-position .section-top .link-to-home {
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
        left: -60px; }
        #wrapper.page .box-outer-position .section-top .link-to-home a {
          position: relative;
          display: block;
          height: 60px;
          width: 60px;
          background-image: url("../img/circle.png");
          background-size: contain; }
          #wrapper.page .box-outer-position .section-top .link-to-home a:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            height: 28px;
            width: 28px;
            background-image: url("../img/icon-home.png"); }
      #wrapper.page .box-outer-position .section-top .link-circle {
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
        right: -60px; }
        #wrapper.page .box-outer-position .section-top .link-circle.close a {
          background-image: url("../img/circle.png"); }
          #wrapper.page .box-outer-position .section-top .link-circle.close a:after {
            background-image: url("../img/cross.png"); }
        #wrapper.page .box-outer-position .section-top .link-circle a {
          position: relative;
          display: block;
          height: 60px;
          width: 60px;
          background-image: url("../img/circle.png");
          background-size: contain; }
          #wrapper.page .box-outer-position .section-top .link-circle a:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            height: 28px;
            width: 28px;
            background-image: url("../img/icon-summary.png"); }
      #wrapper.page .box-outer-position .section-top .link-circle-signout {
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
        right: -60px; }
        #wrapper.page .box-outer-position .section-top .link-circle-signout a {
          position: relative;
          display: block;
          height: 60px;
          width: 60px;
          background-image: url("../img/circle-blue.png");
          background-size: contain;
          color: #ffffff;
          font-family: 'Boogaloo', cursive, Arial;
          letter-spacing: 1px;
          padding-top: 15px; }
          #wrapper.page .box-outer-position .section-top .link-circle-signout a span {
            display: block;
            text-align: center;
            line-height: 16px; }
          #wrapper.page .box-outer-position .section-top .link-circle-signout a:hover {
            color: rgba(255, 255, 255, 0.5);
            opacity: 0.9; }
      #wrapper.page .box-outer-position .section-top .information {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        max-width: 750px;
        height: 90px;
        line-height: 30px;
        border-radius: 100px;
        padding: 15px 75px 15px 110px;
        background-image: linear-gradient(176deg, #fefefe, #f7f7f7);
        box-shadow: 0 2px 10px 0 rgba(155, 155, 155, 0.5);
        text-align: center; }
        #wrapper.page .box-outer-position .section-top .information.two-lines span {
          line-height: 30px; }
        #wrapper.page .box-outer-position .section-top .information span {
          display: block;
          font-size: 1.8rem;
          font-weight: 500; }
        #wrapper.page .box-outer-position .section-top .information .light {
          position: absolute;
          top: -35px;
          left: -75px; }
          #wrapper.page .box-outer-position .section-top .information .light:after {
            content: '';
            height: 100px;
            width: 100px;
            background-image: url("../img/lightbulb.gif");
            background-size: contain;
            display: block; }
        #wrapper.page .box-outer-position .section-top .information .avatar-closeup {
          position: absolute;
          top: 50%;
          -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          transform: translate(0, -50%);
          left: -5px;
          height: 100px;
          width: 100px;
          background-size: contain;
          overflow: hidden; }
          #wrapper.page .box-outer-position .section-top .information .avatar-closeup img {
            height: 100%; }
        #wrapper.page .box-outer-position .section-top .information .sound {
          position: absolute;
          top: 50%;
          -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          transform: translate(0, -50%);
          right: 20px;
          height: 55px;
          width: 55px;
          background-size: contain;
          border-radius: 100%;
          overflow: hidden;
          cursor: pointer;
          background-image: url("../img/circle-light.png"); }
          #wrapper.page .box-outer-position .section-top .information .sound.sound-off:after {
            content: '';
            position: absolute;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
            height: 27px;
            width: 27px;
            background-image: url("../img/sound-off.png");
            background-size: contain;
            right: 14px; }
          #wrapper.page .box-outer-position .section-top .information .sound.sound-on:after {
            content: '';
            position: absolute;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
            height: 27px;
            width: 27px;
            background-image: url("../img/sound-on.png");
            background-size: contain;
            right: 14px; }
    #wrapper.page .box-outer-position .section-content {
      border-radius: 8px;
      background: rgba(247, 247, 247, 0.95);
      -webkit-box-shadow: 0 2px 10px 0 rgba(155, 155, 155, 0.5);
      box-shadow: 0 2px 10px 0 rgba(155, 155, 155, 0.5);
      padding: 20px 30px;
      margin: 10px 0;
      min-height: 466px; }
      #wrapper.page .box-outer-position .section-content:after {
        display: table;
        content: '';
        clear: both; }
      #wrapper.page .box-outer-position .section-content.no-backgrond {
        background: transparent;
        -webkit-box-shadow: none;
        box-shadow: none; }
      #wrapper.page .box-outer-position .section-content h3 {
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        margin: 5px 0 20px 0; }
        #wrapper.page .box-outer-position .section-content h3.location {
          padding-left: 10px;
          padding-right: 10px;
          margin-bottom: -5px !important; }
      #wrapper.page .box-outer-position .section-content button {
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        text-decoration: none;
        background-color: transparent;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none; }
        #wrapper.page .box-outer-position .section-content button:focus {
          outline: none;
          outline-offset: -2px;
          border: none; }
    #wrapper.page .box-outer-position .outer-buttons {
      text-align: center; }
    #wrapper.page .box-outer-position .section-bottom .outer-buttons {
      text-align: center; }
      #wrapper.page .box-outer-position .section-bottom .outer-buttons:after {
        content: '';
        display: table;
        clear: both; }
  #wrapper.page.login .box-outer-position {
    max-width: 464px;
    width: 100%; }
    #wrapper.page.login .box-outer-position .section-content {
      padding: 10px 60px 20px; }
      #wrapper.page.login .box-outer-position .section-content .logo {
        display: block;
        margin: 20px auto;
        width: 100%;
        max-width: 235px; }
        #wrapper.page.login .box-outer-position .section-content .logo img {
          width: 100%; }
      #wrapper.page.login .box-outer-position .section-content .outer-login .form-group {
        margin-bottom: 25px; }
        #wrapper.page.login .box-outer-position .section-content .outer-login .form-group label {
          font-size: 1.8rem;
          font-family: "CerebriSans-SemiBold", sans-serif, Arial;
          margin-bottom: 10px; }
      #wrapper.page.login .box-outer-position .section-content .outer-login .forgot {
        text-align: center; }
        #wrapper.page.login .box-outer-position .section-content .outer-login .forgot a {
          color: #3f84d4; }
  #wrapper.page.tutorial-screen .box-outer-position .section-content.introduction {
    height: 364px;
    width: 364px;
    min-height: 0;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    margin: 30px auto;
    position: relative; }
    #wrapper.page.tutorial-screen .box-outer-position .section-content.introduction .outer-avatar {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      width: 250px;
      height: 250px;
      overflow: hidden; }
      #wrapper.page.tutorial-screen .box-outer-position .section-content.introduction .outer-avatar img {
        width: 100%;
        height: 100%; }
  #wrapper.page.tutorial-screen .box-outer-position .section-content .outer-image-jar {
    position: relative;
    height: 296px;
    width: 290px;
    margin: 40px auto; }
    #wrapper.page.tutorial-screen .box-outer-position .section-content .outer-image-jar img {
      width: 100%; }
    #wrapper.page.tutorial-screen .box-outer-position .section-content .outer-image-jar .jar {
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      top: 0;
      width: 270px;
      height: 270px; }
    #wrapper.page.tutorial-screen .box-outer-position .section-content .outer-image-jar .content-inside {
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      bottom: 26px;
      height: 208px;
      width: 200px; }
      #wrapper.page.tutorial-screen .box-outer-position .section-content .outer-image-jar .content-inside.opacity-half {
        opacity: 0.5; }
    #wrapper.page.tutorial-screen .box-outer-position .section-content .outer-image-jar .base {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 26px;
      width: 100%; }
  #wrapper.page.tutorial-screen .box-outer-position .section-content .outer-image-activity-diary {
    position: relative;
    height: 390px;
    width: 390px;
    margin: 0 auto; }
    #wrapper.page.tutorial-screen .box-outer-position .section-content .outer-image-activity-diary .image-activity-diary img {
      width: 100%; }
  #wrapper.page.tutorial-screen .box-outer-position .section-content .wrapper-step {
    margin: 0 auto; }
    #wrapper.page.tutorial-screen .box-outer-position .section-content .wrapper-step.outer-tutorial-reward {
      margin: 50px auto 0; }
    #wrapper.page.tutorial-screen .box-outer-position .section-content .wrapper-step .outer-step {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center;
      margin-bottom: 25px; }
      #wrapper.page.tutorial-screen .box-outer-position .section-content .wrapper-step .outer-step li {
        display: inline-block;
        font-size: 2rem;
        color: #ffffff;
        position: relative;
        width: 99px;
        height: 50px;
        margin: 0 45px;
        background-image: url("../img/tutorial/label-step.png");
        background-size: contain; }
        #wrapper.page.tutorial-screen .box-outer-position .section-content .wrapper-step .outer-step li.step-inactive {
          opacity: 0.3; }
        #wrapper.page.tutorial-screen .box-outer-position .section-content .wrapper-step .outer-step li:first-child:after {
          display: none; }
        #wrapper.page.tutorial-screen .box-outer-position .section-content .wrapper-step .outer-step li:after {
          content: '';
          display: block;
          height: 2px;
          width: 99px;
          background: #db9219;
          position: absolute;
          top: 50%;
          -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -o-transform: translate(0, -50%);
          transform: translate(0, -50%);
          left: -97px; }
        #wrapper.page.tutorial-screen .box-outer-position .section-content .wrapper-step .outer-step li span {
          display: block;
          height: 50px;
          line-height: 50px;
          padding-right: 15px; }
    #wrapper.page.tutorial-screen .box-outer-position .section-content .wrapper-step .image-step {
      margin: 20px auto 50px;
      text-align: center;
      font-size: 0; }
      #wrapper.page.tutorial-screen .box-outer-position .section-content .wrapper-step .image-step .list-image-step {
        display: inline-block;
        width: 168px;
        height: 167px;
        margin: 0 10px; }
        #wrapper.page.tutorial-screen .box-outer-position .section-content .wrapper-step .image-step .list-image-step img {
          width: 100%; }
  #wrapper.page.profile-creation-avatar .box-outer-position .section-top .information {
    padding: 15px 90px 15px 30px; }
  #wrapper.page.profile-creation-avatar .box-outer-position .section-content .choose-avatar {
    font-size: 0;
    margin-bottom: -20px; }
    #wrapper.page.profile-creation-avatar .box-outer-position .section-content .choose-avatar:after {
      display: table;
      content: '';
      clear: both; }
    #wrapper.page.profile-creation-avatar .box-outer-position .section-content .choose-avatar .list-avatar {
      display: inline-block;
      padding: 0 20px 50px;
      cursor: pointer; }
      #wrapper.page.profile-creation-avatar .box-outer-position .section-content .choose-avatar .list-avatar.selected .outer-image:before {
        content: '';
        display: block;
        position: absolute;
        left: -18px;
        top: -13px;
        width: 113px;
        height: 60px;
        background: url("../img/selected/selected.png");
        z-index: 2; }
      #wrapper.page.profile-creation-avatar .box-outer-position .section-content .choose-avatar .list-avatar.selected .outer-image:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 4px solid #52b287;
        border-radius: 7px; }
      #wrapper.page.profile-creation-avatar .box-outer-position .section-content .choose-avatar .list-avatar.selected .outer-image .name {
        box-shadow: 0 2px 10px 0 rgba(155, 155, 155, 0.5); }
      #wrapper.page.profile-creation-avatar .box-outer-position .section-content .choose-avatar .list-avatar.not-selected .outer-image {
        opacity: 0.2; }
      #wrapper.page.profile-creation-avatar .box-outer-position .section-content .choose-avatar .list-avatar .outer-image {
        position: relative;
        height: 110px;
        width: 110px;
        border-radius: 7px;
        margin-bottom: -15px; }
        #wrapper.page.profile-creation-avatar .box-outer-position .section-content .choose-avatar .list-avatar .outer-image img {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          width: 100%;
          height: auto;
          border-radius: 7px; }
        #wrapper.page.profile-creation-avatar .box-outer-position .section-content .choose-avatar .list-avatar .outer-image .name {
          position: absolute;
          left: 0;
          width: 100%;
          font-size: 1.6rem;
          background-color: #ffffff;
          bottom: -15px;
          height: 30px;
          border-radius: 13.5px;
          z-index: 3; }
          #wrapper.page.profile-creation-avatar .box-outer-position .section-content .choose-avatar .list-avatar .outer-image .name span {
            text-align: center;
            display: block;
            height: 30px;
            line-height: 30px; }
  #wrapper.page.profile-creation-avatar .box-outer-position .section-content .selected-avatar-display {
    width: 300px; }
    #wrapper.page.profile-creation-avatar .box-outer-position .section-content .selected-avatar-display .outer-image {
      position: relative;
      width: 300px;
      height: 300px;
      border-radius: 7px;
      overflow: hidden; }
      #wrapper.page.profile-creation-avatar .box-outer-position .section-content .selected-avatar-display .outer-image img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        width: 100%; }
    #wrapper.page.profile-creation-avatar .box-outer-position .section-content .selected-avatar-display .outer-form {
      margin-top: 30px; }
      #wrapper.page.profile-creation-avatar .box-outer-position .section-content .selected-avatar-display .outer-form .form-group {
        margin-bottom: 0; }
        #wrapper.page.profile-creation-avatar .box-outer-position .section-content .selected-avatar-display .outer-form .form-group label {
          font-size: 2rem; }
  #wrapper.page.profile-creation-background .section-content .choose-background {
    font-size: 0;
    margin-bottom: -20px; }
    #wrapper.page.profile-creation-background .section-content .choose-background:after {
      display: table;
      content: '';
      clear: both; }
    #wrapper.page.profile-creation-background .section-content .choose-background .list-background {
      display: inline-block;
      padding: 0 10px 50px;
      cursor: pointer; }
      #wrapper.page.profile-creation-background .section-content .choose-background .list-background.selected .outer-image:before {
        content: '';
        display: block;
        position: absolute;
        left: -18px;
        top: -13px;
        width: 113px;
        height: 60px;
        background: url("../img/selected/selected.png");
        z-index: 2; }
      #wrapper.page.profile-creation-background .section-content .choose-background .list-background.selected .outer-image:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 4px solid #52b287;
        border-radius: 7px; }
      #wrapper.page.profile-creation-background .section-content .choose-background .list-background.selected .outer-image .name {
        box-shadow: 0 2px 10px 0 rgba(155, 155, 155, 0.5); }
      #wrapper.page.profile-creation-background .section-content .choose-background .list-background.not-selected .outer-image {
        opacity: 0.2; }
      #wrapper.page.profile-creation-background .section-content .choose-background .list-background .outer-image {
        position: relative;
        width: 248px;
        height: 186px;
        border-radius: 7px;
        margin-bottom: -16px; }
        #wrapper.page.profile-creation-background .section-content .choose-background .list-background .outer-image img {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          border-radius: 7px; }
        #wrapper.page.profile-creation-background .section-content .choose-background .list-background .outer-image .name {
          position: absolute;
          left: 50%;
          -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
          -o-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
          width: 80%;
          font-size: 1.6rem;
          background-color: #ffffff;
          bottom: -16px;
          height: 32px;
          border-radius: 100px;
          z-index: 3; }
          #wrapper.page.profile-creation-background .section-content .choose-background .list-background .outer-image .name span {
            text-align: center;
            display: block;
            height: 32px;
            line-height: 32px; }
  #wrapper.page.about-yourself .form-birthday {
    width: 85%;
    margin: 0 auto 30px; }
  #wrapper.page.about-yourself .choose-gender {
    font-size: 0;
    margin-bottom: -20px;
    text-align: center; }
    #wrapper.page.about-yourself .choose-gender:after {
      display: table;
      content: '';
      clear: both; }
    #wrapper.page.about-yourself .choose-gender .list-gender {
      display: inline-block;
      padding: 0 10px 50px;
      cursor: pointer; }
      #wrapper.page.about-yourself .choose-gender .list-gender.selected .outer-image {
        -webkit-box-shadow: 0 4px 10px 0 rgba(41, 41, 41, 0.1);
        box-shadow: 0 4px 10px 0 rgba(41, 41, 41, 0.1); }
      #wrapper.page.about-yourself .choose-gender .list-gender.not-selected .outer-image {
        opacity: 0.2; }
      #wrapper.page.about-yourself .choose-gender .list-gender .outer-image {
        position: relative;
        padding: 25px 0;
        width: 200px;
        height: 200px;
        border-radius: 4px;
        background: #ffffff;
        text-align: center; }
        #wrapper.page.about-yourself .choose-gender .list-gender .outer-image img {
          display: block;
          margin: 0 auto;
          width: 100px;
          height: 100px;
          border-radius: 100%; }
        #wrapper.page.about-yourself .choose-gender .list-gender .outer-image .name {
          margin-top: 20px;
          font-size: 1.8rem;
          background-color: #ffffff;
          font-weight: 400; }
          #wrapper.page.about-yourself .choose-gender .list-gender .outer-image .name span {
            text-align: center;
            display: block; }
  #wrapper.page.about-yourself-day .choose-day {
    font-size: 0;
    text-align: center; }
    #wrapper.page.about-yourself-day .choose-day:after {
      display: table;
      content: '';
      clear: both; }
    #wrapper.page.about-yourself-day .choose-day .list-day {
      display: inline-block;
      padding: 50px 10px;
      cursor: pointer; }
      #wrapper.page.about-yourself-day .choose-day .list-day.selected .outer-image {
        -webkit-box-shadow: 0 4px 10px 0 rgba(41, 41, 41, 0.1);
        box-shadow: 0 4px 10px 0 rgba(41, 41, 41, 0.1); }
      #wrapper.page.about-yourself-day .choose-day .list-day.not-selected .outer-image {
        opacity: 0.2; }
      #wrapper.page.about-yourself-day .choose-day .list-day .outer-image {
        position: relative;
        padding: 50px 0;
        width: 300px;
        height: 300px;
        border-radius: 4px;
        background: #ffffff;
        text-align: center; }
        #wrapper.page.about-yourself-day .choose-day .list-day .outer-image .image-calendar {
          position: relative;
          display: block;
          margin: 0 auto;
          width: 100px;
          height: 100px; }
          #wrapper.page.about-yourself-day .choose-day .list-day .outer-image .image-calendar.calendar-today:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
            bottom: 10px;
            width: 46px;
            height: 46px;
            background-image: url("../img/calendar/circled.png"); }
          #wrapper.page.about-yourself-day .choose-day .list-day .outer-image .image-calendar img {
            width: 100%;
            height: 100%; }
          #wrapper.page.about-yourself-day .choose-day .list-day .outer-image .image-calendar .day {
            position: absolute;
            left: 50%;
            -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
            font-family: 'Boogaloo', cursive, Arial;
            letter-spacing: 1px;
            color: #5b5454;
            font-size: 4.8rem;
            bottom: 0; }
        #wrapper.page.about-yourself-day .choose-day .list-day .outer-image .name {
          margin-top: 25px;
          font-size: 1.8rem;
          background-color: #ffffff;
          font-weight: 400; }
          #wrapper.page.about-yourself-day .choose-day .list-day .outer-image .name span {
            text-align: center;
            display: block; }
            #wrapper.page.about-yourself-day .choose-day .list-day .outer-image .name span:first-child {
              font-family: "CerebriSans-SemiBold", sans-serif, Arial; }
  #wrapper.page.about-yourself-sleep button {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none; }
    #wrapper.page.about-yourself-sleep button:focus {
      outline: none;
      outline-offset: -2px;
      border: none; }
  #wrapper.page.about-yourself-sleep .time-sleep-form {
    border-radius: 4px;
    background-color: #ffffff;
    padding: 35px 65px;
    width: 53%;
    margin: 0 auto; }
    #wrapper.page.about-yourself-sleep .time-sleep-form > .row > [class^="col"] {
      padding: 0; }
    #wrapper.page.about-yourself-sleep .time-sleep-form .time-sleep:after {
      display: table;
      content: '';
      clear: both; }
    #wrapper.page.about-yourself-sleep .time-sleep-form .time-sleep h4 {
      font-weight: 400;
      text-align: center;
      margin-bottom: 10px;
      font-size: 1.8rem; }
    #wrapper.page.about-yourself-sleep .time-sleep-form .time-sleep .form-control {
      text-align: center;
      background: #ffffff;
      border-radius: 0;
      font-size: 74px;
      height: 80px;
      padding: 0;
      border: 0 transparent;
      -webkit-box-shadow: none;
      box-shadow: none; }
    #wrapper.page.about-yourself-sleep .time-sleep-form .time-sleep .hour {
      float: left;
      width: 48%;
      padding: 0 5px;
      position: relative; }
      #wrapper.page.about-yourself-sleep .time-sleep-form .time-sleep .hour:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; }
      #wrapper.page.about-yourself-sleep .time-sleep-form .time-sleep .hour .hour-1, #wrapper.page.about-yourself-sleep .time-sleep-form .time-sleep .hour .hour-2 {
        float: left;
        width: 50%;
        padding: 0 5px; }
    #wrapper.page.about-yourself-sleep .time-sleep-form .time-sleep .dots {
      float: left;
      width: 4%;
      text-align: center;
      font-size: 4rem;
      padding-top: 7px; }
    #wrapper.page.about-yourself-sleep .time-sleep-form .time-sleep .minute {
      float: left;
      width: 48%;
      padding: 0 5px;
      position: relative; }
      #wrapper.page.about-yourself-sleep .time-sleep-form .time-sleep .minute:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%; }
      #wrapper.page.about-yourself-sleep .time-sleep-form .time-sleep .minute .minute-1, #wrapper.page.about-yourself-sleep .time-sleep-form .time-sleep .minute .minute-2 {
        float: left;
        width: 50%;
        padding: 0 5px; }
    #wrapper.page.about-yourself-sleep .time-sleep-form .text-am-pm {
      font-size: 44px;
      padding-top: 18px; }
  #wrapper.page.about-yourself-sleep .button-am-pm > div {
    text-align: center;
    padding: 5px 0;
    display: inline-block; }
  #wrapper.page.about-yourself-sleep .outer-buttons-number {
    position: relative;
    width: 77%;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
    padding: 20px 60px 5px; }
    #wrapper.page.about-yourself-sleep .outer-buttons-number:after {
      display: table;
      content: '';
      clear: both; }
    #wrapper.page.about-yourself-sleep .outer-buttons-number .list-button {
      display: inline-block;
      padding: 5px; }
      #wrapper.page.about-yourself-sleep .outer-buttons-number .list-button button {
        display: block; }
    #wrapper.page.about-yourself-sleep .outer-buttons-number .button-clear {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      right: 0; }
  #wrapper.page.activity-diary button {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none; }
    #wrapper.page.activity-diary button:focus {
      outline: none;
      outline-offset: -2px;
      border: none; }
  #wrapper.page.activity-diary .section-top .information span {
    line-height: 30px; }
  #wrapper.page.activity-diary h3 {
    margin-top: 5px !important;
    margin-bottom: 15px !important; }
  #wrapper.page.activity-diary .choose-activity {
    font-size: 0; }
    #wrapper.page.activity-diary .choose-activity:after {
      display: table;
      content: '';
      clear: both; }
    #wrapper.page.activity-diary .choose-activity.four-col .list-activity .outer-image {
      width: 181px !important; }
    #wrapper.page.activity-diary .choose-activity.activity-indoors-outdoors {
      text-align: center; }
      #wrapper.page.activity-diary .choose-activity.activity-indoors-outdoors .list-activity {
        margin-bottom: 20px; }
        #wrapper.page.activity-diary .choose-activity.activity-indoors-outdoors .list-activity .outer-image {
          width: 300px !important;
          height: auto;
          padding: 20px 0; }
          #wrapper.page.activity-diary .choose-activity.activity-indoors-outdoors .list-activity .outer-image .image-activity {
            width: 205px;
            height: 154px; }
          #wrapper.page.activity-diary .choose-activity.activity-indoors-outdoors .list-activity .outer-image .name {
            margin-top: 10px;
            font-size: 2rem; }
        #wrapper.page.activity-diary .choose-activity.activity-indoors-outdoors .list-activity .desc {
          width: 205px;
          font-size: 1.6rem;
          margin-top: 10px;
          margin-bottom: 0;
          margin-left: auto;
          margin-right: auto; }
    #wrapper.page.activity-diary .choose-activity .list-activity {
      display: inline-block;
      padding: 10px;
      cursor: pointer; }
      #wrapper.page.activity-diary .choose-activity .list-activity.selected .outer-image {
        -webkit-box-shadow: 0 4px 10px 0 rgba(41, 41, 41, 0.1);
        box-shadow: 0 4px 10px 0 rgba(41, 41, 41, 0.1); }
      #wrapper.page.activity-diary .choose-activity .list-activity.selected-multiple .outer-image {
        position: relative; }
        #wrapper.page.activity-diary .choose-activity .list-activity.selected-multiple .outer-image:after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          border: 4px solid #52b287;
          border-radius: 5px; }
        #wrapper.page.activity-diary .choose-activity .list-activity.selected-multiple .outer-image:before {
          content: '';
          display: block;
          position: absolute;
          top: 10px;
          right: 10px;
          height: 26px;
          width: 26px;
          background-image: url("../img/tick.png");
          background-size: contain; }
      #wrapper.page.activity-diary .choose-activity .list-activity.not-selected .outer-image {
        opacity: 0.2; }
      #wrapper.page.activity-diary .choose-activity .list-activity .outer-image {
        position: relative;
        padding: 10px 0;
        width: 248px;
        height: 140px;
        border-radius: 4px;
        background: #ffffff;
        text-align: center; }
        #wrapper.page.activity-diary .choose-activity .list-activity .outer-image .image-activity {
          position: relative;
          display: block;
          margin: 0 auto;
          width: 84px;
          height: 84px; }
          #wrapper.page.activity-diary .choose-activity .list-activity .outer-image .image-activity img {
            width: auto;
            height: 100%; }
        #wrapper.page.activity-diary .choose-activity .list-activity .outer-image .name {
          margin-top: 5px;
          font-size: 1.4rem;
          background-color: #ffffff;
          font-weight: 400; }
          #wrapper.page.activity-diary .choose-activity .list-activity .outer-image .name span {
            text-align: center;
            display: block;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap; }
    #wrapper.page.activity-diary .choose-activity .outer-form-other {
      width: 248px;
      margin: 10px auto; }
      #wrapper.page.activity-diary .choose-activity .outer-form-other:after {
        display: table;
        content: '';
        clear: both; }
      #wrapper.page.activity-diary .choose-activity .outer-form-other label {
        float: left;
        width: 30%;
        font-size: 1.8rem;
        font-family: "CerebriSans-SemiBold", sans-serif, Arial;
        text-align: left;
        height: 50px;
        line-height: 50px;
        margin-bottom: 0; }
      #wrapper.page.activity-diary .choose-activity .outer-form-other .form-other {
        float: left;
        width: 70%;
        position: relative; }
        #wrapper.page.activity-diary .choose-activity .outer-form-other .form-other .outer-suggestion {
          position: absolute;
          width: 100%;
          left: 0;
          bottom: 100%;
          background: #ffffff;
          list-style-type: none;
          margin: 0;
          padding: 0;
          font-size: 1.6rem;
          border-radius: 5px 5px 0 0;
          -webkit-box-shadow: 0 -2px 5px 0 rgba(41, 41, 41, 0.1);
          box-shadow: 0 -2px 5px 0 rgba(41, 41, 41, 0.1); }
          #wrapper.page.activity-diary .choose-activity .outer-form-other .form-other .outer-suggestion li {
            padding: 7px;
            opacity: 0.8;
            cursor: pointer; }
  #wrapper.page.activity-diary .activity-location {
    margin: 10px 0; }
  #wrapper.page.activity-diary .choose-intensity {
    font-size: 0;
    text-align: center;
    margin: 60px 0; }
    #wrapper.page.activity-diary .choose-intensity:after {
      display: table;
      content: '';
      clear: both; }
    #wrapper.page.activity-diary .choose-intensity .list-intensity {
      display: inline-block;
      vertical-align: top;
      padding: 5px;
      cursor: pointer; }
      #wrapper.page.activity-diary .choose-intensity .list-intensity.selected .outer-image .image-activity {
        border: 5px solid #52b287;
        width: 89px;
        height: 89px; }
        #wrapper.page.activity-diary .choose-intensity .list-intensity.selected .outer-image .image-activity img {
          width: 89px;
          height: 89px; }
      #wrapper.page.activity-diary .choose-intensity .list-intensity.not-selected .outer-image {
        opacity: 0.2; }
      #wrapper.page.activity-diary .choose-intensity .list-intensity .outer-image {
        position: relative;
        padding: 10px 0;
        width: 140px;
        text-align: center; }
        #wrapper.page.activity-diary .choose-intensity .list-intensity .outer-image .image-activity {
          position: relative;
          display: block;
          margin: 0 auto;
          width: 84px;
          height: 84px;
          border-radius: 100%; }
          #wrapper.page.activity-diary .choose-intensity .list-intensity .outer-image .image-activity img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            width: auto;
            height: 100%; }
        #wrapper.page.activity-diary .choose-intensity .list-intensity .outer-image .name {
          margin-top: 15px;
          font-size: 1.6rem;
          font-weight: 400; }
          #wrapper.page.activity-diary .choose-intensity .list-intensity .outer-image .name span {
            text-align: center;
            display: block;
            font-family: 'CerebriSans-SemiBold', sans-serif; }
  #wrapper.page.activity-diary .time-duration-form {
    border-radius: 4px;
    background-color: #ffffff;
    padding: 15px;
    width: 65%;
    margin: 0 auto; }
    #wrapper.page.activity-diary .time-duration-form.activity-sitting {
      width: 45%;
      padding: 15px 5px; }
      #wrapper.page.activity-diary .time-duration-form.activity-sitting .minute, #wrapper.page.activity-diary .time-duration-form.activity-sitting .hour {
        padding: 0 5px;
        float: left;
        width: 48%; }
        #wrapper.page.activity-diary .time-duration-form.activity-sitting .minute:after, #wrapper.page.activity-diary .time-duration-form.activity-sitting .hour:after {
          display: table;
          content: '';
          clear: both; }
        #wrapper.page.activity-diary .time-duration-form.activity-sitting .minute .minute-1, #wrapper.page.activity-diary .time-duration-form.activity-sitting .minute .minute-2, #wrapper.page.activity-diary .time-duration-form.activity-sitting .minute .hour-1, #wrapper.page.activity-diary .time-duration-form.activity-sitting .minute .hour-2, #wrapper.page.activity-diary .time-duration-form.activity-sitting .hour .minute-1, #wrapper.page.activity-diary .time-duration-form.activity-sitting .hour .minute-2, #wrapper.page.activity-diary .time-duration-form.activity-sitting .hour .hour-1, #wrapper.page.activity-diary .time-duration-form.activity-sitting .hour .hour-2 {
          float: left;
          width: 50%;
          padding: 0 5px; }
    #wrapper.page.activity-diary .time-duration-form .time-duration:after {
      display: table;
      content: '';
      clear: both; }
    #wrapper.page.activity-diary .time-duration-form .time-duration h4 {
      font-weight: 400;
      text-align: center;
      margin-bottom: 10px;
      font-size: 1.8rem; }
    #wrapper.page.activity-diary .time-duration-form .time-duration .form-control {
      text-align: center;
      background: #ffffff;
      border-radius: 0;
      font-size: 74px;
      height: 80px;
      border: 0 transparent;
      padding: 0;
      -webkit-box-shadow: none;
      box-shadow: none; }
    #wrapper.page.activity-diary .time-duration-form .time-duration .minute {
      padding: 0 5px; }
      #wrapper.page.activity-diary .time-duration-form .time-duration .minute:after {
        display: table;
        content: '';
        clear: both; }
      #wrapper.page.activity-diary .time-duration-form .time-duration .minute .minute-1, #wrapper.page.activity-diary .time-duration-form .time-duration .minute .minute-2 {
        padding: 0 5px;
        float: left;
        width: 50%; }
    #wrapper.page.activity-diary .time-duration-form .time-duration .dots {
      float: left;
      width: 4%;
      text-align: center;
      font-size: 4rem;
      padding-top: 7px; }
    #wrapper.page.activity-diary .time-duration-form .time-duration .from-to {
      float: left;
      width: 100%;
      text-align: center;
      margin-top: 10px;
      font-size: 1.6rem;
      letter-spacing: 0.5px; }
  #wrapper.page.activity-diary .button-am-pm > div {
    text-align: center;
    padding: 5px 0;
    display: inline-block; }
  #wrapper.page.activity-diary .outer-buttons-number {
    position: relative;
    width: 77%;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
    padding: 15px 60px 0px; }
    #wrapper.page.activity-diary .outer-buttons-number:after {
      display: table;
      content: '';
      clear: both; }
    #wrapper.page.activity-diary .outer-buttons-number .list-button {
      display: inline-block;
      padding: 5px; }
      #wrapper.page.activity-diary .outer-buttons-number .list-button button {
        display: block; }
    #wrapper.page.activity-diary .outer-buttons-number .button-clear {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      right: 0; }
  #wrapper.page.activity-diary .outer-summary {
    margin: 0 -30px -20px;
    border-radius: 0 0 8px 8px;
    max-height: 400px;
    overflow-x: auto; }
    #wrapper.page.activity-diary .outer-summary .space-below {
      height: 100px; }
    #wrapper.page.activity-diary .outer-summary .list-summary {
      background-color: #ffffff;
      margin-bottom: 2px;
      padding: 15px 20px;
      font-size: 1.7rem; }
      #wrapper.page.activity-diary .outer-summary .list-summary:last-child {
        border-radius: 0 0 8px 8px; }
      #wrapper.page.activity-diary .outer-summary .list-summary:after {
        display: table;
        content: '';
        clear: both; }
      #wrapper.page.activity-diary .outer-summary .list-summary.multiple {
        position: relative; }
        #wrapper.page.activity-diary .outer-summary .list-summary.multiple > div {
          float: none; }
        #wrapper.page.activity-diary .outer-summary .list-summary.multiple .row-multiple {
          padding-bottom: 15px; }
          #wrapper.page.activity-diary .outer-summary .list-summary.multiple .row-multiple > div {
            float: left; }
          #wrapper.page.activity-diary .outer-summary .list-summary.multiple .row-multiple:after {
            display: table;
            content: '';
            clear: both; }
      #wrapper.page.activity-diary .outer-summary .list-summary .row-single:after {
        display: table;
        content: '';
        clear: both; }
      #wrapper.page.activity-diary .outer-summary .list-summary .row-single > div {
        float: left; }
      #wrapper.page.activity-diary .outer-summary .list-summary .outer-image {
        width: 15%; }
        #wrapper.page.activity-diary .outer-summary .list-summary .outer-image .image-activity {
          width: 67px;
          height: 67px; }
          #wrapper.page.activity-diary .outer-summary .list-summary .outer-image .image-activity img {
            height: 100%;
            width: 100%; }
      #wrapper.page.activity-diary .outer-summary .list-summary .time {
        width: 30%;
        margin-top: 20px; }
      #wrapper.page.activity-diary .outer-summary .list-summary .activity {
        width: 30%;
        margin-top: 20px; }
        #wrapper.page.activity-diary .outer-summary .list-summary .activity .main-activity {
          position: relative; }
          #wrapper.page.activity-diary .outer-summary .list-summary .activity .main-activity span {
            font-family: "CerebriSans-SemiBold", sans-serif, Arial; }
          #wrapper.page.activity-diary .outer-summary .list-summary .activity .main-activity.has-sub-activity {
            overflow: hidden; }
            #wrapper.page.activity-diary .outer-summary .list-summary .activity .main-activity.has-sub-activity.show-sub .sub-activity {
              max-height: 350px; }
            #wrapper.page.activity-diary .outer-summary .list-summary .activity .main-activity.has-sub-activity.show-sub .arrow {
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
              top: 9px; }
            #wrapper.page.activity-diary .outer-summary .list-summary .activity .main-activity.has-sub-activity.hide-sub .sub-activity {
              max-height: 0; }
            #wrapper.page.activity-diary .outer-summary .list-summary .activity .main-activity.has-sub-activity.hide-sub .arrow {
              -webkit-transform: rotate(-135deg);
              transform: rotate(-135deg); }
          #wrapper.page.activity-diary .outer-summary .list-summary .activity .main-activity .arrow {
            position: absolute;
            cursor: pointer;
            right: 40px;
            top: 3px;
            width: 10px;
            height: 10px;
            background: transparent;
            text-indent: -9999px;
            border-top: 2px solid #bfbfbf;
            border-left: 2px solid #bfbfbf; }
          #wrapper.page.activity-diary .outer-summary .list-summary .activity .main-activity .sub-activity, #wrapper.page.activity-diary .outer-summary .list-summary .activity .main-activity .specific-activity {
            list-style-type: none;
            margin: 0;
            padding: 0;
            font-size: 1.6rem;
            -webkit-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            transition: all 0.5s ease; }
      #wrapper.page.activity-diary .outer-summary .list-summary .indoors-outdoors {
        width: 15%;
        margin-top: 20px; }
      #wrapper.page.activity-diary .outer-summary .list-summary .edit {
        width: 10%; }
        #wrapper.page.activity-diary .outer-summary .list-summary .edit:after {
          display: table;
          content: '';
          clear: both; }
        #wrapper.page.activity-diary .outer-summary .list-summary .edit a {
          float: right;
          display: block;
          width: 60px;
          height: 60px;
          background-image: url("../img/circle.png");
          background-size: contain;
          position: relative; }
          #wrapper.page.activity-diary .outer-summary .list-summary .edit a:before {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            height: 28px;
            width: 28px;
            content: '';
            background-image: url("../img/edit.png"); }
  #wrapper.page.rewards .outer-image-rewards .image-rewards {
    height: 336px;
    width: 340px;
    text-align: center;
    margin: 30px auto; }
    #wrapper.page.rewards .outer-image-rewards .image-rewards img {
      height: 100%; }
  #wrapper.page.rewards .outer-image-growth .image-growth .outer-image-jar {
    position: relative;
    height: 281px;
    width: 290px;
    margin: 0 auto 10px auto; }
    #wrapper.page.rewards .outer-image-growth .image-growth .outer-image-jar img {
      width: 100%; }
    #wrapper.page.rewards .outer-image-growth .image-growth .outer-image-jar .jar {
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      top: 0px;
      width: 270px;
      height: 270px; }
    #wrapper.page.rewards .outer-image-growth .image-growth .outer-image-jar .content-inside {
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      bottom: 26px;
      height: 208px;
      width: 200px; }
      #wrapper.page.rewards .outer-image-growth .image-growth .outer-image-jar .content-inside.opacity-half {
        opacity: 0.5; }
    #wrapper.page.rewards .outer-image-growth .image-growth .outer-image-jar .base {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 26px;
      width: 100%; }
  #wrapper.page.rewards .outer-image-growth .image-growth .outer-action {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    border: 5px solid #ffffff;
    text-align: center;
    font-size: 0;
    width: 600px;
    margin: 0 auto; }
    #wrapper.page.rewards .outer-image-growth .image-growth .outer-action:after {
      display: table;
      content: '';
      clear: both; }
    #wrapper.page.rewards .outer-image-growth .image-growth .outer-action .list-action {
      position: relative;
      display: inline-block;
      width: 25%; }
      #wrapper.page.rewards .outer-image-growth .image-growth .outer-action .list-action.disable img {
        opacity: 0.2; }
      #wrapper.page.rewards .outer-image-growth .image-growth .outer-action .list-action.locked:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        height: 120px;
        width: 120px;
        background-image: url("../img/lock.png");
        background-size: contain; }
  #wrapper.page.food-record .section-content {
    overflow: hidden;
    min-height: 435px; }
    #wrapper.page.food-record .section-content .space-below {
      height: 100px; }
    #wrapper.page.food-record .section-content.food-portion-content .food-portion, #wrapper.page.food-record .section-content.food-summary .food-portion {
      margin-left: -30px;
      margin-right: -30px; }
    #wrapper.page.food-record .section-content.food-portion-content h3, #wrapper.page.food-record .section-content.food-summary h3 {
      margin-top: 0; }
    #wrapper.page.food-record .section-content .food-record-with-sidebar {
      margin: -20px -30px;
      width: auto; }
      #wrapper.page.food-record .section-content .food-record-with-sidebar .nav-foods {
        width: 25%;
        float: left; }
      #wrapper.page.food-record .section-content .food-record-with-sidebar .food-grid {
        float: left;
        width: 75%; }
        #wrapper.page.food-record .section-content .food-record-with-sidebar .food-grid.scrolling {
          max-height: 445px; }
  #wrapper.page.food-record .top-content {
    padding: 0 10px;
    margin-bottom: 10px; }
    #wrapper.page.food-record .top-content:after {
      display: table;
      content: '';
      clear: both; }
    #wrapper.page.food-record .top-content .left-title {
      float: left;
      width: 70%; }
      #wrapper.page.food-record .top-content .left-title h3 {
        text-align: left !important;
        margin: 12px 0 !important; }
    #wrapper.page.food-record .top-content .right-search {
      float: left;
      width: 30%;
      position: relative; }
      #wrapper.page.food-record .top-content .right-search:after {
        content: '';
        height: 28px;
        width: 28px;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
        right: 7px;
        background-image: url("../img/search.png");
        opacity: 0.5; }
      #wrapper.page.food-record .top-content .right-search input {
        padding-right: 30px; }
  #wrapper.page.food-record .nav-foods {
    position: relative;
    padding-top: 0; }
    #wrapper.page.food-record .nav-foods .arrow {
      position: absolute;
      bottom: 0;
      height: 51px;
      width: 100%;
      background: rgba(255, 255, 255, 0.8);
      z-index: 1;
      padding-top: 15px;
      text-align: center;
      cursor: pointer;
      display: none;
      left: 0; }
      #wrapper.page.food-record .nav-foods .arrow:after {
        content: "";
        border: solid #444444;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 5px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg); }
    #wrapper.page.food-record .nav-foods ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      background: #ffffff;
      max-height: 395px;
      overflow-x: auto; }
      #wrapper.page.food-record .nav-foods ul:after {
        display: table;
        content: '';
        clear: both; }
      #wrapper.page.food-record .nav-foods ul li {
        position: relative; }
        #wrapper.page.food-record .nav-foods ul li.active a {
          font-family: "CerebriSans-SemiBold", sans-serif, Arial;
          opacity: 1;
          position: relative;
          background-color: rgba(255, 179, 53, 0.15); }
          #wrapper.page.food-record .nav-foods ul li.active a:after {
            content: '';
            position: absolute;
            top: 33%;
            right: -5px;
            width: 26px;
            height: 16px;
            background-image: url("../img/indicator.png");
            background-size: contain;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg); }
        #wrapper.page.food-record .nav-foods ul li a {
          line-height: normal;
          font-size: 2rem;
          display: block;
          padding: 7px 15px;
          opacity: 0.6; }
  #wrapper.page.food-record .food-grid {
    font-size: 0; }
    #wrapper.page.food-record .food-grid.scrolling {
      max-height: 375px;
      overflow-x: auto;
      margin-bottom: -5px; }
      #wrapper.page.food-record .food-grid.scrolling.food-summary {
        max-height: 300px; }
    #wrapper.page.food-record .food-grid:after {
      display: table;
      content: '';
      clear: both; }
    #wrapper.page.food-record .food-grid.four-col .list-food-grid .outer-image {
      width: 181px !important; }
    #wrapper.page.food-record .food-grid.food-portion .list-portion {
      padding-left: 30px;
      padding-right: 30px;
      background: rgba(255, 255, 255, 0.7); }
      #wrapper.page.food-record .food-grid.food-portion .list-portion:nth-child(even) {
        background: #f7f7f7; }
        #wrapper.page.food-record .food-grid.food-portion .list-portion:nth-child(even) .portion {
          margin-top: 10px;
          margin-bottom: 10px; }
      #wrapper.page.food-record .food-grid.food-portion .list-portion:nth-child(odd) .list-food-grid {
        padding-top: 0;
        padding-bottom: 0; }
      #wrapper.page.food-record .food-grid.food-portion .list-portion:after {
        display: table;
        content: '';
        clear: both; }
      #wrapper.page.food-record .food-grid.food-portion .list-portion .food {
        float: left;
        width: 25%; }
        #wrapper.page.food-record .food-grid.food-portion .list-portion .food .list-food-grid {
          float: none;
          padding-left: 0;
          padding-right: 0; }
          #wrapper.page.food-record .food-grid.food-portion .list-portion .food .list-food-grid .outer-image {
            width: 100%;
            height: 130px; }
            #wrapper.page.food-record .food-grid.food-portion .list-portion .food .list-food-grid .outer-image .image-food {
              height: 64px; }
              #wrapper.page.food-record .food-grid.food-portion .list-portion .food .list-food-grid .outer-image .image-food img {
                height: 100%; }
            #wrapper.page.food-record .food-grid.food-portion .list-portion .food .list-food-grid .outer-image .name {
              font-size: 1.6rem; }
      #wrapper.page.food-record .food-grid.food-portion .list-portion .portion {
        float: left;
        width: 18.7%;
        height: 130px;
        position: relative; }
        #wrapper.page.food-record .food-grid.food-portion .list-portion .portion .image-portion {
          text-align: center;
          border-radius: 5px;
          background-color: #ffffff;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%); }
          #wrapper.page.food-record .food-grid.food-portion .list-portion .portion .image-portion.not-selected {
            opacity: 0.5; }
          #wrapper.page.food-record .food-grid.food-portion .list-portion .portion .image-portion.selected {
            border: 6px solid #52b287;
            border-radius: 5px; }
            #wrapper.page.food-record .food-grid.food-portion .list-portion .portion .image-portion.selected img {
              border: 2px solid #ffffff;
              border-radius: 0; }
          #wrapper.page.food-record .food-grid.food-portion .list-portion .portion .image-portion .no-image-portion {
            display: table;
            text-align: center;
            width: 115px;
            height: 90px; }
            #wrapper.page.food-record .food-grid.food-portion .list-portion .portion .image-portion .no-image-portion .text-portion {
              display: table-cell;
              vertical-align: middle;
              color: #444444;
              font-size: 14px; }
              #wrapper.page.food-record .food-grid.food-portion .list-portion .portion .image-portion .no-image-portion .text-portion span {
                display: block; }
          #wrapper.page.food-record .food-grid.food-portion .list-portion .portion .image-portion img {
            width: 115px;
            border-radius: 5px; }
    #wrapper.page.food-record .food-grid .list-portion .list-food-grid {
      width: auto; }
    #wrapper.page.food-record .food-grid .list-food-grid {
      float: left;
      padding: 10px;
      cursor: pointer;
      width: 33.333%; }
      #wrapper.page.food-record .food-grid .list-food-grid.selected .outer-image {
        -webkit-box-shadow: 0 4px 10px 0 rgba(41, 41, 41, 0.1);
        box-shadow: 0 4px 10px 0 rgba(41, 41, 41, 0.1); }
      #wrapper.page.food-record .food-grid .list-food-grid.selected-multiple .outer-image {
        position: relative; }
        #wrapper.page.food-record .food-grid .list-food-grid.selected-multiple .outer-image:after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          border: 4px solid #52b287;
          border-radius: 5px; }
        #wrapper.page.food-record .food-grid .list-food-grid.selected-multiple .outer-image:before {
          content: '';
          display: block;
          position: absolute;
          top: 10px;
          right: 10px;
          height: 26px;
          width: 26px;
          background-image: url("../img/tick.png");
          background-size: contain;
          z-index: 9; }
      #wrapper.page.food-record .food-grid .list-food-grid.selected-edit .outer-image:after {
        border: 4px solid #ffb335; }
      #wrapper.page.food-record .food-grid .list-food-grid.selected-edit .outer-image:before {
        background-image: url("../img/edit-selected.png"); }
      #wrapper.page.food-record .food-grid .list-food-grid.selected-delete .outer-image:after {
        border: 4px solid #e0394d; }
      #wrapper.page.food-record .food-grid .list-food-grid.selected-delete .outer-image:before {
        background-image: url("../img/delete-selected.png"); }
      #wrapper.page.food-record .food-grid .list-food-grid.not-selected .outer-image {
        opacity: 0.2; }
      #wrapper.page.food-record .food-grid .list-food-grid .outer-image {
        position: relative;
        padding: 10px 0;
        border-radius: 4px;
        background: #ffffff;
        text-align: center; }
        #wrapper.page.food-record .food-grid .list-food-grid .outer-image .image-food {
          position: relative;
          display: block;
          margin: 0 auto;
          width: auto;
          height: 84px;
          border-radius: 5px;
          overflow: hidden; }
          #wrapper.page.food-record .food-grid .list-food-grid .outer-image .image-food img {
            width: auto;
            height: 100%; }
        #wrapper.page.food-record .food-grid .list-food-grid .outer-image .name {
          margin-top: 5px;
          font-size: 1.4rem;
          background-color: #ffffff;
          font-weight: 400; }
          #wrapper.page.food-record .food-grid .list-food-grid .outer-image .name span {
            text-align: center;
            display: block;
            height: 42px;
            padding: 0 5px;
            overflow: hidden; }
    #wrapper.page.food-record .food-grid .outer-form-other {
      width: 248px;
      margin: 10px auto; }
      #wrapper.page.food-record .food-grid .outer-form-other:after {
        display: table;
        content: '';
        clear: both; }
      #wrapper.page.food-record .food-grid .outer-form-other label {
        float: left;
        width: 30%;
        font-size: 1.8rem;
        font-family: "CerebriSans-SemiBold", sans-serif, Arial;
        text-align: left;
        height: 50px;
        line-height: 50px;
        margin-bottom: 0; }
      #wrapper.page.food-record .food-grid .outer-form-other .form-other {
        float: left;
        width: 70%; }
  #wrapper.page.food-record .outer-button-action {
    margin: 0 -30px 15px -30px;
    background: rgba(255, 255, 255, 0.8);
    padding: 15px 30px;
    text-align: center; }
    #wrapper.page.food-record .outer-button-action .list-button-action {
      display: inline-block;
      position: relative; }
      #wrapper.page.food-record .outer-button-action .list-button-action.has-sub.show-sub .sub-button {
        max-height: 350px; }
      #wrapper.page.food-record .outer-button-action .list-button-action.has-sub.show-sub .arrow {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg); }
      #wrapper.page.food-record .outer-button-action .list-button-action.has-sub.show-sub .sub-button {
        border: solid 1px #f3f3f3;
        box-shadow: 0 2px 4px 0 rgba(197, 197, 197, 0.5); }
      #wrapper.page.food-record .outer-button-action .list-button-action.has-sub.hide-sub .sub-button {
        max-height: 0; }
      #wrapper.page.food-record .outer-button-action .list-button-action.has-sub .arrow {
        position: absolute;
        cursor: pointer;
        top: 14px;
        right: 25px;
        width: 18px;
        height: 18px;
        background-image: url("../img/arrow-down.png");
        background-size: contain;
        -webkit-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease; }
      #wrapper.page.food-record .outer-button-action .list-button-action.has-sub .sub-button {
        position: absolute;
        left: 0;
        top: calc(100% + 5px);
        width: 100%;
        background: #ffffff;
        list-style-type: none;
        overflow: hidden;
        margin: 0;
        padding: 0;
        font-size: 1.6rem;
        -webkit-transition: all 0.5s ease;
        -ms-transition: all 0.5s ease;
        transition: all 0.5s ease;
        border-radius: 10px;
        z-index: 1; }
        #wrapper.page.food-record .outer-button-action .list-button-action.has-sub .sub-button li:not(:last-child) {
          border-bottom: 1px solid #f3f3f3; }
        #wrapper.page.food-record .outer-button-action .list-button-action.has-sub .sub-button li a {
          display: block;
          padding: 10px 5px; }
  #wrapper.page.home-states .section-content.evaluation-report {
    padding: 0;
    overflow: hidden; }
  #wrapper.page.home-states .outer-evaluation-report {
    position: relative;
    padding: 20px 20px 0;
    max-height: 400px;
    overflow-x: auto; }
    #wrapper.page.home-states .outer-evaluation-report:after {
      display: table;
      content: '';
      clear: both; }
    #wrapper.page.home-states .outer-evaluation-report .page-of {
      position: fixed;
      top: 120px;
      left: 30px;
      background: rgba(216, 216, 216, 0.7);
      border-radius: 8px;
      width: 100px;
      height: 40px;
      text-align: center;
      z-index: 5; }
      #wrapper.page.home-states .outer-evaluation-report .page-of span {
        line-height: 40px; }
    #wrapper.page.home-states .outer-evaluation-report .list-evaluation-report {
      float: left;
      width: 50%;
      padding: 10px; }
      #wrapper.page.home-states .outer-evaluation-report .list-evaluation-report .outer-content {
        background: #ffffff;
        border-radius: 4px;
        padding: 10px 20px;
        height: 290px; }
        #wrapper.page.home-states .outer-evaluation-report .list-evaluation-report .outer-content h4 {
          font-size: 2rem;
          font-weight: 400; }
        #wrapper.page.home-states .outer-evaluation-report .list-evaluation-report .outer-content p {
          font-size: 1.6rem;
          letter-spacing: 0.3px;
          margin: 0;
          overflow: hidden;
          line-height: 1.4; }
        #wrapper.page.home-states .outer-evaluation-report .list-evaluation-report .outer-content .duration {
          margin: 20px 0;
          padding: 40px 0 60px 0;
          position: relative; }
          #wrapper.page.home-states .outer-evaluation-report .list-evaluation-report .outer-content .duration .current {
            font-size: 1.3rem;
            position: absolute;
            top: -40px;
            margin-left: -55px; }
          #wrapper.page.home-states .outer-evaluation-report .list-evaluation-report .outer-content .duration .recommended {
            position: absolute;
            left: 50%;
            -webkit-transform: translate(-50%, 0);
            -ms-transform: translate(-50%, 0);
            -o-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
            top: 84px;
            font-size: 1.3rem;
            z-index: 1; }
            #wrapper.page.home-states .outer-evaluation-report .list-evaluation-report .outer-content .duration .recommended:after {
              content: '';
              position: absolute;
              left: 50%;
              -webkit-transform: translate(-50%, 0);
              -ms-transform: translate(-50%, 0);
              -o-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
              border-left: 2px dashed #979797;
              height: 42px;
              top: -44px; }
          #wrapper.page.home-states .outer-evaluation-report .list-evaluation-report .outer-content .duration .bar {
            height: 10px;
            border-radius: 10px;
            background-color: #dadada;
            position: relative; }
            #wrapper.page.home-states .outer-evaluation-report .list-evaluation-report .outer-content .duration .bar .bar-fill {
              position: absolute;
              left: 0;
              top: 0;
              height: 10px;
              border-radius: 10px; }
              #wrapper.page.home-states .outer-evaluation-report .list-evaluation-report .outer-content .duration .bar .bar-fill.bar-yellow {
                background: #ffdd2f; }
              #wrapper.page.home-states .outer-evaluation-report .list-evaluation-report .outer-content .duration .bar .bar-fill.bar-green {
                background: #89dd35; }
              #wrapper.page.home-states .outer-evaluation-report .list-evaluation-report .outer-content .duration .bar .bar-fill.bar-blue {
                background: #45acef; }
            #wrapper.page.home-states .outer-evaluation-report .list-evaluation-report .outer-content .duration .bar .icon {
              position: absolute;
              top: 50%;
              -webkit-transform: translate(0, -50%);
              -ms-transform: translate(0, -50%);
              -o-transform: translate(0, -50%);
              transform: translate(0, -50%);
              height: 42px;
              width: 42px;
              background-size: contain;
              margin-left: -21px;
              z-index: 2; }
              #wrapper.page.home-states .outer-evaluation-report .list-evaluation-report .outer-content .duration .bar .icon.icon-yellow {
                background-image: url("../img/home-states/mid.png"); }
              #wrapper.page.home-states .outer-evaluation-report .list-evaluation-report .outer-content .duration .bar .icon.icon-green {
                background-image: url("../img/home-states/good.png"); }
              #wrapper.page.home-states .outer-evaluation-report .list-evaluation-report .outer-content .duration .bar .icon.icon-blue {
                background-image: url("../img/home-states/bad.png"); }
    #wrapper.page.home-states .outer-evaluation-report .outer-dietary-intake {
      background: #ededed;
      clear: both;
      margin: 20px -20px -20px;
      padding: 0 20px;
      border-radius: 0 0 10px 10px; }
      #wrapper.page.home-states .outer-evaluation-report .outer-dietary-intake:after {
        display: table;
        content: '';
        clear: both; }
      #wrapper.page.home-states .outer-evaluation-report .outer-dietary-intake h3 {
        margin: 0;
        padding: 10px 0 5px 10px;
        text-align: left; }
      #wrapper.page.home-states .outer-evaluation-report .outer-dietary-intake .list-dietary-intake {
        float: left;
        width: 50%;
        padding: 10px; }
        #wrapper.page.home-states .outer-evaluation-report .outer-dietary-intake .list-dietary-intake .outer-content {
          background: #ffffff;
          border-radius: 4px;
          padding: 10px 20px;
          height: 240px;
          position: relative; }
          #wrapper.page.home-states .outer-evaluation-report .outer-dietary-intake .list-dietary-intake .outer-content .icon {
            position: absolute;
            display: block;
            top: 12px;
            right: 15px;
            height: 42px;
            width: 42px;
            background-size: contain; }
            #wrapper.page.home-states .outer-evaluation-report .outer-dietary-intake .list-dietary-intake .outer-content .icon.icon-yellow {
              background-image: url("../img/home-states/mid.png"); }
            #wrapper.page.home-states .outer-evaluation-report .outer-dietary-intake .list-dietary-intake .outer-content .icon.icon-green {
              background-image: url("../img/home-states/good.png"); }
            #wrapper.page.home-states .outer-evaluation-report .outer-dietary-intake .list-dietary-intake .outer-content .icon.icon-blue {
              background-image: url("../img/home-states/bad.png"); }
          #wrapper.page.home-states .outer-evaluation-report .outer-dietary-intake .list-dietary-intake .outer-content h4 {
            font-size: 2rem;
            font-weight: 400;
            margin-top: 10px;
            margin-bottom: 15px; }
          #wrapper.page.home-states .outer-evaluation-report .outer-dietary-intake .list-dietary-intake .outer-content p {
            font-size: 1.6rem;
            letter-spacing: 0.3px;
            margin: 0;
            overflow: hidden;
            max-height: 48px;
            line-height: 1.4; }
          #wrapper.page.home-states .outer-evaluation-report .outer-dietary-intake .list-dietary-intake .outer-content .content-middle {
            height: 110px;
            position: relative;
            margin: 0 -5px; }
            #wrapper.page.home-states .outer-evaluation-report .outer-dietary-intake .list-dietary-intake .outer-content .content-middle:after {
              content: '';
              display: table;
              clear: both; }
            #wrapper.page.home-states .outer-evaluation-report .outer-dietary-intake .list-dietary-intake .outer-content .content-middle .taken-not-taken {
              width: calc(50% - 10px);
              margin: 20px 5px;
              padding: 10px 15px;
              background: #f1f1f1;
              text-align: center;
              font-size: 1.6rem;
              position: relative;
              float: left; }
              #wrapper.page.home-states .outer-evaluation-report .outer-dietary-intake .list-dietary-intake .outer-content .content-middle .taken-not-taken.active:before {
                display: block; }
              #wrapper.page.home-states .outer-evaluation-report .outer-dietary-intake .list-dietary-intake .outer-content .content-middle .taken-not-taken:before {
                display: none;
                content: '';
                position: absolute;
                left: 7px;
                top: 9px;
                height: 25px;
                width: 25px;
                background-image: url("../img/tick.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover; }
            #wrapper.page.home-states .outer-evaluation-report .outer-dietary-intake .list-dietary-intake .outer-content .content-middle .outer-portion {
              text-align: center; }
              #wrapper.page.home-states .outer-evaluation-report .outer-dietary-intake .list-dietary-intake .outer-content .content-middle .outer-portion .list-portion {
                display: inline-block;
                height: 60px;
                width: 60px;
                position: relative;
                text-align: center; }
                #wrapper.page.home-states .outer-evaluation-report .outer-dietary-intake .list-dietary-intake .outer-content .content-middle .outer-portion .list-portion > span {
                  opacity: 0.9; }
                #wrapper.page.home-states .outer-evaluation-report .outer-dietary-intake .list-dietary-intake .outer-content .content-middle .outer-portion .list-portion.recommended:before {
                  content: '';
                  position: absolute;
                  left: calc(50% - 8px);
                  top: 100%;
                  height: 11px;
                  width: 16px;
                  background-image: url("../img/angle.png");
                  background-size: contain;
                  -webkit-transform: rotate(180deg);
                  transform: rotate(180deg); }
                #wrapper.page.home-states .outer-evaluation-report .outer-dietary-intake .list-dietary-intake .outer-content .content-middle .outer-portion .list-portion.recommended:after {
                  content: 'Recommended';
                  position: absolute;
                  left: 50%;
                  -webkit-transform: translate(-50%, 0);
                  -ms-transform: translate(-50%, 0);
                  -o-transform: translate(-50%, 0);
                  transform: translate(-50%, 0);
                  top: calc(100% + 15px);
                  font-size: 1.3rem;
                  opacity: 0.9; }
                #wrapper.page.home-states .outer-evaluation-report .outer-dietary-intake .list-dietary-intake .outer-content .content-middle .outer-portion .list-portion.portion-blur img {
                  opacity: 0.3; }
                #wrapper.page.home-states .outer-evaluation-report .outer-dietary-intake .list-dietary-intake .outer-content .content-middle .outer-portion .list-portion img {
                  height: 100%; }

.lightbox {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9998; }
  .lightbox.show {
    display: block; }
  .lightbox.hide {
    display: none; }
  .lightbox .outer-lightbox-content {
    width: 600px;
    background: #f7f7f7;
    border-radius: 8px;
    padding: 40px 20px 20px;
    position: relative;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%); }
    .lightbox .outer-lightbox-content.no-red-icon:before {
      display: none; }
    .lightbox .outer-lightbox-content:before {
      content: '';
      position: absolute;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      -o-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      top: -31px;
      height: 62px;
      width: 62px;
      background-image: url("../img/odd.png");
      background-size: contain; }
    .lightbox .outer-lightbox-content .lightbox-content h3 {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 500;
      margin: 0 0 20px 0; }
    .lightbox .outer-lightbox-content .lightbox-content .time {
      margin-bottom: 20px;
      text-align: center; }
      .lightbox .outer-lightbox-content .lightbox-content .time.activity span {
        letter-spacing: normal;
        padding: 0 2px; }
        .lightbox .outer-lightbox-content .lightbox-content .time.activity span.timer {
          font-weight: 600; }
        .lightbox .outer-lightbox-content .lightbox-content .time.activity span.am-pm {
          font-weight: 400; }
      .lightbox .outer-lightbox-content .lightbox-content .time span {
        font-weight: 500;
        letter-spacing: 7px; }
        .lightbox .outer-lightbox-content .lightbox-content .time span.timer {
          font-size: 5.5rem; }
        .lightbox .outer-lightbox-content .lightbox-content .time span.am-pm {
          font-size: 3.5rem; }
    .lightbox .outer-lightbox-content .lightbox-content .paragraph {
      width: 80%;
      margin: 20px auto; }
      .lightbox .outer-lightbox-content .lightbox-content .paragraph p {
        font-size: 1.8rem;
        line-height: 1.9; }

/*# sourceMappingURL=main.css.map */
