// base.scss
@font-face {
  font-family: 'CerebriSans-Regular';
  src: url('../fonts/cerebri-sans/CerebriSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/cerebri-sans/CerebriSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cerebri-sans/CerebriSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cerebri-sans/CerebriSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/cerebri-sans/CerebriSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cerebri-sans/CerebriSans-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'CerebriSans-SemiBold';
  src: url('../fonts/cerebri-sans/CerebriSans-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/cerebri-sans/CerebriSans-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cerebri-sans/CerebriSans-SemiBold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cerebri-sans/CerebriSans-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/cerebri-sans/CerebriSans-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cerebri-sans/CerebriSans-SemiBold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'CerebriSans-Bold';
  src: url('../fonts/cerebri-sans/CerebriSans-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/cerebri-sans/CerebriSans-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/cerebri-sans/CerebriSans-Bold.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/cerebri-sans/CerebriSans-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/cerebri-sans/CerebriSans-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/cerebri-sans/CerebriSans-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@mixin body-font {
  font-family: "CerebriSans-Regular", sans-serif, Arial;
}
@mixin body-font-bold {
  font-family: "CerebriSans-Bold", sans-serif, Arial;
}
@mixin body-font-semi-bold {
  font-family: "CerebriSans-SemiBold", sans-serif, Arial;
}
@mixin absolute-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
@mixin absolute-center-v {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
@mixin absolute-center-h {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
@mixin transition {
  -webkit-ransition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
@mixin clear {
  display: table;
  content: '';
  clear: both;
}
@mixin font-button {
  font-family: 'Boogaloo', cursive, Arial;
  letter-spacing: 1px;
}

$color-main-font: #444444;
$color-white: #ffffff;

$color-transparent-dark: rgba(0,0,0,0.5);
$color-transparent-white: rgba(255,255,255,0.5);
