// layout.scss

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: 100%;
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
	@include body-font;
	font-weight: 300;
	color: $color-main-font;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
strong {
	@include body-font-bold;
	font-weight: normal;
}
label {
	@include body-font-semi-bold;
	font-weight: normal;
}
a {
	color: black;
	text-decoration: none;
	&:hover {
		color: $color-main-font;
		text-decoration: none;
	}
  &:focus {
    outline: 0;
		text-decoration: none;
  }
}

/*
* Navbar
*/

header {

}
.text-center {
	text-align: center;
}

// buttons set
.img-btn {
	font-family: 'Boogaloo', cursive, Arial;
	width: 160px;
	height: 46px;
	margin-left: 5px;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	text-transform: uppercase;
	color: $color-white;
	text-align: center;
	line-height: 46px;
	letter-spacing: 1px;
	font-size: 2.2rem;
	&:hover, &:visited {
		color: $color-white
	}
	&:focus {
		color: rgba(255,255,255,0.5);
		opacity: 0.9;
	}

	&.btn-green {
		background-image: url('../img/buttons/btn-green.png');
		&.btn-long {
			background-image: url('../img/buttons/btn-green-long.png');
			width: 260px;
		}
	}
	&.btn-blue {
		background-image: url('../img/buttons/btn-blue.png');
	}
	&.btn-orange-light {
		background-image: url('../img/buttons/btn-orange-light.png');
	}
	&.btn-orange {
		background-image: url('../img/buttons/btn-orange.png');
		&.btn-short {
			background-image: url('../img/buttons/btn-orange-short.png');
			width: 120px;
			font-size: 2.4rem;
		}
	}
	&.btn-red {
		background-image: url('../img/buttons/btn-red.png');
	}
	&.btn-inactive {
		background-image: url('../img/buttons/btn-inactive.png');
		color: #b0b0b0;
		cursor: not-allowed;
		&.btn-long {
			background-image: url('../img/buttons/btn-inactive-long.png');
			width: 260px;
		}
		&.btn-short {
			background-image: url('../img/buttons/btn-inactive-short.png');
			width: 120px;
			font-size: 2.4rem;
		}
	}
	&.btn-number {
		background-image: url('../img/buttons/btn-number.png');
		height: 48px;
		width: 98px;
		font-size: 2.8rem;
	}
}

// replace bootstrap form style
.form-control {
	display: block;
	width: 100%;
	height: 50px;
  border-radius: 2px;
  background-color: #e8e8e8;
	-webkit-box-shadow: inset 0 1px 3px 0 rgba(162, 162, 162, 0.5);
  box-shadow: inset 0 1px 3px 0 rgba(162, 162, 162, 0.5);
	padding: 6px 12px;
	font-size: 2rem;
	border: none;
	-webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
	&:focus, &:active, &:visited, &.selected, &.form-filled {
		background-color: $color-white;
		border-color: transparent;
		outline: 0;
		-webkit-box-shadow: 0 5px 10px 0 rgba(201, 201, 201, 0.3);
		box-shadow: 0 5px 10px 0 rgba(201, 201, 201, 0.3);
	}
}
.outer-select-options {
	position: relative;
	select {
		option {
			-webkit-appearance: none;
		  -moz-appearance:    none;
		  appearance:         none;
		}
	}
	&:after {
		content: '';
		position: absolute;
		top: 20px;
		right: 15px;
		border: solid #908e8b;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
		transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
	}
}
