// themes.scss
#wrapper {
	position: relative;
	height: 100%;
	width: 100%;
	> .wrapper-edge {
		position: relative;
		height: 100%;
		width: 100%;
		min-width: 992px;
		min-height: 700px;
	}
	&.background {
		background-size: cover !important;
		&.background-video-game {
			background: url('../img/background/video-game/video-game@2x.png') no-repeat center top;
		}
		&.background-beach {
			background: url('../img/background/beach/beach@2x.png') no-repeat center top;
		}
		&.backgrond-carnival {
			background: url('../img/background/carnival/carnival@2x.png') no-repeat center top;
		}
		&.background-forest {
			background: url('../img/background/forest/forest@2x.png') no-repeat center top;
		}
		&.background-mountains {
			background: url('../img/background/mountains/mountains@2x.png') no-repeat center top;
		}
		&.background-space {
			background: url('../img/background/space/space@2x.png') no-repeat center top;
		}
	}

	&.page {
		.box-outer-position {
			@include absolute-center;
			width: 100%;
			max-width: 864px;
			max-height: 100%;
			.section-top {
				position: relative;
				.link-to-home {
					@include absolute-center-v;
					left: -60px;
					a {
						position: relative;
						display: block;
						height: 60px;
						width: 60px;
						background-image: url('../img/circle.png');
						background-size: contain;
						&:after {
							content: '';
							@include absolute-center;
							height: 28px;
							width: 28px;
							background-image: url('../img/icon-home.png');
						}
					}
				}
				.link-circle {
					@include absolute-center-v;
					right: -60px;
					a {
						position: relative;
						display: block;
						height: 60px;
						width: 60px;
						background-image: url('../img/circle.png');
						background-size: contain;
						&:after {
							content: '';
							@include absolute-center;
							height: 28px;
							width: 28px;
							background-image: url('../img/icon-summary.png');
						}
					}
				}
				.link-circle-signout {
					@include absolute-center-v;
					right: -60px;
					a {
						position: relative;
						display: block;
						height: 60px;
						width: 60px;
						background-image: url('../img/circle-blue.png');
						background-size: contain;
						color: $color-white;
						@include font-button;
						padding-top: 15px;
						span {
							display: block;
							text-align: center;
							line-height: 16px;
						}
						&:hover {
							color: rgba(255,255,255,0.5);
							opacity: 0.9;
						}
					}
				}
				.information {
					position: relative;
					width: 100%;
					margin: 0 auto;
					max-width: 700px;
					height: 90px;
					line-height: 30px;
					border-radius: 100px;
					padding: 15px 95px;
				  background-image: linear-gradient(176deg, #fefefe, #f7f7f7);
				  box-shadow: 0 2px 10px 0 rgba(155, 155, 155, 0.5);
					text-align: center;
					&.two-lines {
						span {
							line-height: 30px;
						}
					}
					span {
						display: block;
						font-size: 1.8rem;
						font-weight: 500;
						line-height: 60px;
					}
					.avatar-closeup {
						@include absolute-center-v;
						left: -5px;
						height: 100px;
						width: 100px;
						background-size: contain;
						border-radius: 100%;
						overflow: hidden;
					}
					.sound {
						@include absolute-center-v;
						right: 20px;
						height: 55px;
						width: 55px;
						background-size: contain;
						border-radius: 100%;
						overflow: hidden;
						cursor: pointer;
						background-image: url('../img/circle-light.png');
						&.sound-off {
							&:after {
								content: '';
								@include absolute-center-v;
								height: 27px;
								width: 27px;
								background-image: url('../img/sound-off.png');
								background-size: contain;
								right: 14px;
							}
						}
						&.sound-on {
							&:after {
								content: '';
								@include absolute-center-v;
								height: 27px;
								width: 27px;
								background-image: url('../img/sound-on.png');
								background-size: contain;
								right: 14px;
							}
						}
					}
				}
			}
			.section-content {
				border-radius: 8px;
				background: rgba(247, 247, 247, 0.95);
				box-shadow: 0 2px 10px 0 rgba(155, 155, 155, 0.5);
				padding: 20px 30px;
				margin: 15px 0;
				&:after {
					@include clear;
				}
				h3 {
					text-align: center;
					font-size: 1.8rem;
					font-weight: 500;
					margin: 20px 0;
				}
				button {
					border: none;
					outline: none;
					padding: 0;
					margin: 0;
					text-decoration: none;
					background-color: transparent;
					cursor: pointer;
					-webkit-appearance: none;
					-moz-appearance: none;
					&:focus {
						outline: none;
						outline-offset: -2px;
						border: none;
					}
				}
			}
			.outer-buttons {
				text-align: center;
			}
			.section-bottom {
				.outer-buttons {
					text-align: center;
				}
			}
		}
		&.login {
			.box-outer-position {
				width: 464px;
				.section-content {
					padding: 150px 60px 20px;
					.outer-login {
						.form-group {
							margin-bottom: 25px;
							label {
								font-size: 1.8rem;
								@include body-font-semi-bold;
								margin-bottom: 10px;
							}
						}
						.forgot {
							text-align: center;
							a {
								color: #3f84d4;
							}
						}
					}
				}
			}
		}
		&.tutorial-screen {
			.box-outer-position {
				.section-content {
					&.introduction {
						height: 364px;
						width: 364px;
						-webkit-border-radius: 100%;
						border-radius: 100%;
						margin: 30px auto;
						position: relative;
						.outer-avatar {
							@include absolute-center;
							width: 250px;
							height: 250px;
							img {
								width: 100%;
								height: 100%;
							}
						}
					}
					.outer-image-jar {
						position: relative;
						height: 296px;
						width: 290px;
						margin: 50px auto;
						img {
							width: 100%;
						}
						.jar {
							@include absolute-center-h;
							top: 0;
							width: 270px;
							height: 270px;
						}
						.content-inside {
							@include absolute-center-h;
							bottom: 26px;
							height: 208px;
							width: 200px;
							&.opacity-half {
								opacity: 0.5;
							}
						}
						.base {
							position: absolute;
							bottom: 0;
							left: 0;
							height: 26px;
							width: 100%;
						}
					}
					.outer-image-activity-diary {
						position: relative;
						height: 390px;
						width: 390px;
						margin: 0 auto;
						.image-activity-diary {
							img {
								width: 100%;
							}
						}
					}
					.wrapper-step {
						width: 700px;
						margin: 0 auto;
						&.outer-tutorial-reward {
							margin: 50px auto 0;
						}
						.outer-step {
							list-style-type: none;
							margin: 0;
							padding: 0;
							text-align: center;
							li {
								display: inline-block;
								font-size: 2rem;
								color: $color-white;
								position: relative;
								width: 99px;
								height: 50px;
								margin: 0 60px;
								background-image: url('../img/tutorial/label-step.png');
								background-size: contain;
								&.step-inactive {
									opacity: 0.3;
								}
								&:first-child {
									&:after {
										display: none;
									}
								}
								&:after {
									content: '';
									display: block;
									height: 2px;
									width: 140px;
									background: #db9219;
									@include absolute-center-v;
									left: -140px;
								}
								span {
									display: block;
									height: 50px;
									line-height: 50px;
									padding-right: 15px;
								}
							}
						}
						.image-step {
							width: 700px;
							margin: 20px auto 50px;
							text-align: center;
							font-size: 0;
							.list-image-step {
								display: inline-block;
								width: 168px;
								height: 167px;
								margin: 0 25px;
								img {
									width: 100%;
								}
							}
						}
					}
				}
			}
		}
		&.profile-creation-avatar {
			.box-outer-position {
				.section-top {
					.information {
						padding: 15px 90px 15px 30px;
					}
				}
				.section-content {
					.choose-avatar {
						font-size: 0;
						margin-bottom: -20px;
						&:after {
							@include clear;
						}
						.list-avatar {
							display: inline-block;
							padding: 0 20px 50px;
							cursor: pointer;
							&.selected {
								.outer-image {
									&:before {
										content: '';
										display: block;
										position: absolute;
										left: -18px;
										top: -13px;
										width: 113px;
										height: 60px;
										background: url('../img/selected/selected.png');
										z-index: 2;
									}
									&:after {
										content: '';
										display: block;
										position: absolute;
										left: 0;
										top: 0;
										width: 100%;
										height: 100%;
										border: 4px solid #52b287;
										border-radius: 7px;
									}
									.name {
										box-shadow: 0 2px 10px 0 rgba(155, 155, 155, 0.5);
									}
								}
							}
							&.not-selected {
								.outer-image {
									opacity: 0.6;
								}
							}
							.outer-image {
								position: relative;
								height: 110px;
								width: 110px;
								border-radius: 7px;
								margin-bottom: -15px;
								img {
									@include absolute-center;
									width: 100%;
									height: auto;
									border-radius: 7px;
								}
								.name {
									position: absolute;
									left: 0;
									width: 100%;
									font-size: 1.6rem;
									background-color: $color-white;
									bottom: -15px;
									height: 30px;
  								border-radius: 13.5px;
									z-index: 3;
									span {
										text-align: center;
										display: block;
										height: 30px;
										line-height: 30px;
									}
								}
							}
						}
					}
					.selected-avatar-display {
						width: 300px;
						.outer-image {
							position: relative;
							width: 300px;
							height: 300px;
							border-radius: 7px;
							overflow: hidden;
							img {
								@include absolute-center;
								width: 100%;
							}
						}
						.outer-form {
							margin-top: 30px;
							.form-group {
								margin-bottom: 0;
								label {
									font-size: 2rem;
								}
							}
						}
					}
				}
			}
		}
		&.profile-creation-background {
			.section-top {

			}
			.section-content {
				.choose-background {
					font-size: 0;
					margin-bottom: -20px;
					&:after {
						@include clear;
					}
					.list-background {
						display: inline-block;
						padding: 0 10px 50px;
						cursor: pointer;
						&.selected {
							.outer-image {
								&:before {
									content: '';
									display: block;
									position: absolute;
									left: -18px;
									top: -13px;
									width: 113px;
									height: 60px;
									background: url('../img/selected/selected.png');
									z-index: 2;
								}
								&:after {
									content: '';
									display: block;
									position: absolute;
									left: 0;
									top: 0;
									width: 100%;
									height: 100%;
									border: 4px solid #52b287;
									border-radius: 7px;
								}
								.name {
									box-shadow: 0 2px 10px 0 rgba(155, 155, 155, 0.5);
								}
							}
						}
						&.not-selected {
							.outer-image {
								opacity: 0.6;
							}
						}
						.outer-image {
							position: relative;
							width: 248px;
  						height: 186px;
							border-radius: 7px;
							margin-bottom: -16px;
							img {
								@include absolute-center;
								width: 100%;
								height: 100%;
								border-radius: 7px;
							}
							.name {
								@include absolute-center-h;
								width: 80%;
								font-size: 1.6rem;
								background-color: $color-white;
								bottom: -16px;
								height: 32px;
								border-radius: 100px;
								z-index: 3;
								span {
									text-align: center;
									display: block;
									height: 32px;
									line-height: 32px;
								}
							}
						}
					}
				}
			}
		}
		&.about-yourself {
			.form-birthday {
				width: 85%;
				margin: 0 auto 30px;
			}
			.title-gender {

			}
			.choose-gender {
				font-size: 0;
				margin-bottom: -20px;
				text-align: center;
				&:after {
					@include clear;
				}
				.list-gender {
					display: inline-block;
					padding: 0 10px 50px;
					cursor: pointer;
					&.selected {
						.outer-image {
							-webkit-box-shadow: 0 4px 10px 0 rgba(41, 41, 41, 0.1);
							box-shadow: 0 4px 10px 0 rgba(41, 41, 41, 0.1);
						}
					}
					&.not-selected {
						.outer-image {
							opacity: 0.6;
						}
					}
					.outer-image {
						position: relative;
						padding: 25px 0;
						width: 200px;
						height: 200px;
						border-radius: 4px;
						background: $color-white;
						text-align: center;
						img {
							display: block;
							margin: 0 auto;
							width: 100px;
							height: 100px;
							border-radius: 100%;
						}
						.name {
							margin-top: 20px;
							font-size: 1.8rem;
							background-color: $color-white;
							font-weight: 400;
							span {
								text-align: center;
								display: block;
							}
						}
					}
				}
			}
		}
		&.about-yourself-day {
			.choose-day {
				font-size: 0;
				text-align: center;
				&:after {
					@include clear;
				}
				.list-day {
					display: inline-block;
					padding: 50px 10px;
					cursor: pointer;
					&.selected {
						.outer-image {
							-webkit-box-shadow: 0 4px 10px 0 rgba(41, 41, 41, 0.1);
							box-shadow: 0 4px 10px 0 rgba(41, 41, 41, 0.1);
						}
					}
					&.not-selected {
						.outer-image {
							opacity: 0.6;
						}
					}
					.outer-image {
						position: relative;
						padding: 50px 0;
						width: 300px;
						height: 300px;
						border-radius: 4px;
						background: $color-white;
						text-align: center;
						.image-calendar {
							position: relative;
							display: block;
							margin: 0 auto;
							width: 100px;
							height: 100px;
							&.calendar-today {
								&:after {
									content: '';
									display: block;
									@include absolute-center-h;
									bottom: 10px;
									width: 46px;
									height: 46px;
									background-image: url('../img/calendar/circled.png');
								}
							}
							img {
								width: 100%;
								height: 100%;
							}
							.day {
								@include absolute-center-h;
								@include font-button;
								color: #5b5454;
								font-size: 4.8rem;
								bottom: 0;
							}
						}
						.name {
							margin-top: 25px;
							font-size: 1.8rem;
							background-color: $color-white;
							font-weight: 400;
							span {
								&:first-child {
									@include body-font-semi-bold;
								}
								text-align: center;
								display: block;
							}
						}
					}
				}
			}
		}
		&.about-yourself-sleep {
			button {
				border: none;
				outline: none;
				padding: 0;
				margin: 0;
				text-decoration: none;
				background-color: transparent;
				cursor: pointer;
				-webkit-appearance: none;
				-moz-appearance: none;
				&:focus {
					outline: none;
					outline-offset: -2px;
					border: none;
				}
			}
			.time-sleep-form {
				border-radius: 4px;
				background-color: $color-white;
				padding: 20px;
				width: 75%;
				margin: 0 auto;
				.time-sleep {
					&:after {
						@include clear;
					}
					h4 {
						font-weight: 400;
						text-align: center;
						margin-bottom: 10px;
						font-size: 1.8rem;
					}
					.form-control {
						text-align: center;
						background: $color-white;
						border-radius: 0;
						font-size: 6rem;
						height: 90px;
						border: 0 transparent;
						border-bottom: 1px solid #979797;
						-webkit-box-shadow: none;
					  box-shadow: none;
					}
					.hour {
						float: left;
						width: 48%;
						padding: 0 5px;
						.hour-1, .hour-2 {
							float: left;
							width: 50%;
							padding: 0 5px;
						}
					}
					.dots {
						float: left;
						width: 4%;
						text-align: center;
						font-size: 2rem;
						padding-top: 57px;
					}
					.minute {
						float: left;
						width: 48%;
						padding: 0 5px;
						.minute-1, .minute-2 {
							float: left;
							width: 50%;
							padding: 0 5px;
						}
					}
				}
				.button-am-pm {
					> div {
						text-align: center;
						padding: 5px 0;
					}
				}
			}
			.outer-buttons-number {
				width: 75%;
				margin: 0 auto;
				text-align: center;
				font-size: 0;
				padding: 20px 60px 5px;
				&:after {
					@include clear;
				}
				.list-button {
					display: inline-block;
					padding: 5px;
					button {
						display: block;
					}
				}
			}
		}
		&.activity-diary {
			button {
				border: none;
				outline: none;
				padding: 0;
				margin: 0;
				text-decoration: none;
				background-color: transparent;
				cursor: pointer;
				-webkit-appearance: none;
				-moz-appearance: none;
				&:focus {
					outline: none;
					outline-offset: -2px;
					border: none;
				}
			}
			.section-top {
				.information {
					span {
						line-height: 30px;
					}
				}
			}
			h3 {
				margin-top: 5px !important;
				margin-bottom: 15px !important;
			}
			.choose-activity {
				font-size: 0;
				&:after {
					@include clear;
				}
				.list-activity {
					display: inline-block;
					padding: 10px;
					cursor: pointer;
					&.selected {
						.outer-image {
							-webkit-box-shadow: 0 4px 10px 0 rgba(41, 41, 41, 0.1);
							box-shadow: 0 4px 10px 0 rgba(41, 41, 41, 0.1);
						}
					}
					&.not-selected {
						.outer-image {
							opacity: 0.6;
						}
					}
					.outer-image {
						position: relative;
						padding: 10px 0;
						width: 248px;
						height: 140px;
						border-radius: 4px;
						background: $color-white;
						text-align: center;
						.image-activity {
							position: relative;
							display: block;
							margin: 0 auto;
							width: 84px;
							height: 84px;
							img {
								width: auto;
								height: 100%;
							}
						}
						.name {
							margin-top: 5px;
							font-size: 1.8rem;
							background-color: $color-white;
							font-weight: 400;
							span {
								text-align: center;
								display: block;
							}
						}
					}
				}
				.outer-form-other {
					width: 248px;
					margin: 10px auto;
					&:after {
						@include clear;
					}
					label {
						float: left;
						width: 30%;
						font-size: 1.8rem;
						@include body-font-semi-bold;
						text-align: left;
						height: 50px;
						line-height: 50px;
						margin-bottom: 0;
					}
					.form-other {
						float: left;
						width: 70%;
					}
				}
			}
			.activity-location {
				margin: 50px 0;
				.location {

				}
			}
			.time-duration-form {
				border-radius: 4px;
				background-color: $color-white;
				padding: 20px;
				width: 65%;
				margin: 0 auto;
				.time-duration {
					&:after {
						@include clear;
					}
					h4 {
						font-weight: 400;
						text-align: center;
						margin-bottom: 10px;
						font-size: 1.8rem;
					}
					.form-control {
						text-align: center;
						background: $color-white;
						border-radius: 0;
						font-size: 6rem;
						height: 90px;
						border: 0 transparent;
						border-bottom: 1px solid #979797;
						-webkit-box-shadow: none;
					  box-shadow: none;
					}
					.minute {
						padding: 0 5px;
						.minute-1, .minute-2 {
							float: left;
							width: 50%;
							padding: 0 5px;
						}
					}
				}
				.button-am-pm {
					> div {
						text-align: center;
						padding: 5px 0;
					}
				}
			}
			.outer-buttons-number {
				width: 75%;
				margin: 0 auto;
				text-align: center;
				font-size: 0;
				padding: 20px 60px 5px;
				&:after {
					@include clear;
				}
				.list-button {
					display: inline-block;
					padding: 5px;
					button {
						display: block;
					}
				}
			}
		}
	}
}
.lightbox {
	background: rgba(0,0,0,0.8);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9998;
	&.show {
		display: block;
	}
	&.hide {
		display: none;
	}
	.outer-lightbox-content {
		width: 600px;
		background: #f7f7f7;
		border-radius: 8px;
		padding: 40px 20px 20px;
		position: relative;
		&:before {
			content: '';
			@include absolute-center-h;
			top: -31px;
			height: 62px;
			width: 62px;
			background-image: url('../img/odd.png');
			background-size: contain;
		}
		@include absolute-center;
		.lightbox-content {
			h3 {
				text-align: center;
				font-size: 1.8rem;
				font-weight: 500;
				margin: 0 0 20px 0;
			}
			.time {
				margin-bottom: 20px;
				text-align: center;
				span {
					font-weight: 500;
					letter-spacing: 7px;
					&.timer {
						font-size: 5.5rem;
					}
					&.am-pm {
						font-size: 3.5rem;
					}
				}
			}
		}
	}
}
